<style type="text/css">
	.c-seach-inp {
		height: 30px;
		float: left;
		width: 300px;
		text-indent: 12px;
		border-radius: 0;
		border-left: none;
	}

	.c-seach-btn {
		padding: 0 10px;
		border: 1px solid #ececec;
		border-left: none;
		display: inline-block;
		height: 30px;
		line-height: 28px;
		float: left;
	}

	.c-fun-right .two-ck-btn {
		height: 30px;
		margin-left: 20px;
	}

	.c-fun-right .act-btn {
		background-color: #08aceb;
		color: #fff;
	}

	#up-form {
		position: relative;
		display: inline-block;
		float: right;
	}

	

	.cg-href {
		width: 120px;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0 auto;
	}

	.tj-sku-btn {
		padding: 2px 4px;
		border: 1px solid #5dbdf2;
		background-color: #fff;
		color: #5dbdf2;
		border-radius: 4px;
	}

	.tj-sku-btn:hover {
		background-color: #5dbdf2;
		color: #fff;
	}

	.sku-val {
		height: 26px;
		width: 230px;
	}

	.add-sp-tit {
		width: 80px;
		display: inline-block;
		text-align: right;
	}

	.add-sp-inp {
		height: 30px;
		width: 290px;
	}

	.add-sku-list li {
		margin: 10px 0;
	}

	.puchord-czbtn {
		height: 30px;
		width: 66px;
		margin: 0 2px;
		color: #5dbdf2;
		border: 1px solid #5dbdf2;
		background-color: #fff;
		border-radius: 4px;
		font-size: 12px;
	}

	.puchord-czbtn:hover {
		background-color: #5dbdf2;
		color: #fff;
	}

	.warn-span {
		display: inline-block;
		padding: 0 3px;
		border-radius: 4px;
		font-size: 10px;
		color: #fff;
		background-color: #f45d1a;
		margin-top: 4px;
		cursor: pointer;
	}

	.warn-bg {
		background-color: #f45d1a;
	}

	.add-sku-table {
		width: 100%;
		border: 1px solid #ececec;
		text-align: center;
	}

	.add-sku-table tr {
		border-bottom: 1px solid #ececec;
	}

	.add-sku-table th {
		border-right: 1px solid #ececec;
		height: 40px;
		text-align: center;
	}

	.add-sku-table td {
		border-right: 1px solid #ececec;
		height: 40px;
		font-size: 12px;
	}

	.w60h60 {
		width: 60px;
		height: 60px;
	}

	.w100 {
		width: 100px;
		height: 30px;
		text-align: center;
	}

	.add-tabcon {
		height: 400px;
		overflow-y: auto;
	}

	.addsku-btn {
		padding: 0 15px;
		height: 30px;
		line-height: 28px;
		border: 1px solid #b4b4b4;
		border-radius: 4px;
		background: #d2d2d2;
		color: #000000;
		text-align: center;
		font-size: 12px;
		float: right;
		margin-top: -5px;
	}

	.zzh-li {
		font-size: 12px;
		text-align: center;
		padding: 5px 0;
	}

	.w200 {
		width: 200px;
		height: 30px;
		margin-right: 30px;
	}

	.zzh-li img {
		cursor: pointer;
	}

	.zzh-li img:last-child {
		padding: 11px 2px;
	}

	.suc-back {
		background-color: #04a452;
	}

	.label-span {
		display: inline-block;
		width: 100px;
		text-align: right;
		margin-right: 20px;
	}

	.rk-btn {
		background: #08aceb;
		height: 30px;
		line-height: 30px;
		border-radius: 4px;
		color: #fff;
		padding: 0 15px;
		float: right;
		display: inline-block;
		margin-left: 15px;
	}

	.time-click {
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		cursor: pointer;
	}

	.time-click:hover {
		color: #5dbdf2;
	}

	.time-act {
		color: #5dbdf2;
	}

	.thead-box {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 952px;
		z-index: 99999;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		margin-top: 20px;
	}

	.th-group {
		background: #F4F8FB;
		text-align: center;
		padding: 10px 0;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		/*border-right: 1px solid red;*/
	}

	.th-group span {
		font-size: 14px;
	}

	.tit-box {
		/*position: fixed;*/
		left: 290px;
		right: 58px;
		z-index: 999;
		background-color: #fff;
		min-width: 952px;
	}

	.c-ord-conall {
		min-width: 1010px;
        padding-top: 10px;
	}

	.c-ord-conall .pur-chuli-act {
		background-color: #5dbdf2;
		color: #fff;
	}

	.wl-mes-ul li {
		display: flex;
		justify-content: space-around;
	}

	.wid20 {
		width: 20%;
	}
	.wid30 {
		width: 30%;
	}
	.wid76 {
		width: 76%;
	}

	.clearfix {
		display: flex;
	}

	.clearfix li {
		float: left;
		padding: 0 10px;
		margin: 0 15px;
		line-height: 54px;
	}

	.clearfix .Act {
		color: #F9AE08;
		border-bottom: 4px solid #F9AE08;
	}

	.blank-span {
		position: relative;
	}

	.sp-smallimg {
		width: 60px;
		height: 60px;
		cursor: pointer;
	}

	.hide-bigimg {
		width: 200px;
		height: 200px;
		position: absolute;
		left: 60px;
		top: -60px;
		background-color: #fff;
		z-index: 9;
		cursor: pointer;
		max-width: none;
		max-height: none;
	}
	.top-150px{
		top: -150px;
	}
	.radio-td .check-box{
		margin-left: 10px;
	}
	.radio-td .check-box input {
		padding: 0;
		width: 17px;
	}

	.add-sku-table .radio-td .check-box label {
		background-image: url(../static/image/public-img/radiobutton1.png);
	}
	.add-sku-table .radio-td .check-box .act {
		background-image: url(../static/image/public-img/radiobutton2.png);
	}
	.dis-flex-wrap{
		display: flex;
		justify-content: space-between;
	}
	.edit-add-btn{
		color: #ff8d31;
		height: 30px;
		width: 76px;
		border-radius: 4px;
		font-size: 14px;
		background-color: #fff;
		border: 1px solid #ff8d31;
	}
	.edit-act{
		background-color: #ff8d31;
		color: #fff;
	}
	.invoice-ul li{
		font-size: 12px;
	}
	.tip-label{
		/* width: 120px;
		text-align: right; */
	}
	.pingzhengImgs img{
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.tk-big-img{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		max-width: 1000px;
	}
	.dispute-upload {
        display: flex;
        margin: 5px auto 0;
        /* margin-top: 5px; */
        overflow-y: auto;
		padding-top: 12px;
    }
    
    .dispute-upload .upload_wrap {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .dispute-upload .upload_wrap li {
        margin-right: 10px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 10px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
    
    .dispute-upload .upload_wrap .li-img {
        width: 104px;
        height: 104px;
		position: relative;
    }
	.dispute-upload .upload_wrap .before-img {
        width: 100px;
        height: 100px;
    }
    
    .dispute-upload .upload_wrap .close-img {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 1000;
        cursor: pointer;
		width: 20px;
    }
	.upload-img {
        width: 104px;
        height: 104px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.02);
        position: relative;
		border: 1px solid rgba(0, 0, 0, 0.15);
    }
    
    .upload_file {
        position: absolute;
        top: 0;
        left: 0;
        width: 104px;
        height: 104px;
        opacity: 0;
        cursor: pointer;
    }
    
    .upload_img_wrap img {
        width: 37px;
        height: 33px;
    }
	.selsea-key{
		float: left;
		height: 30px;
		margin-left: 10px;
		border: 1px solid #ececec;
	}
	.c-ord-tbody .check-box{
		position: absolute;
		left: 16px;
	}
	.thead-box .check-box{
		position: absolute;
		left: 47px;
	}
	.pad-left40px{
		padding-left: 40px;
	}
	@media screen and (max-width: 1300px){
		.isaddyfh-wrap .tijiao-ordcon{
			left: 260px;
			transform: translateY(-50%);
		}
	}
	.red-border{
		border: 1px solid red;
	}
	.remark{
		width: 200px;
		word-wrap:break-word;
	}
	.imgs{
		width: 50px;
		height: 50px;
	}
	.Aws{
		width: 10%;
	}
	.Aw{
		width: 12%;
	}
	#upexcel-btn{
        background-color: #fff;
        border: 1px solid #5dbdf2;
        height: 30px;
        padding: 0 10px;
        border-radius: 4px;
        color: #5dbdf2;
    }
    .tab{
        background: #fff;
    }
    .erpd-toggle-div .dt-img-td .hide-bigimg1 {
        width: 360px;
        height: 360px;
        position: absolute;
        right: 60px;
        top: -60px;
        background-color: #fff;
        z-index: 9;
        display: none;
        cursor: pointer;
        max-width: none;
        max-height: none;
    }
	.yichangImg{
		cursor: pointer;
	}
	.bg-yichangImg{
		width: 360px;
		height: 360px;
		position: absolute;
		right: 60px;
		top: -60px;
		background-color: #fff;
		z-index: 9;
		display: none;
		cursor: pointer;
	}
	.yichangImg:hover .bg-yichangImg{
		display: block;
	}
    
</style>

<div class="custom-orders-wrap">
	<div class="c-ord-mid">
        
		<!-- 右边的内容部分 -->
		<div class="ord-right-con">
            
			<div class="content">
                <div class="tab">
                    <ul class="clearfix" style="cursor: pointer;">
                        <li class="datetab" ng-click="chuLiStuFun(item)"  ng-repeat = "item in tabArr" ng-class="{'Act':item.isActive}">{{item.name}}</li>
                    </ul>
                </div>
                <!-- <div style="height: 68px;background: #fff;"></div> -->
				<div class="c-ord-conall">
					<div class="c-ord-con">
						<div class="c-ord-fun tit-box" id="purch-box">
							<div class="c-us-stuv">
								<div class="c-fun-right">

									<span style="float: left;height:30px;line-height:30px;">采购类型：</span>
									<select class="selsea-key" ng-model="purchaseType" ng-change="purchaseTypeChange()">
										<option ng-repeat="(key,value) in purchaseTypeObj" value="{{ key }}">{{ value }}</option>
									</select>

									<input class="Wdate data-inp"
										style="text-indent: 12px;position:relative;top: 0px;float: left;width: 110px;"
										id="c-data-time" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
										placeholder="起始日期">
									<input id="cdatatime2" placeholder="结束日期" class="Wdate data-inp"
										style="text-indent: 12px;position:relative;top: 0px;float: left;width: 110px;"
                                        type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                                        <select class="selsea-key"  ng-model="dingdanhaoType">
                                            <option value="">1688订单号</option>
                                            <option value="1">创建人</option>
                                            <option value="批次号">批次号</option>
                                        </select>
									
									<input id="searchInfo" placeholder="请输入批次号/1688订单号/创建人" ng-model="searchVal" class="c-seach-inp">

									<a target="_blank" href="query-parcel.html" class="rk-btn">{{'查询包裹'}}</a>


									<a ng-click="searchFun()" class="c-seach-btn"
										href="javascript:void(0)">{{'100025' | translate}}</a>
									<button ng-click="go1688Fun()" class="two-ck-btn float-r">去1688订单列表</button>
									<!-- <button ng-click="downLoadFun()" class="two-ck-btn float-r">excel模板</button> -->
									<button ng-click="piLiangDelFun()" class="two-ck-btn float-r">批量删除</button>
						

									<select class="selsea-key" ng-change="ycyyChangeFun()" ng-model="ycStuVal">
										<option value="">异常原因</option>
										<option value="1">未发货</option>
										<option value="2">未收到</option>
										<option value="3">质量问题</option>
										<option value="4">数量问题</option>
										<option value="5">颜色问题</option>
										<option value="6">尺寸问题</option>
										<option value="7">其它</option>
									</select>
									<select class="selsea-key"  ng-change="zhChangeFun()" ng-model="ycCgZhVal">
										<option value="">采购账号</option>
										<option value="woloveshuqi">woloveshuqi</option>
										<option value="zlzandy2013">zlzandy2013</option>
										<option value="涂宏名">涂宏名</option>
									</select>
									
								</div>
								
							</div>
						
							
							
							<div class="thead-box" >
								<div class="th-group" style="width: 9%;">
									<img class="c-checkall" src="static/image/order-img/multiple1.png">
									<span>订单序号</span>
								</div>
								<div class="th-group" style="width: 14%;">
									<span>1688订单号</span>
								</div>
								<div class="th-group" style="width: 8%;">
									创建时间
								</div>
								<div class="th-group" style="width: 4%;">
									创建人
								</div>
								<div style="width: 6%;" class="th-group">
									付款时间
								</div>
								<div style="width: 4%;" class="th-group">
									付款人
								</div>
								<div style="width: 10%;" class="th-group">
									供货公司
								</div>
								<div style="width: 4%;" class="th-group">
									总价
								</div>
								<div style="width: 4%;" class="th-group">
									实际支付
								</div>
								<div style="width: 10%;" class="th-group">
									追踪号
								</div>
								<div style="width: 12%;" class="th-group">签收时间</div>
								<div style="width: 7%;" class="th-group">
									excel上传时间
								</div>
								<div style="width: 6%;" class="th-group">excel上传人</div>
								<div style="width: 2%;" class="th-group">状态</div>
							</div>
						
							
						</div>
						<div class="toogle-ord-stu" id="c-zi-ord">
							<!-- 订单列表部分 -->
							<div class="c-ord-list">
								<table class="orders-table">
								
									<tbody class="c-ord-tbody" ng-repeat="zddlist in erporderList"
										ng-init="pIndex=$index" repeat-finish >
										<tr class="erporder-detail">
											<td class="ordlist-fir-td stop-prop" style="width: 9%;">
												<img class="cor-check-box stop-prop"
													src="static/image/order-img/multiple1.png">
												<p class="stop-prop cg-id" ng-cloak>{{zddlist.id}}</p>
												<p style="display: none;" class="id1688">{{zddlist.orderId1688}}</p>
												<p style="display: none;" class="zzh-text">{{zddlist.zhuiZongHao}}</p>
											</td>
											<td class="moshow-sp-td" style="width: 14%">
												<p ng-cloak>{{zddlist.orderId1688}}</p>
												<span title="该订单里有异常商品" class="warn-span"
													ng-if="zddlist.hasException==1">异</span>
											</td>
											<td class="ordlist-imgtd moshow-sp-td" style="width: 8%;">
												<p ng-if="zddlist.createDate" ng-cloak>
													{{ zddlist.createDate.year+1900}}-{{zddlist.createDate.month+1}}-{{zddlist.createDate.date}}
													{{zddlist.createDate.hours}}:{{zddlist.createDate.minutes}}:{{zddlist.createDate.seconds}}
												</p>
											</td>
											<td class="moshow-sp-td" style="width: 4%;">
												<p ng-cloak>{{zddlist.caigouRen}}</p>
											</td>
											<td style="width: 6%;" class="store-name-td moshow-sp-td">
												<p ng-if="zddlist.fuKuanDate" class="store-name-p" ng-cloak>
													{{ zddlist.fuKuanDate.year+1900}}-{{zddlist.fuKuanDate.month+1}}-{{zddlist.fuKuanDate.date}}
													{{zddlist.fuKuanDate.hours}}:{{zddlist.fuKuanDate.minutes}}:{{zddlist.fuKuanDate.seconds}}
												</p>
											</td>
											<td style="width: 4%;" class="moshow-sp-td">
												<p ng-cloak>{{zddlist.fuKuanRen}}</p>
											</td>
											<td style="width: 10%;" class="moshow-sp-td">
												<p ng-cloak>{{zddlist.gongHuoGongSi}}</p>
											</td>
											<td style="width: 4%;" class="moshow-sp-td">
												<p ng-cloak>{{zddlist.yunFei-0+(zddlist.huoWuZongJia-0) | number:2}}</p>
											</td>
											<td style="width: 4%;" class="moshow-sp-td">
												<p ng-cloak>{{zddlist.zhiFu}}</p>
											</td>
											<td style="width: 10%;" class="moshow-sp-td">
												<p ng-cloak ng-repeat="(key,val) in zddlist.zhuiZongHao">{{val}}:
													{{key}}</p>
											</td>
											<td style="width: 12%;" class="moshow-sp-td">
												<p ng-cloak ng-repeat="(key,val) in zddlist.yiQianShouZhuiZongHao"><span
														style="color: #04a452;">{{key}}</span>:
													{{val.time |  date : 'yyyy-MM-dd HH:mm:ss'}}</p>
											</td>
											<td style="width: 7%;" class="moshow-sp-td">
												<p ng-if="zddlist.excelDate" ng-cloak>
													{{ zddlist.excelDate.year+1900}}-{{zddlist.excelDate.month+1}}-{{zddlist.excelDate.date}}
													{{zddlist.excelDate.hours}}:{{zddlist.excelDate.minutes}}:{{zddlist.excelDate.seconds}}
												</p>
											</td>
											<td style="width:6%;" class="moshow-sp-td">
												<p ng-cloak>{{zddlist.excelShangChuanRen}}</p>
											</td>
											<td style="width: 2%;" class="moshow-sp-td">
												<p style="color:#f1ca16;" ng-if="zddlist.status==5" ng-cloak>
													待确认
												</p>
												<p style="color:#f1ca16;" ng-if="zddlist.status==0" ng-cloak>
													待付款
												</p>
												<p style="color:#04a452;" ng-if="zddlist.status==1" ng-cloak>
													已付款
												</p>
												<p style="color:#f1ca16;" ng-if="zddlist.status==2" ng-cloak>
													待签收
												</p>
												<p style="color:#04a452;" ng-if="zddlist.status==3" ng-cloak>
													已签收
												</p>
												<p style="color:#f1ca16;" ng-if="zddlist.status==4" ng-cloak>
													部分签收
												</p>
												<p style="color:#08aceb;" ng-if="zddlist.status==6" ng-cloak>
													确认SKU
												</p>
												<p style="color:#e55264;" ng-if="zddlist.status==7" ng-cloak>
													异常
												</p>
											</td>
										</tr>
										<tr class="erpd-toggle-tr">
											<td class="d-tog-td" colspan="16">
												<div class="erpd-toggle-div">
													<table ng-repeat="pList in zddlist.cgsps"
														ng-class='{"suc-back":pList.isupSucFlag}'>
														<tr class="sp-fir-tr">
															<td rowspan="2" class="dt-img-td" ng-cloak>
																<span class="blank-span">
																	<img class="sp-smallimg" ng-src="{{pList.cjImg}}">
																	<img class="hide-bigimg" ng-src="{{pList.cjImg}}">
																</span>
															</td>
															<td style="min-width: 360px;" rowspan="2" ng-cloak>
																
																SKU: <span>{{pList.cjSku}}</span>
																<span style="display: none;"
																	class="hide-sku">{{pList.cjSku}}</span>
																<div>
																	<button
																		ng-if="pList.yiChangZhuangtai==1&&(pList.chuLiFangShi=='补发'||pList.chuLiFangShi=='退货'||pList.chuLiFangShi=='退件')"
																		ng-click="hqwlMesFun(pList,$event,pIndex,$index)"
																		class="tj-sku-btn">刷新物流</button>
																	<span title="该商品有异常" class="warn-span"
																		ng-if="pList.hasException==1">异</span>
																</div>
																<div class="pingzhengImgs">
																	<span ng-show="pList.zhuangzhangpingzheng">转账凭证: </span>
																	<img ng-click="showBigImgFun(pList.zhuangzhangpingzheng)" ng-show="pList.zhuangzhangpingzheng" ng-src="{{pList.zhuangzhangpingzheng}}">
																	<span ng-show="pList.tuikuanpingzheng">退款凭证: </span>
																	<img ng-click="showBigImgFun(pList.tuikuanpingzheng)" ng-show="pList.tuikuanpingzheng" ng-src="{{pList.tuikuanpingzheng}}">
																</div>
															</td>
															<td rowspan="2" ng-cloak>采购链接: <a target="_blank"
																	class="cg-href"
																	ng-href="{{pList.caiGouLianJie}}">{{pList.caiGouLianJie}}</a>
																	<p ng-show="pList.tuihuodizhi">
																		<span>退货地址: </span>
																		<a target="_blank"
																		class="cg-href"
																		ng-href="{{pList.tuihuodizhi}}">{{pList.tuihuodizhi}}</a>
																	</p>
																	<p ng-show="pList.buFaZhuiZongHao">
																		<span>补发追踪号: </span>
																		<span>{{pList.buFaZhuiZongHao}}</span>
																	</p>
																	<p ng-show="pList.tuiJianZhuiZongHao">
																		<span>退件追踪号: </span>
																		<span>{{pList.tuiJianZhuiZongHao}}</span>
																	</p>
															</td>
															<td rowspan="2" ng-cloak>1688货品名称: {{pList.huoWuBiaoTi}}
															</td>
															<td rowspan="2" ng-cloak>
																单价: {{pList.danJia}}¥
																<p ng-show="pList.feiyongchengdanfang">
																	<span>费用承担方: </span>
																	<span>{{pList.feiyongchengdanfang}}</span>
																</p>
																<p ng-show="pList.yufeishengqingfangshi">
																	<span>运费申请方式: </span>
																	<span>{{pList.yufeishengqingfangshi}}</span>
																</p>
																<p ng-show="pList.yunfeijine">
																	<span>运费金额: </span>
																	<span>{{pList.yunfeijine}}¥</span>
																</p>
																<p ng-show="pList.tuiKuanJinE">
																	<span>退款金额: </span>
																	<span>{{pList.tuiKuanJinE}}¥</span>
																</p>
															</td>
															<td rowspan="2" ng-cloak>数量:
																{{pList.shuLiang}}{{pList.danWei}}
																<p ng-show="pList.youjizhongliang">
																	<span>邮寄重量: </span>
																	<span>{{pList.youjizhongliang}}</span>
																</p>
                                                            </td>
                                                            <td>
                                                                批次号：{{pList.batchNum}}
                                                            </td>
                                                            <td>
                                                               <p>次品数量：{{pList.defectiveNum}}</p> 
                                                               <p>少货数量：{{pList.lackNum}}</p> 
                                                            </td>
															<td rowspan="2" ng-cloak>
																异常原因: <span
																	style="color:#f45d1a;">{{pList.yiChangYuanYin}}</span><br>
																<span ng-if="pList.chuLiFangShi">处理方式:
																	{{pList.chuLiFangShi}}</span>
                                                            </td>
                                                            <td rowspan="2" class="dt-img-td" ng-cloak>
                                                                <span>异常凭证：</span>
																<span class="blank-span yichangImg" ng-show="pList.proof">
																	<img class="sp-smallimg" ng-src="{{pList.proof}}">
																	<img class="bg-yichangImg" ng-src="{{pList.proof}}">
																</span>
																<span ng-show="!pList.proof">无</span>
															</td>
															<td>
																处理状态:
																<span style="color:#f45d1a;"
																	ng-if="pList.yiChangZhuangtai==0">待处理</span>
																<span style="color:#f1ca16;"
																	ng-if="pList.yiChangZhuangtai==1">处理中</span>
																<span style="color:#04a452;"
																	ng-if="pList.yiChangZhuangtai==2">已完成</span><br>
																<button
																	ng-show="pList.yiChangZhuangtai==0||((pList.yiChangZhuangtai==1&&pList.chuLiFangShi=='退件')||(pList.yiChangZhuangtai==1&&pList.chuLiFangShi=='补发'))"
																	ng-click="chuLiYcFun(pList,pIndex,$index,$event)"
																	class="puchord-czbtn">处理</button>
																<button
																	ng-click="jiLuFun(pList,$index,$event,zddlist)"
																	class="puchord-czbtn">记录</button>
																<button
																	ng-show="pList.yiChangZhuangtai==1&&(pList.chuLiFangShi=='退件'||pList.chuLiFangShi=='其它'||pList.chuLiFangShi=='退款'||pList.chuLiFangShi=='补发')"
																	ng-click="chuLiYcWcFun(pList,pIndex,$index,$event)"
																	class="puchord-czbtn">完成</button>
															</td>
														</tr>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								
								</table>
							</div>
						</div>


						<div ng-show="erpordTnum<1" style="text-align: center;">暂无数据</div>
						<!-- 分页 -->
						<div class="pages-fun" ng-show="erpordTnum>0">
							<select id="page-sel" class="c-select-page-num" ng-change="pageChange()"
								ng-model="pageSize">
								<option value="30">30</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
							<span class="every-page gong">共</span>
							<span class="c-all-num-line">{{erpordTnum}}</span>
							<span class="every-page">条</span>
							<span id="demo3-text"></span>
							<div id="c-pages-fun"></div>
							<span class="every-page">跳转:</span>
							<input id="inp-num" class="c-inp-num-go" ng-model="pageNum">
							<span style="cursor: pointer;" ng-click="gopageFun()" class="jump-btn">go</span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 是否批量删除订单 -->
<div class="isaddyfh-wrap" ng-show="plDelFlag">
	<div class="isaddyfh-con">
		<p>是否批量删除采购单?</p>
		<div class="isaddyfh-btns">
			<button ng-click="plDelFlag=false" class="ispc-can-btn">取消</button>
			<button ng-click="surePlDelFun()" class="ispc-con-btn">确定</button>
		</div>
	</div>
</div>

<!-- 添加sku -->
<!-- <div class="isaddyfh-wrap" ng-show="addSkuFlag">
	<div class="isaddyfh-con" style="width: 450px;height: 275px;">
		<p style="text-align: center;font-size: 18px;">添加SKU</p>
		<ul class="add-sku-list">
			<li>
				<span class="add-sp-tit">SKU:</span>
				<input ng-model="addSkuVal" class="add-sp-inp"></input>
			</li>
			<li>
				<span class="add-sp-tit">单价:</span>
				<input ng-model="addDjVal" type="number" class="add-sp-inp"></input>
			</li>
			<li>
				<span class="add-sp-tit">数量:</span>
				<input ng-model="addCountVal" type="number" class="add-sp-inp"></input>
			</li>
			<li>
				<span class="add-sp-tit">实际支付:</span>
				<input ng-model="addSjzfVal" type="number" class="add-sp-inp"></input>
			</li>
		</ul>
		<div class="isaddyfh-btns">
			<button ng-click="addSkuFlag=false" class="ispc-can-btn">取消</button>
			<button ng-click="sureAddSku()" class="ispc-con-btn">确定</button>
		</div>
	</div>
</div> -->


<!-- 展示大图 -->
<div class="isaddyfh-wrap" ng-show="bigImgFlag" ng-click="bigImgFlag=false" style="cursor: pointer;">
	<img class="tk-big-img" src="{{bigImgLink}}">
</div>

<!-- 处理异常 -->
<div class="isaddyfh-wrap" ng-show="chuliYcFlag">
	<div class="isaddyfh-con" style="width: 450px;height: auto;padding-bottom: 70px;">
		<p style="font-size: 18px;text-align: center;">处理采购异常</p>
		<ul style="overflow: auto;margin-top:20px;">
			<li class="zzh-li">
				<span class="label-span">处理方式:</span>
				<select class="w200" ng-model="chuLiFs" ng-change="chuLiChaFun()">
					<option value="0">仅补发</option>
					<option value="1">仅退款</option>
                    <option value="2">退货退款</option>
                    <option value="6">退货换货</option>
					<option value="3">其它</option>
				</select>
			</li>
			<li class="zzh-li" ng-show="chuLiFs==0||chuLiFs==2 || chuLiFs==6">
				<span class="label-span">物流公司:</span>
				<select class="w200" ng-model="wlGsInfo" ng-change="selNFun()">
					<option value="">请选择物流公司</option>
					<option value="{{item.name}}#{{item.code}}" ng-repeat="item in wlGsList">{{item.name}}</option>
				</select>
			</li>
			
			<li class="zzh-li" ng-show="chuLiFs==0">
				<span class="label-span">补发追踪号:</span>
				<input class="w200" ng-model="chuLiReson0" type="text">
			</li>
			
			<li class="zzh-li" ng-show="chuLiFs==2 || chuLiFs==6">
				<span class="label-span">退货追踪号:</span>
				<input class="w200" ng-model="chuLiReson2" type="text">
			</li>
			<li class="zzh-li" ng-show="chuLiFs==3">
				<span class="label-span">处理方式:</span>
				<input class="w200" ng-model="chuLiReson3" type="text">
			</li>
			<li class="zzh-li" ng-show="chuLiFs==2">
				<span class="label-span">退货数量:</span>
				<input class="w200" type="number" ng-model="returnNun">
			</li>
			<li class="zzh-li" ng-show="chuLiFs==2 || chuLiFs==6">
				<span class="label-span">退货地址:</span>
				<input class="w200" ng-model="tuihuodizhi" type="text">
			</li>
			<li class="zzh-li" ng-show="chuLiFs==2 || chuLiFs==6">
				<span class="label-span">费用承担方:</span>
				<select class="w200" ng-model="feiyongchengdanfang">
					<option value="卖家">卖家</option>
					<option value="买家">买家</option>
				</select>
			</li>
			<li class="zzh-li" ng-show="chuLiFs==2 || chuLiFs==6">
				<span class="label-span">运费金额:</span>
				<input class="w200" ng-model="yunfeijine" type="number">
			</li>
			<li class="zzh-li" ng-show="chuLiFs==1 || chuLiFs==6">
				<span class="label-span">退款金额:</span>
				<input class="w200" type="number" ng-model="chuLiReson1">
			</li>
			
			<li class="zzh-li" ng-show="chuLiFs==2 || chuLiFs==6">
				<span class="label-span">运费申请方式:</span>
				<!-- <input class="w200" ng-model="yufeishengqingfangshi" type="text"> -->
				<select class="w200" ng-model="yufeishengqingfangshi">
					<option value="线上申请">线上申请</option>
					<option value="线下申请">线下申请</option>
				</select>
			</li>
			<li class="zzh-li" ng-show="chuLiFs==2 || chuLiFs==6">
				<span class="label-span">邮寄重量:</span>
				<input class="w200" ng-model="youjizhongliang" type="text">
			</li>
			<li class="zzh-li" ng-show="chuLiFs==6">
				<span class="label-span">换货物流公司:</span>
				<select class="w200" ng-model="bufakuaidigongsi" ng-change="selComFun()">
					<option value="">请选择物流公司</option>
					<option value="{{item.name}}#{{item.code}}" ng-repeat="item in wlGsList">{{item.name}}</option>
				</select>
			</li>
			<li class="zzh-li" ng-show="chuLiFs==6">
				<span class="label-span">换货追踪号:</span>
				<input class="w200" ng-model="bufazhuizonghao" type="text">
			</li>
			<p ng-show="chuLiFs==1||chuLiFs==2 || chuLiFs==6">(凭证格式: .jpg, .gif, .jpeg, .png)</p>
			<div class="dispute-upload" ng-show="chuLiFs==1||chuLiFs==2 || chuLiFs==6">
				<ul class="upload_wrap">
					<li class="img-show li-img" ng-repeat="item in imgArr track by $index" ng-click="viewBigImg(item)">
						<img class="before-img" ng-src="{{item}}">
						<img class="close-img" src="static/image/public-img/close.png" alt="" ng-click="delImg($index, $event)">
					</li>
					<li class="upload-img upload_img_wrap" ng-hide="hideUpImgFlag">
						<img src="static/image/public-img/upload.png">
						<input type="file" ng-model="documentupload2" title="" class="upload_file" onchange="angular.element(this).scope().upLoadImg5(this.files)">
					</li>
				</ul>
			</div>
		</ul>
		<div class="isaddyfh-btns">
			<button ng-click="chuliYcFlag=false" class="ispc-can-btn">取消</button>
			<button ng-click="sureChuLiFun()" class="ispc-con-btn">确定</button>
		</div>
	</div>
</div>

<!-- 是否收到退款 -->
<div class="isaddyfh-wrap" ng-show="tongBuDiZhiFlag">
	<div class="isaddyfh-con" style="width: 450px;height: auto;padding-bottom: 70px;">
		<p style="font-size: 18px;text-align: center;">同步物流</p>
		<div>
			<p>如果在1688新增或修改收货地址后,请点击同步!</p>
		</div>
		<div class="isaddyfh-btns">
			<button ng-click="tongBuDiZhiFlag=false" class="ispc-can-btn">关闭</button>
			<button ng-click="tongBuDiZhiFun()" class="ispc-con-btn">同步</button>
		</div>
	</div>
</div>
<!-- 物流信息 -->
<div class="isaddyfh-wrap" ng-show="wlMesFlag">
	<div class="isaddyfh-con" style="width: 680px;padding-bottom: 70px;height:auto;">
		<p style="font-size: 18px;text-align: center;">物流信息</p>
		<ul style="overflow-y:auto;max-height: 700px;margin-top:20px;" class="wl-mes-ul">
			<li class="zzh-li">
				<span class="wid20">时间</span>
				<span class="wid76">信息</span>
			</li>
			<li class="zzh-li" ng-repeat="item in wlMsgList">
				<span class="wid20">{{item.AcceptTime}}</span>
				<span class="wid76">{{item.AcceptStation}}</span>
			</li>
		</ul>
		<div class="isaddyfh-btns">
			<span>快递100查询:</span>
			<a target="_blank" style="color: #08ACE9;text-decoration: underline;margin-right: 140px;"
				href="https://www.kuaidi100.com/">https://www.kuaidi100.com/</a>
			<button ng-click="wlMesFlag=false" class="ispc-can-btn">关闭</button>
		</div>
	</div>
</div>
<!-- 记录描述 -->
<div class="isaddyfh-wrap" ng-show="jiLu">
	<div class="isaddyfh-con" style="width: 680px;padding-bottom: 70px;height:auto;">
		<p style="font-size: 18px;text-align: center;">记录描述</p>
		<ul style="overflow-y:auto;max-height: 700px;margin-top:20px;" class="wl-mes-ul">
			<li class="zzh-li">
				<span class="wid76">处理时间</span>
				<span class="wid76">处理人</span>
				<span class="wid76">描述</span>
			</li>
			<li class="zzh-li" ng-repeat="item in jiLuList">
				<span class="remark">{{item.createTime}}</span>
				<span class="remark">{{item.userName}}</span>
				<span class="remark">{{item.remark}}</span>
			</li>
		</ul>
		<div class="isaddyfh-btns">
			
			<button ng-click="jiLu=false" class="ispc-can-btn">关闭</button>
		</div>
	</div>
</div>

<!-- 物流信息 -->
<div class="isaddyfh-wrap" ng-show="qsWlMesFlag">
		<div class="isaddyfh-con" style="width: 680px;padding-bottom: 70px;height:auto;">
			<p style="font-size: 18px;text-align: center;">物流信息</p>
			<ul style="overflow-y:auto;max-height: 700px;margin-top:20px;" class="wl-mes-ul">
				<li class="zzh-li">
					<span class="wid20">时间</span>
					<span class="wid76">信息</span>
				</li>
				<li class="zzh-li" ng-repeat="item in wlMsgList">
					<span class="wid20">{{item.acceptTime}}</span>
					<span class="wid76">{{item.remark}}</span>
				</li>
			</ul>
			<div class="isaddyfh-btns">
				<button ng-click="qsWlMesFlag=false" class="ispc-can-btn">关闭</button>
			</div>
		</div>
	</div>
<!-- 操作人信息 -->
<div class="isaddyfh-wrap" ng-show="moreCzrFlag">
	<div class="isaddyfh-con" style="width: 680px;padding-bottom: 70px;height:auto;">
		<p style="font-size: 18px;text-align: center;">操作人信息</p>
		<ul style="overflow-y:auto;max-height: 700px;margin-top:20px;" class="wl-mes-ul">
			<li class="zzh-li">
				<span class="wid30">操作人</span>
				<span class="wid30">数量</span>
				<span class="wid30">时间</span>
			</li>
			<li class="zzh-li" ng-repeat="item in carList">
				<span class="wid30">{{item.caoZuoRen}}</span>
				<span class="wid30">{{item.quantity}}</span>
				<span class="wid30">{{item.caoZuoShiJIan.time | date:"yyyy-MM-dd HH:mm"}}</span>
			</li>
		</ul>
		<div class="isaddyfh-btns">
			<button ng-click="moreCzrFlag=false" class="ispc-can-btn">关闭</button>
		</div>
	</div>
</div>
<!-- 是否提交到待签收 -->
<div class="isaddyfh-wrap" ng-show="payUrlFlag">
	<div class="isaddyfh-con" style="width: 600px;height:150px;">
		<p><a style="color:#08ACE9;text-decoration:underline;" target="_blank" href="{{payUrlLink}}">{{payUrlLink}}</a></p>
		<div class="isaddyfh-btns">
			<button ng-click="payUrlFlag=false" class="ispc-can-btn">关闭</button>
			<button style="margin-right: 15px;" ng-click="fuKuanStuFun(0)" class="ispc-con-btn">失败</button>
			<button ng-click="fuKuanStuFun(1)" class="ispc-con-btn">成功</button>
		</div>
	</div>
</div>


