<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>样式设置</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1265799_g4kfje4fo47.css">
</head>
<body>
    <div class="ui-title">
        表格布局
    </div>
    <div class="table-box">
        <div class="table">
            <div class="table-tr">
                <span class="table-th">仓库名称</span>
                <span class="table-th">英文名</span>
                <span class="table-th">备注</span>
                <span class="table-th">负责人</span>
                <span class="table-th">联系电话</span>
                <span class="table-th">地址</span>
                <span class="table-th">操作</span>
            </div>
            <div class="table-tr">
                <span class="table-td">深圳仓</span>
                <span class="table-td">Shen Zhen</span>	
                <span class="table-td">仓库</span>
                <span class="table-td">admin</span>		0000-0000000	广东省深圳市
                <span class="table-td"></span>
                <span class="table-td"></span>
                <span class="table-td"></span>
            </div>
        </div>
    </div>
</body>
</html>