<!DOCTYPE>
<html>
<head>
	<title>后台通用框架</title>
</head>
<meta charset="utf-8">
<script src="static/js/public/jquery-3.0.0.min.js"></script>
<script src="static/js/public/echarts.common.min.js"></script>
<script src="static/angular-1.5.8/angular.min.js"></script>
<script src="static/layer/layer.js"></script>
<script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="static/bootstrap-table-master/src/bootstrap-table.js"></script>
<script src="static/bootstrap-table-master/src/extensions/export/bootstrap-table-export.js"></script>
<script src="static/bootstrap-table-master/src/extensions/angular/bootstrap-table-angular.js"></script>
<link href="static/bootstrap-table-master/src/bootstrap-table.css" rel="stylesheet" />
<link href="static/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="static/bootstrap-table-master/src/locale/bootstrap-table-zh-CN.js"></script>
<script src="static/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="static/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="static/angular-1.5.8/angular-cookies.min.js"></script> 
<link rel="stylesheet" href="static/css/index.css">
<body>
<div class="pageBox container" ng-app="myApp" ng-controller="tableCtrl">
	<numline id="numline" legend="legend" data="data" result="result"></numline>  
	<amountline id="amountline" legend="legend" data="data" result="result"></amountline>  
	<circle id="circke" legend="legend" data="data" result="result"></circle>  
</div>
<script src="static/js/page/deviceChar.js"></script>
</body>
</html>