<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="义乌市促佳贸易有限公司"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>搜品详情</title>
	<link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/bootstrap-validator/dist/css/bootstrapValidator.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="static/css/"> -->
	<link rel="stylesheet" type="text/css" href="static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="static/css/erp-sourcedetail.css">
	<script type="text/javascript" src="static/js/public/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="static/angular-1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/bootstrap-validator/dist/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="static/angular-1.5.8/angular-cookies.min.js"></script>
	<script type="text/javascript" src="static/layer/layer.js"></script>
</head>
<body ng-app="erp-seachd-app">
	<div class="seachdetail-wrap" ng-controller="erp-searchd-control">
		<!-- 内容部分 -->
		<div class="esd-blank">
			<div class="seachdetail-con">
				<!-- 导出 -->
				<div class="esd-export-btn">
					<a href="javascript:void(0)">导出</a>
				</div>
				<div class="seachdetail-header">
					<p>Negotiating</p>
				</div>
				<!-- user部分 -->
				<div class="manager-box">
					<!-- 用户名字部分 -->
					<div class="user-name">
						<img src="static/image/seach-img/iconuser.png">
						<span class="manager-span">User：</span>
						<span class="name-span">tom</span>
						<span class="manager-time">2017-05-15 17:22:55</span>
					</div>
					<!-- 产品详情部分 -->
					<div class="product-detail">
						<ul>
							<li>
								<p class="detail-p1">
									<span class="gray-span detail-span1">Product Name:</span>
									<span class="light-span detail-span2">Fashion Style Skull Bracelet Bangle Jewelry</span>
									<span class="gray-span detail-span5">SKU:</span>
									<span class="light-span detail-span6">AliCute00016-Pink</span>
									
								</p>
							</li>
							<li>
								<p class="detail-p7">
									<span class="gray-span">Inventory：</span>
									<span class="light-span detail-span2">100</span>
								</p>
							</li>
							<li>
								<p class="detail-p6">
									<span class="gray-span">Target Dropshipping Price（included shipping）:</span>
									<span class="light-span detail-span2">USD  106.90</span>
									<span class="gray-span detail-span5">Shipping Methods：</span>
									<span class="light-span detail-span6">USD  106.90</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span">Color:</span>
									<span class="light-span detail-span2">Pink</span>
									<span class="gray-span detail-span3">Custom Variant 1:</span>
									<span class="light-span detail-span4">--</span>
									<span class="gray-span detail-span5">Custom Variant 2:</span>
									<span class="light-span detail-span6">--</span>
								</p>
							</li>
							<li>
								<p class="detail-p1">
									<span class="gray-span">Sourcing URL:</span>
									<span class="light-span detail-span2"> https://promotionjewelry-com.myshopify.com/admin/products/10629323395/variants/42284261315</span>
								</p>
							</li>
							<li class="image-li">
								<p class="detail-p9">
									<span class="gray-span">Images:</span>
									<img class="first-img" src="static/image/seach-img/pic6-2.png">
									<img class="first-img" src="static/image/seach-img/pic6-2.png">
								</p>
							</li>
							<li class="note-li">
								<p class="detail-p10">
									<span class="gray-span">Description:</span>
									<span class="light-span detail-span2">100</span>
								</p>
							</li>
						</ul>
					</div>
				</div>
				
				<!-- 按钮部分 -->
				<div class="seachdetail-btns">
					<a class="end-negotiate-btn" href="javascript:void(0)">结束议价</a>
					<a class="esd-add-sp" href="javascript:void(0)">添加商品</a>
				</div>
				<!-- Manager部分 -->
				<div class="manager-box">
					<!-- 客服名字部分 -->
					<div class="manager-name">
						<img src="static/image/seach-img/iconmanager.png">
						<span class="manager-span">Manager Name：</span>
						<span class="name-span">Adam</span>
						<span class="manager-time">2017-05-15 17:22:55</span>
					</div>
					<!-- 产品详情部分 -->
					<div class="product-detail">
						<ul>
							<li>
								<p class="detail-p1">
									<span class="gray-span detail-span1">Product Name:</span>
									<span class="light-span detail-span2">Fashion Style Skull Bracelet Bangle Jewelry</span>
									<span class="gray-span detail-span5">SKU:</span>
									<span class="light-span detail-span6">AliCute00016-Pink</span>
									
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span">Color:</span>
									<span class="light-span detail-span2">Pink</span>
									<span class="gray-span detail-span3">Item Dimensions（L*W*H）：</span>
									<span class="light-span detail-span7">AliCute00016-Pink</span>
									<span class="gray-span detail-span5">Gross Weight：</span>
									<span class="light-span detail-span6">60g</span>
								</p>
							</li>
							<!-- <li>
								<p class="detail-p2">
									<span class="gray-span">Color:</span>
									<span class="light-span detail-span2">Pink</span>
									<span class="gray-span detail-span3">Item Dimensions（L*W*H）：</span>
									<span class="light-span detail-span4">AliCute00016-Pink</span>
									<span class="gray-span detail-span5">Gross Weight：</span>
									<span class="light-span detail-span6">60g</span>
								</p>
							</li> -->
							<li>
								<p class="detail-p3">
									<span class="gray-span">Custom Variant 1:</span>
									<span class="light-span detail-span2">--</span>
									<span class="gray-span detail-span3">Custom Variant 2:</span>
									<span class="light-span detail-span4">--</span>
								</p>
							</li>
							<li>
								<p class="detail-p4">
									<span class="gray-span">Attributes of Shipping：</span>
									<img src="static/image/login/multiple1.png">
									<span>Liquid</span>
									<img src="static/image/login/multiple1.png">
									<span>Electrified</span>
									<img src="static/image/login/multiple1.png">
									<span>Magnetic</span>
									<img src="static/image/login/multiple1.png">
									<span>Powder</span>
									<img src="static/image/login/multiple1.png">
									<span>Sharp</span>
									<img src="static/image/login/multiple1.png">
									<span>Paste</span>
								</p>
							</li>
							<li>
								<p class="detail-p5">
									<span class="gray-span">Product Price：</span>
									<span class="light-span detail-span2">USD  1.90</span>
									<span class="gray-span detail-span3">Shipping of Weight：</span>
									<span class="light-span detail-span4">USD  1.90</span>
									<span class="gray-span detail-span5">Registration Fee：</span>
									<span class="light-span detail-span6">USD  1.90</span>
								</p>
							</li>
							<li>
								<p class="detail-p6">
									<span class="gray-span">Target Dropshipping Price（included shipping）:</span>
									<span class="light-span detail-span2">USD  106.90</span>
									<span class="gray-span detail-span5">Shipping Methods：</span>
									<span class="light-span detail-span6">USD  106.90</span>
								</p>
							</li>
							<li>
								<p class="detail-p7">
									<span class="gray-span">Inventory：</span>
									<span class="light-span detail-span2">100</span>
								</p>
							</li>
							<li>
								<p class="detail-p8">
									<span class="gray-span">Available Time：</span>
									<span class="light-span detail-span2">2017-09-30</span>
								</p>
							</li>
							<li class="image-li">
								<p class="detail-p9">
									<span class="gray-span">Images:</span>
									<img class="first-img" src="static/image/seach-img/pic6-2.png">
									<img class="first-img" src="static/image/seach-img/pic6-2.png">
								</p>
							</li>
							<li class="note-li">
								<p class="detail-p10">
									<span class="gray-span">Note:</span>
									<span class="light-span detail-span2">Congratulations! We have found the product that match your description.</span>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/template" id="price-negotiation">
		<div class="negotiate-wrap">
			<div class="negotiate-tit">
				<p>Price Negotiation</p>
			</div>
			<div class="negotiate-con">
				<div class="price-tit">
					<p>Current Price</p>
					<p>New Target Price</p>
				</div>
				<div class="price-comparison">
					<div class="current-price">
						<ul class="price-ul">
							<li>
								<p class="detail-p1">
									<span class="gray-span tit-span">Product Name:</span>
									<span class="light-span value-span">Fashion Style Skull Bracelet Bangle Jewelry</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Color:</span>
									<span class="light-span value-span">Pink</span>
								</p>
							</li>
							<li>
								<p class="detail-p3">
									<span class="gray-span tit-span">Item Dimensions（L*W*H）：</span>
									<span class="light-span value-span">1.57 x 1.49 x 2.61 in	</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Custom Variant 1:</span>
									<span class="light-span value-span">----</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Custom Variant 2:</span>
									<span class="light-span value-span">----</span>
								</p>
							</li>
							<li>
								<p class="detail-p6">
									<span class="gray-span tit-span">Attributes of Shipping：</span>
									<span class="light-span value-span">Powder</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Inventory：</span>
									<span class="light-span value-span">100</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Available Time：</span>
									<span class="light-span value-span">2017-09-30</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Shipping Methods：</span>
									<span class="light-span value-span">USPS</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Shipping of Weight：</span>
									<span class="light-span value-span">USD  1.50</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Registration Fee：</span>
									<span class="light-span value-span">USD  1.50</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Product Price：</span>
									<span class="light-span value-span">USD  1.50</span>
								</p>
							</li>
							<li class="image-li">
							<p class="detail-p9">
								<span class="gray-span">Images:</span>
								<img class="first-img" src="static/image/seach-img/pic6-2.png">
								<img src="static/image/seach-img/pic6-2.png">
							</p>
						</li>
						</ul>
					</div>
					<div class="new-target-price">
						<ul class="price-ul">
							<li>
								<p class="detail-p1">
									<span class="gray-span tit-span">Product Name:</span>
									<span class="light-span value-span">Fashion Style Skull Bracelet Bangle Jewelry</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Color:</span>
									<input class="value-span"></input>
								</p>
							</li>
							<li>
								<p class="detail-p3">
									<span class="gray-span tit-span">Item Dimensions（L*W*H）：</span>
									<span class="light-span value-span">1.57 x 1.49 x 2.61 in	</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Custom Variant 1:</span>
									<input class="value-span"></input>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Custom Variant 2:</span>
									<input class="value-span"></input>
								</p>
							</li>
							<li>
								<p class="detail-p6">
									<span class="gray-span tit-span">Attributes of Shipping：</span>
									<span class="light-span value-span">Powder</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Inventory：</span>
									<span class="light-span value-span">100</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Available Time：</span>
									<span class="light-span value-span">2017-09-30</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Shipping Methods：</span>
									<span class="light-span value-span">USPS</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Shipping of Weight：</span>
									<span class="light-span value-span">USD  1.50</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Registration Fee：</span>
									<span class="light-span value-span">USD  1.50</span>
								</p>
							</li>
							<li>
								<p class="detail-p2">
									<span class="gray-span tit-span">Product Price：</span>
									<input></input>
								</p>
							</li>
							<li class="image-li">
							<p class="upload-p">
								<span class="gray-span">Images:</span>
								<input class="upload-file" type="file"></input>
								<a href="javascript:void(0)">Upload </a>
							</p>
						</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</script>
</body>
<script type="text/javascript" src="static/js/erp-sourcing/erp-sourcedetail.js"></script>
</html>