<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="义乌市促佳贸易有限公司"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>搜品</title>
	<link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/bootstrap-validator/dist/css/bootstrapValidator.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/dcalendar.picker.css">
	<link rel="stylesheet" type="text/css" href="static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="static/css/erp-sourcing.css">
	<script type="text/javascript" src="static/js/public/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="static/angular-1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/bootstrap-validator/dist/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="static/angular-1.5.8/angular-translate.min.js"></script>
	<script src="static/layer/layer.js"></script>
	<script type="text/javascript" src="static/jqPaginator-master/jqPaginator.js"></script>
	<script type="text/javascript" src="static/js/public/dcalendar.picker.js"></script>
</head>
<body ng-app="erp-sourcing-app" ng-controller="esourcing-controller">
	<div class="e-sourcing-wrap">
		<div class="e-sour-blank">
			<div class="e-sou-con">
				<!-- 搜索 订单状态 导出 -->
				<div class="es-search-status">
					<div class="es-seach-div">
						<input class="es-seach-inp"></input>
						<a class="es-seach-btn" href="javascript:void(0)">搜索</a>
					</div>
					<select>
						<option>状态</option>
					</select>
					<a class="es-export-btn" href="javascript:void(0)">导出</a>
				</div>
				<!-- 订单的列表部分 -->                 
				<div class="es-ord-list">
					<table>
						<thead class="es-ord-thead">
							<tr>
								<th class="ordlist-fir-th" style="width: 140px">
									<img src="static/image/order-img/multiple1.png">
									<span>提交日期</span>
								</th>
								<th style="width: 95px">负责人</th>
								<th style="width: 80px">状态</th>
								<th style="width: 150px">客户</th>
								<th style="width: 75px">图片</th>
								<th style="width: 190px">URL</th>
								<th style="width: 84px">金额</th>
								<th style="width: 84px">数量</th>
								<th style="width: 100px">备注</th>
								<th style="width: 115px">操作</th>
							</tr>
						</thead>
						<tbody class="es-ord-tbody">
							<tr>
								<td class="allord-fir-td">
									<img src="static/image/order-img/multiple1.png">
									<p>9-12 12:00</p>
									<!-- td 右边的边框 -->
									<span class="border-span"></span>
								</td>
								<td>
									张三
									<!-- td 右边的边框 -->
									<span class="border-span"></span>
								</td>
								<td>
									议价中
									<!-- td 右边的边框 -->
									<span class="border-span"></span>
								</td>
								<td>
									<p>Chompa-rangsey Chan</p>
									<p class="star-num-p"><img src="static/image/order-img/iconstar.png"></p>
									<!-- td 右边的边框 -->
									<span class="border-span"></span>
								</td>
								<td>
									<img class="es-list-img" src="static/image/home/pic1.png">
									<!-- td 右边的边框 -->
									<span class="border-span"></span>
								</td>
								<td>
									 <p class="es-url-p">https://promotionjewel123456778</p>
									<!-- td 右边的边框 -->
									<span class="border-span"></span>
								</td>
								<td>
									$224.89
									<!-- td 右边的边框 -->
									<span class="border-span"></span>
								</td>
								<td>
									100个
									<!-- td 右边的边框 -->
									<span class="border-span"></span>
								</td>
								<td>
									some massage
									<!-- td 右边的边框 -->
									<span class="border-span"></span>
								</td>
								<td>
									<a class="es-view-detail" href="javascript:void(0)">查看详情</a>
								</td>
								
							</tr>
							<!-- 第二行 -->
						</tbody>
					</table>
				</div>
				<!-- 分页 -->
				<div class="pages-fun">
					<select class="c-select-page-num">
						<option>1</option>
						<option>3</option>
						<option>10</option>
						<option>20</option>
					</select>
					<span class="every-page">每页</span>
					<span class="every-page gong">共</span>
					<span class="c-all-num-line">123</span>
					<span class="every-page">条</span>
				    <span id="demo3-text"></span>
				    <div id="c-pages-fun"></div>
				    <span class="every-page">跳转:</span>
				    <input class="c-inp-num-go"></input>
				    <span class="jump-btn">go</span>
				</div>
			</div>
		</div>
	</div>


	
	<script type="text/javascript" src="static/js/erp-sourcing/erp-sourcing.js"></script>
</body>
</html>