<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>信息提示页面</title>
</head>
<body>
		<table width="60%" border=0 align=center cellpadding=3 cellspacing=1
			style="border: 1px #81baf0 solid; background-color: #FFFFFF; font: 12px;">
			<tr>
				<th
					style="background-color: #81baf0; color: white; font-size: 14px; font-weight: bold; height: 26;">
					信息提示</th>
			</tr>
			<tr>
				<td
					style="background-color: #F7F7F7; font-size: 12px; height: 32; text-align: center; vertical-align: middle">登录超时</td>
			</tr>
			<tr>
				<td align=center
					style="background-color: #F0F0F0; font-size: 12px; height: 20;">
					<a href="javascript:void(0);" onclick="goLogin()">重新登录</a>
				</td>
			</tr>
		</table>
</body>
<script>
	function goLogin() {
		window.parent.location.href = 'login.html';
	}
	console.log(window.location.search);
</script>
</html>