<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="义乌市促佳贸易有限公司"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>忘记密码</title>
	<link rel="stylesheet" type="text/css" href="./static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./static/bootstrap-validator/dist/css/bootstrapValidator.min.css">
	<link rel="stylesheet" type="text/css" href="./static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="./static/css/forgotPassword.css">
	<script type="text/javascript" src="./static/js/public/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="./static/angular-1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="./static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./static/bootstrap-validator/dist/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="./static/angular-1.5.8/angular-cookies.min.js"></script>
	<script type="text/javascript" src="./static/angular-1.5.8/angular-translate.min.js"></script>
</head>
<body ng-app="app">
	<div class="forgot-wrap" ng-controller="forgotCtrl">
		<!-- 头部 -->
		<div class="forgot-header">

			<div class="main">
			<div class="main-child">
				<a class="home-link" href="javascript:void(0)">
					<img src="./static/image/login/logoapp.png">
				</a>
			</div>
			</div>
		</div>
		<!-- 部分 -->
		<div class="forgot-mid">
			<!-- 忘记密码部分 -->
			<div class="forgot-con" ng-if="forgetPass">
				<div class="forcon-text">
					<p>忘记密码</p>
				</div>
				<div ng-show="isError" class="error-email">
					<img src="./static/image/login/i.png">
					<p class="error-p1">对不起，找不到使用此地址的</p>
					<p class="error-p2">账户。</p>
				</div>
				<form name="forgotForm" novalidate>
					<div class="forcon-email">
						<img class="email-img" src="./static/image/login/email.png">
						<input
						 class="email-input" name="email" type="email"  placeholder="Email地址" ng-model="emailAdress" required>
						<span class="span" ng-show="forgotForm.email.$dirty && forgotForm.email.$invalid">
							<span ng-show="forgotForm.email.$error.email">非法的邮箱地址
							</span>
						</span>
					</div>
					<div class="send-pass" ng-click="sendEmail()">
						<a href="javascript:void(0);">发送重置密码链接
						</a>
					</div>
				</form>
				<p>请输入您的Email地址，我们会将重置密码所需要的信息发送给您。</p>
			</div>
			<!-- 重设密码部分 -->
			<div class="forgot-con" ng-if="resetPass">
				<div class="forcon-text">
					<p>重置密码</p>
				</div>
				<form name="resetForm" novalidate>
					<div class="forcon-email">
						<img class="lock-img1" src="./static/image/login/iconpassword-grey.png">
						<input class="pass-input1" name="password" type="password" ng-model="confirm.password" minlength="6" required>
						</input>
						<span class="error-span" ng-show="resetForm.password.$dirty && resetForm.password.$invalid">
							<span ng-show="resetForm.password.$error.minlength">密码必须大于6位</span>
						</span>
					</div>
					<div class="forcon-email">
						<img class="lock-img2" src="./static/image/login/iconpassword-grey.png">
						<input class="pass-input2" name="verifyPassword" type="password" ng-model="confirm.plainPassword" required>
						</input>
						<span class="error-span" ng-show="resetForm.verifyPassword.$dirty">
							<span ng-show="resetForm.verifyPassword.$dirty && confirm.password!=confirm.plainPassword">两次输入密码不一样</span>
						</span>
						<!-- <span ng-show="confirm.password!=confirm.plainPassword">两次输入密码不一样</span> -->
					</div>
					<div class="send-pass">
						<a href="javascript:void">重置密码</a>
					</div>
				</form>
			</div>
			<!-- 重设密码成功 -->
			<div class="forgot-con" ng-if="resetPassSuccess">
				
			</div>

		</div>



		<!-- 部分 -->
		<!-- <div class="error-mid" ng-show="isError">
			<div class="forgot-con">
				<div class="forcon-text">
					<p>忘记密码</p>
				</div>
				<div class="error-email">
					<img src="./static/image/login/i.png">
					<p class="error-p1">对不起，找不到使用此地址的</p>
					<p class="error-p2">账户。</p>
				</div>
				<form name="forgotForm2" novalidate>
				<div class="forcon-email">
					<img src="./static/image/login/email-check.png">
					<input class="no-user" type="text" ng-model="emailAdress">
					</input>
					<span class="span" ng-show="forgotForm2.email.$dirty && forgotForm2.email.$invalid">
						<span ng-show="forgotForm2.email.$error.email">非法的邮箱地址</span>
					</span>
				</div>
				<div class="send-pass">
					<a href="javascript:void">发送重置密码链接</a>
				</div>
				</form>
				<p>请输入您的Email地址，我们会将重置密码所需要的信息发送给您。</p>
			</div>
		</div> -->


		<!-- 尾部备案号 -->
		<div class="forgot-footer">
			<div class="forfoo-con">
				<span>Privacy Policy</span>
				<a href="javascript:void(0);">Help</a>
				<span><span class="copyright-logo">©</span>2017 CJDropshipping.com.All Rights Reserved.</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./static/js/login/forgotPassword.js"></script>
</body>
</html>