<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="description" content="跨境电商ERP，外贸电商ERP，外贸管理软件,Cross-Border Electronic Commerce ERP,Foreign trade electricity,TradeMail | TradeCRM"/> -->
    <meta name="description" content="义乌市促佳贸易有限公司"/><!-- 19-11-28 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>home</title>
	<link rel="shortcut icon" href="static/favicons.png"/>
	<link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/bootstrap-validator/dist/css/bootstrapValidator.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="static/css/swiper-3.4.2.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/home.css">
	<script type="text/javascript" src="static/js/public/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="static/angular-1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/bootstrap-validator/dist/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="static/angular-1.5.8/angular-cookies.min.js"></script>
	<script type="text/javascript" src="static/angular-1.5.8/angular-translate.min.js"></script>
	<script type="text/javascript" src="static/js/public/swiper-3.4.2.jquery.min.js"></script>
</head>
<body ng-app="app">
	<div class="homewrap"  ng-controller="home">
		<!-- 头部 -->
		<div class="home-header">
			<!-- 轮播图 -->
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide" style="background: url(static/image/home/banner.png) center top/cover;">
			        </div>
			        <div class="swiper-slide" style="background: url(static/image/home/banner.png) center top/cover;">
			        </div>
			    </div>
			    <!-- 如果需要分页器 -->
			    <div class="swiper-pagination"></div>
			    
			    <!-- 如果需要导航按钮 -->
			    <!-- <div class="swiper-button-prev"></div>
			    <div class="swiper-button-next"></div> -->
			</div>
			<!-- 头部logo部分 -->
			<div class="logo-header">
				<!-- logo -->
				<div class="logo-main">
					<div class="logo-img">
						<a href="javascript:void(0)">
							<img src="static/image/login/logoapp.png" alt="促成科技">
						</a>
					</div>
					<ul>
						<li class="login-register">
							<a href="javascript:void(0)">Register</a>
						</li>
						<li class="login-register">
							<a class="sign-in" href="javascript:void(0)">Sign In</a>
						</li>
						<li>
							<a class="help" href="javascript:void(0)">HELP</a>
						</li>
						<li>
							<a class="contact-us" href="javascript:void(0)">CONTACT US</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- 头部导航部分 -->
			<div class="nav-header">
				<!-- 中间内容部分 -->
				<div class="nav-content">
					<div class="search">
						<div class="search-inp">
							<input></input>
						</div>
						<div class="search-img">
							<img src="static/image/home/iconsearch.png">
						</div>
					</div>
					<ul class="main-nav">
						<li>
							<a href="javascript:void(0)">My CJ</a>
						</li>
						<li>
							<a href="javascript:void(0)">Purchase List</a>
						</li>
						<li>
							<a href="javascript:void(0)">Sourcing</a>
						</li>
						<li>
							<a href="javascript:void(0)">Listing</a>
						</li>
						<li>
							<a href="javascript:void(0)">Favorite</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 中间内容部分 -->
		<div class="home-mid">
			<div class="homemid-content">
				<!-- 左侧的菜单栏 -->
				<div class="left-list">
					<ul>
						<li class="first-menu">
							<a class="first-menu-a">Women's Clothing</a>
							<img src="static/image/home/arrow.png">
							<ul>
								<li class="second-menu">
									<a class="second-menu-a">Women's Clothing</a>
								</li>
								<li class="second-menu">
									<a class="second-menu-a">Phones & Accessories</a>
								</li>
								<li class="second-menu">
									<a class="second-menu-a">Computer & Office</a>
								</li>
								<li class="second-menu">
									<a class="second-menu-a">Consumer Electronics</a>
								</li>
							</ul>
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Men's Clothing</a>
							<img src="static/image/home/arrow.png">
							<ul>
								<li class="second-menu">
									<a class="second-menu-a">Men's Clothing</a>
								</li>
								<li class="second-menu">
									<a class="second-menu-a">Phones & Accessories</a>
								</li>
								<li class="second-menu">
									<a class="second-menu-a">Computer & Office</a>
								</li>
								<li class="second-menu">
									<a class="second-menu-a">Consumer Electronics</a>
								</li>
							</ul>
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Phones & Accessories</a>
							<img src="static/image/home/arrow.png">
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Computer & Office</a>
							<img src="static/image/home/arrow.png">
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Consumer Electronics</a>
							<img src="static/image/home/arrow.png">
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Jewelry & Watches</a>
							<img src="static/image/home/arrow.png">
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Home & Garden, Furniture</a>
							<img src="static/image/home/arrow.png">
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Bag & Shoes</a>
							<img src="static/image/home/arrow.png">
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Toys, Kids & Baby</a>
							<img src="static/image/home/arrow.png">
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Sports & Outdoors</a>
							<img src="static/image/home/arrow.png">
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Health & Beauty, Hair</a>
							<img src="static/image/home/arrow.png">
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Automobiles & Motorcycles</a>
							<img src="static/image/home/arrow.png">
						</li>
						<li class="first-menu">
							<a class="first-menu-a">Home Improvement</a>
							<img src="static/image/home/arrow.png">
						</li>
					</ul>
				</div>
				<!-- 右边的展示列表 -->
				<div class="commodity-show">
					<div class="container">
						<div class="product-title">
							<p>Top dropshipping products</p>
						</div>
						<div class="row">
						  <div class="col-xs-3">
						  	<div class="listing-show">
						  		<div class="listing">
						  			<a href="javascript:void(0)">Listing</a>
						  			<img src="static/image/home/collect-.png">
						  		</div>
						  		<img class="product-img" src="static/image/home/pic1.png">
						  	</div>
							<div class="product-detail">
								<p class="detail-text">CTZLHSSLOO1 Skull come here 123</p>
								<p class="product-price">$ 3.8</p>
							</div>
						  </div>
						  <div class="col-xs-3">
							<div class="listing-show">
						  		<div class="listing">
						  			<a href="javascript:void(0)">Listing</a>
						  			<img src="static/image/home/collect-.png">
						  		</div>
						  		<img class="product-img" src="static/image/home/pic1.png">
						  	</div>
							<div class="product-detail">
								<p class="detail-text">CTZLHSSLOO1 Skull come here 123</p>
								<p class="product-price">$ 3.8</p>
							</div>
						  </div>
						  <div class="col-xs-3">
							<div class="listing-show">
						  		<div class="listing">
						  			<a href="javascript:void(0)">Listing</a>
						  			<img src="static/image/home/collect-.png">
						  		</div>
						  		<img class="product-img" src="static/image/home/pic1.png">
						  	</div>
							<div class="product-detail">
								<p class="detail-text">CTZLHSSLOO1 Skull come here 123</p>
								<p class="product-price">$ 3.8</p>
							</div>
						  </div>
						  <div class="col-xs-3">
							<div class="listing-show">
						  		<div class="listing">
						  			<a href="javascript:void(0)">Listing</a>
						  			<img src="static/image/home/collect-.png">
						  		</div>
						  		<img class="product-img" src="static/image/home/pic1.png">
						  	</div>
							<div class="product-detail">
								<p class="detail-text">CTZLHSSLOO1 Skull come here 123</p>
								<p class="product-price">$ 3.8</p>
							</div>
						  </div>
						</div>
						<div class="row">
						  <div class="col-xs-3">
						  	<div class="listing-show">
						  		<div class="listing">
						  			<a href="javascript:void(0)">Listing</a>
						  			<img src="static/image/home/collect-.png">
						  		</div>
						  		<img class="product-img" src="static/image/home/pic1.png">
						  	</div>
							<div class="product-detail">
								<p class="detail-text">CTZLHSSLOO1 Skull come here 123</p>
								<p class="product-price">$ 3.8</p>
							</div>
						  </div>
						  <div class="col-xs-3">
							<div class="listing-show">
						  		<div class="listing">
						  			<a href="javascript:void(0)">Listing</a>
						  			<img src="static/image/home/collect-.png">
						  		</div>
						  		<img class="product-img" src="static/image/home/pic1.png">
						  	</div>
							<div class="product-detail">
								<p class="detail-text">CTZLHSSLOO1 Skull come here 123</p>
								<p class="product-price">$ 3.8</p>
							</div>
						  </div>
						  <div class="col-xs-3">
							<div class="listing-show">
						  		<div class="listing">
						  			<a href="javascript:void(0)">Listing</a>
						  			<img src="static/image/home/collect-.png">
						  			<!-- <img src="static/image/home/collect-red.png"> -->
						  		</div>
						  		<img class="product-img" src="static/image/home/pic1.png">
						  	</div>
							<div class="product-detail">
								<p class="detail-text">CTZLHSSLOO1 Skull come here 123</p>
								<p class="product-price">$ 3.8</p>
							</div>
						  </div>
						  <div class="col-xs-3">
							<div class="listing-show">
						  		<div class="listing">
						  			<a href="javascript:void(0)">Listing</a>
						  			<img src="static/image/home/collect-.png">
						  		</div>
						  		<img class="product-img" src="static/image/home/pic1.png">
						  	</div>
							<div class="product-detail">
								<p class="detail-text">CTZLHSSLOO1 Skull come here 123</p>
								<p class="product-price">$ 3.8</p>
							</div>
						  </div>
						</div>
						<!-- 展示更多 -->
						<div class="more-product">
							<a href="javascript:void(0)">more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		<div class="footer">
			<!-- 备案号 -->
			<div class="forfoo-con">
				<span>Privacy Policy</span>
				<a href="javascript:void(0);">Help</a>
				<span><span class="copyright-logo">©</span>2017 CJDropshipping.com.All Rights Reserved.</span>
			</div>
		</div>
	</div>
		
	<script type="text/javascript" src="static/js/home/home.js"></script>
</body>
	<script type="text/javascript">
		$(function () {
			var mySwiper = new Swiper ('.swiper-container', {
			    // direction: 'vertical',
			    loop: true,
			    autoplay:5000,
			    //用户操作以后会不会停止
			    autoplayDisableOnInteraction : false,
			    // 如果需要分页器
			    pagination: '.swiper-pagination',
			    //点击分页按钮的切换
			    paginationClickable :true,
			    
			    // 如果需要前进后退按钮
			    nextButton: '.swiper-button-next',
			    prevButton: '.swiper-button-prev',
			    // 如果需要滚动条
			    // scrollbar: '.swiper-scrollbar',
			  }) 
		})
	</script>
</html>