<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>临时工打卡</title>
<style type="text/css">
  .tip-div{
    text-align: center;
  }
  #tx{
    text-indent: 12px;
    width: 500px;
    height: 100px;
    font-size: 40px;
    margin-top: 200px;
  }
  .tit-p{
    margin-top: 100px;
  }
</style>
</head>
<script type="text/javascript" src="static/js/public/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="static/angular-1.5.8/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script type="text/javascript" src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<body ng-app="lsgdkApp" ng-controller="lsgdkAppCtrl">
      <!-- <div class="bg-wrap"></div> -->
      <div class="tip-div">
        <p class="tit-p">
          <font size="10" color="lightseagreen">临时工打卡</font>
        </p>
        <input id="tx" type="text" ng-model="dakaName" placeholder="请扫描临时工工牌编号" />
      </div>
    <audio class="audio-qdcg" src="static/audio/qdcg.mp3"></audio>
    <audio class="audio-yqdxx" src="static/audio/yqdxx.mp3"></audio>
    <audio class="audio-xbqd" src="static/audio/xbqd.mp3"></audio>
    <audio class="audio-dksb" src="static/audio/dksb.mp3"></audio>
    <!-- <p>{{loTime | date:'yyyy-MM-dd HH:mm:ss'}}</p> -->
</body>
<script src="./static/js/public/base64.min.js"></script>
<script src="./static/js/public/common.js"></script>
<script src="./static/layer/layer.js"></script>
<script type="text/javascript">
(function (angular) {
    var app = angular.module('lsgdkApp',['service']);
    app.controller('lsgdkAppCtrl',['$scope',"erp","$timeout",function ($scope,erp,$timeout) {
      console.log('临时工')
      $("#tx").focus();
      $(document).click(function () {
        $("#tx").focus();
      })
      $('#tx').keypress(function(e) { 
         if(e.which == 13) {  
             $scope.qiandaoFun();
         } 
       });
      $scope.qiandaoFun = function(){
        // var nowDate = timestampToTime(new Date());
        var nowDate = new Date().getTime()+'';
        console.log(nowDate)
        console.log($scope.dakaName)
        var dakaJson = {};
        dakaJson.code = $scope.dakaName;
        dakaJson.time = nowDate;
        erp.postFun('pojo/linShiGong/daKa',JSON.stringify(dakaJson),function(data){
          console.log(data)
          $scope.dakaName = '';
          layer.msg(data.data.message)
          if (data.data.statusCode==200) {
            $('.audio-qdcg').get(0).play();
          } else if(data.data.statusCode==202){
            $('.audio-yqdxx').get(0).play();
          } else if(data.data.statusCode==204){
            $('.audio-xbqd').get(0).play();
          } else{
            $('.audio-dksb').get(0).play();
          }
        },function(data){
          console.log(data)
          layer.msg('网络错误')
          $('.audio-dksb').get(0).play();
        })
      }
    }]);
    function err (error) {
      erp.closeLoad();
        console.log(error);
        // layer.closeAll('loading');
    }
    //格式化时间
    function timestampToTime(date) {
        var Y,M,D,h,m,s
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate() < 10 ? '0' + date.getDate() + ' ' : date.getDate() + ' ';
        h = date.getHours() < 10 ? '0' + date.getHours() + ':' : date.getHours() + ':';
        m = date.getMinutes() < 10 ? '0' + date.getMinutes() + ':' : date.getMinutes() + ':';
        s = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
        return Y+M+D+h+m+s;
    }
    //格式化日期
    function timestampToDate(date) {
        var Y,M,D,h,m,s
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate() + ' ';
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y+M+D;
    }
})(angular)   

</script>
</html>