<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="义乌市促佳贸易有限公司" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>manage</title>
    <!-- <link rel="stylesheet" type="text/css" href="static/css/linlin.css"/> -->
    <link rel="shortcut icon" href="static/favicons.png" />
    <link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/Font-Awesome-3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- 外包css -->
    <link rel="stylesheet" type="text/css" href="erp_otweb/css/erp-public_style.css">
    <link rel="stylesheet" type="text/css" href="erp_otweb/css/li_erp.css">
    <link rel="stylesheet" type="text/css" href="erp_otweb/css/wa-erp.css">
    <!-- 商品css -->
    <link rel="stylesheet" type="text/css" href="static/css/manage.css">
    <link rel="stylesheet" type="text/css" href="static/css/manage02.css">
    <link rel="stylesheet" type="text/css" href="static/css/merchandise.css">
    <link rel="stylesheet" type="text/css" href="static/css/erp-warehouse.css">
    <link rel="stylesheet" type="text/css" href="static/css/ruzhucus.css">
    <!-- 引入订单的样式文件 -->
    <link rel="stylesheet" type="text/css" href="static/css/dcalendar.picker.css">
    <link rel="stylesheet" type="text/css" href="static/css/customer-store-order.css">
    <link rel="stylesheet" type="text/css" href="static/css/excel-orders.css">
    <link rel="stylesheet" type="text/css" href="static/css/customer-manage.css">
    <link rel="stylesheet" type="text/css" href="static/css/system-message.css">
    <link rel="stylesheet" type="text/css" href="static/css/gxh-gys.css">
    <!-- 引入搜品 -->
    <link rel="stylesheet" type="text/css" href="static/css/erp-sourcing.css">
    <link rel="stylesheet" type="text/css" href="static/css/erp-sourcedetail.css">
    <link rel="stylesheet" type="text/css" href="static/css/mycj.css">
    <!-- 数据分析 -->
    <link rel="stylesheet" type="text/css" href="static/css/analysis.css">
    <!-- 邮箱设置 -->
    <link rel="stylesheet" type="text/css" href="static/css/setEmail.css">
    <!--video.css-->
    <link rel="stylesheet" type="text/css" href="erp_otweb/css/video-js.css">
    <link rel="stylesheet" type="text/css" href="erp_otweb/css/erp-home.css">
    <link rel="stylesheet" type="text/css" href="static/components/analysis/order-analysis.css">
    <link rel="stylesheet" type="text/css" href="static/components/common-log/com-log.css">
    <link rel="stylesheet" type="text/css" href="static/components/time-select/time-select.css">
    <link rel="stylesheet" type="text/css" href="static/css/chromeOrder.css">
    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.1/skins/default/aliplayer-min.css" />
    <link rel="stylesheet" href="./static/wui-date/css/wui.css">
		<!-- 调拨单 -->
		<link rel="stylesheet" href="static/css/preScheduling.css">
	  <!-- 搜品新做 -->
		<link rel="stylesheet" href="static/css/sourcing.css">
    <!-- 2019-12-10 page组件css 临时增加  -->
    <link rel="stylesheet" href="./static/components/pagination/pagination.css">
    <script type="text/javascript" src="static/js/public/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="static/angular-1.5.8/angular.js"></script>
    <script type="text/javascript" src="static/angular-1.5.8/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="static/angular-1.5.8/angular-messages.min.js"></script>
    <script type="text/javascript" src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/angular-1.5.8/angular-route.min.js"></script>
    <script src="./static/layer/layer.js"></script>
    <!--<script src="./static/wang-editor-master/js/wangEditor.min.js"></script>-->
    <!--v3版本富文本js-->
    <link rel="stylesheet" href="./static/release/wangEditor.min.css">
    <!-- 19-04-04 bootstrap4 栅格系统、弹性布局 -->
    <link rel="stylesheet" href="./static/css/common-boot4-part.css">
    <script src="./static/release/wangEditor.min.js"></script>

    <script src="./static/jqPaginator-master/jqPaginator.js"></script>
    <script src="./static/ng-draggable-master/ngDraggable.js"></script>
    <!-- <script src="static/layer/layer.js"></script> -->
    <script src="./static/ng-paginator-master/ng-paginator.js"></script>
    <!--星级-->
    <script type="text/javascript" src="static/js/public/jquery.raty.js"></script>
    <script type="text/javascript" src="static/js/public/swiper-3.4.2.jquery.min.js"></script>
    <script type="text/javascript" src="static/angular-1.5.8/angular-translate.min.js"></script>
    <script type="text/javascript" src="static/angular-1.5.8/angular-translate-loader-static-files.min.js"></script>
    <script src="static/seldate/WdatePicker.js"></script>
    <script src="./static/js/public/moment-2.22.2.min.js"></script>
    <script src="static/js/aliyun-upload-video/aliyun-upload-sdk/aliyun-upload-sdk-1.5.0.min.js"></script>
    <script src="static/js/aliyun-upload-video/aliyun-upload-sdk/lib/es6-promise.min.js"></script>
    <script src="static/js/aliyun-upload-video/aliyun-upload-sdk/lib/aliyun-oss-sdk-5.3.1.min.js"></script>
    <script charset="utf-8" type="text/javascript" src="https://g.alicdn.com/de/prismplayer/2.8.1/aliplayer-min.js"></script>
    <!-- 2019-6-26 file upload lib -->
    <script src="https://miandan.cjdropshipping.com/js-lib/utils.1.0.0.js"></script>
    <!-- 2019-7-10 echarts lib  -->
    <script src="static/js/public/echarts.common.min.js"></script>
    <script src="static/js/jszip/jszip.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <style>
        .guanlianshangpin-wrap .title {
            line-height: 25px;
            font-size: 16px;
            text-align: center;
        }

        .guanlianshangpin-wrap .contxt {
            text-indent: 2em;
            line-height: 25px;
            font-size: 14px;
            color: #999988;
            max-height: 200px;
            overflow-y: auto;
        }

        .guanlianshangpin-wrap .contxt a {
            color: #08ACE9;
            text-decoration: underline;
            cursor: pointer;
        }

        .guanlianshangpin-wrap button {
            display: inline-block;
            width: 60px;
            height: 25px;
            line-height: 25px;
            color: #fff;
            text-align: center;
            background-color: #08aceb;
            border-radius: 4px;
            font-size: 14px;
        }

        .guanlianshangpin-wrap .closebtn {
            display: inline-block;
            width: 106px;
            height: 30px;
            line-height: 30px;

            color: #fff;
            text-align: center;
            background-color: #08aceb;
            border-radius: 4px;
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        body .xitong .guanlianshangpin {
            width: 500px;
            height: 400px;
        }

        body .neibu .guanlianshangpin {
            width: 600px;
            height: 400px;
        }

        body .xitong .guanlianshangpin .source {
            height: 260px;
            overflow: auto;
        }

        body .xitong .guanlianshangpin .source li {
            margin-bottom: 10px;
        }

        body .xitong .guanlianshangpin .gosource {
            width: 60px;
            height: 25px;
            line-height: 25px;
            color: #fff;
            text-align: center;
            background-color: #08aceb;
            border-radius: 4px;
            font-size: 14px;
            margin: 10px auto 0 auto;
            display: block;
        }

        .content-box {
            max-height: 300px;
            overflow-y: auto;
            font-size: 14px;
        }

        .dhl-order .item {
            display: flex;
        }

        .dhl-order .item span {
            color: red;
            margin-right: 20px;
        }
    </style>
</head>

<body ng-app="manage" ng-controller="manageCtrl">
    <!-- 内容导航-->
    <div class="cebian-menu" id="cebian-menu" ng-show="cebianList.length > 0">
        <div class="cebian-nav">
            <div ng-show="!isZhankai" id="zhankai">
                <div class="zhankaiContent">
                    <a class="zhankaiyidong" href=""></a>
                    <!--<img class="zhankaiyidong" src="static/image/manage/move2.png" alt=""/>-->
                    <img ng-click="shrinkFn('zhankai')" class="zhankaiimg" src="static/image/manage/zhankai.png" alt="" />
                    <!--<img class="zhankaiyidong" src="static/image/manage/move2.png" alt=""/>-->
                    <a class="zhankaiyidong" href=""></a>
                    <!--<img class="zhankaiyidong" src="static/image/manage/move2.png" alt=""/>-->
                </div>

            </div>

            <a ng-show="isZhankai" id="yidong" href=""><img src="static/image/manage/move.png" alt="" /></a>
            <div class="cebian-content" style="white-space: nowrap">
                <span class="ord-stu-cs" ng-class="{'act': i.isActive}" ng-repeat="i in cebianList" repeat-finish="renderFinish2()">
              <a ng-click="clickCebianfn()" href="{{i.href}}">{{i.name | translate}} {{iscunzai(i.count)}}</a>
            </span>
            </div>

            <a ng-click="shrinkFn('shouqi')" id="shouqi" href="JavaScript:void(0)"><img src="static/image/manage/shouqi.png" alt="" /></a>
        </div>
    </div>
    <div class="comheader-wrap" style="width: 250px;height: 100%;position: fixed;">
        <div class="header-con">
            <div class="header-logo-new d-flex-center">
                <img src="static/image/public-img/erplogo.png">
                <a ng-bind="admin" class="header-logo-user"></a>
            </div>
            <!-- 导航部分 -->
            <div class="header-nav" ng-mouseleave="navMouseLeaveFn()">
                <ul class="fnav">
                    <li ng-mouseenter="navMouseEnterFn(item)" class="fnav-li" ng-class="{'active': item.isActive, 'act': item.isHover}" ng-repeat="item in firstNavList" ng-hide="{{item.hidden}}" repeat-finish="renderFinish()">
                        <img ng-src="{{item.img}}" alt="" />
                        <a ng-click="clickMenu($event, item, 'first')" data-attr="1" href="{{item.href}}" translate="{{item.name}}"></a>
                        <div class="header-nav-icon header-nav-1">&nbsp;</div>
                        <div class="header-nav-icon header-nav-2">&nbsp;</div>
                        <div class="second-content" ng-class="{'show': item.isHover}">
                            <div ng-class="{'second-nav':true}">
                                <div class="s-content" ng-class="{'s-content-en': change_lang === 'cn'}" ng-cloak ng-repeat="nav in item.children" ng-hide="{{nav.hidden}}">
                                    <h2 class="s-title" ng-class="{'act': nav.isActive}">
                                        <a ng-click="clickMenu($event, nav, 'second')" data-attr="2" href="{{nav.href}}">{{nav.name |translate}}
                                    {{iscunzai(nav.count)}}</a>
                                    </h2>
                                    <div class="t-content">
                                        <p ng-class="{'act': son.isActive}" ng-click="clickMenu($event, son, 'third')" render-finish ng-repeat="son in nav.children" ng-hide="{{son.hidden}}">
                                            <a data-attr="3" href="{{son.href}}">{{son.name |translate}}{{iscunzai(son.count)}}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header-bottom d-flex-center">
                <button class="language-change" ng-model="change_lang" ng-click="changeLanguage(change_lang)">
				<span class="language-change-img"></span>
				<span class="language-change-text" ng-cloak>{{iflang(change_lang)}}</span>
			</button>
            </div>
        </div>
    </div>


    <!--系统通知弹窗-->
    <div class="guanlianshangpin-wrap xitong" ng-show="isShowNotice" ng-cloak>
        <div class="guanlianshangpin c-ord-con" style="margin: auto;right: 0;top: 0;left: 0;bottom: 0;">
            <h3 class="title">{{showData.title}}</h3>
            <!-- 系统通知 -->
            <div class="content-box" ng-if="showData.type === '1'">
                <div ng-repeat="item in showData.data">
                    <p ng-show="item.stype == 'issue'" class="contxt">
                        你有未处理的工单
                        <a href="#/erpservice/gd" target="_blank">{{item.count}}条</a>。
                    </p>
                    <p ng-show="item.stype == 'dispute'" class="contxt">
                        你有未处理的纠纷<a href="#/erpservice/csdisputePendingm" target="_blank">{{item.count}}条</a>。
                    </p>
                    <p ng-show="item.stype == 'sourceproduct'" class="contxt">你有等待搜品<a href="#/sourcing" target="_blank">{{item.count}}条</a>。</p>
                    <p ng-show="item.stype == 'locproduct'" class="contxt">你有等待审核商品<a href="#/merchandise/list/drop/1" target="_blank">{{item.count}}条</a>。</p>
                    <p ng-show="item.stype == 'serveProduct'" class="contxt">你有待审核服务商品<a href="#/merchandise/pendfuwu" target="_blank">{{item.count}}条</a>。</p>
                </div>
            </div>
            <!-- DHL订单通知 -->
            <div class="dhl-order content-box" ng-if="showData.type === '2'">
                <div class="item" ng-repeat="item in showData.data">
                    <div>{{item.orderType === '1' ? '直发订单:' : '代发订单:' }}<span>{{item.orderId}}</span></div>
                    <div>下单时间:<span>{{item.orderDate.time | date:'yyyy-MM-dd HH:mm:ss'}}</span></div>
                </div>
            </div>
            <!-- 搜品通知 -->
            <div class="content-box" style="height: 270px;" ng-if="showData.type === '3'">
                <div ng-repeat="item in showData.data">
                    搜品编号<span style="color:green;">{{item.number}}</span>截止时间<span style="color:red;">{{item.jieZhiShiJianStr}}</span>,请快速处理！
                </div>
            </div>
            <!-- 内部通知 -->
            <div style="color: #999988;" class="content-box notice" ng-if="showData.type === '4'">
                {{showData.info}}
            </div>
            <a ng-if="showData.type === '3'" class="gosource" href="#/sourcing" target="_blank">去处理</a>
            <button ng-disabled="idx === 0" style="position: absolute;left: 100px;bottom: 22px;" ng-click="preBtn()">上一条</button>
            <button class="closebtn" ng-click="closeNotice()">知道了</button>
            <button ng-disabled="idx === noticeData.length-1" style="position: absolute;right: 100px;bottom: 22px;" ng-click="nextBtn()">下一条</button>
        </div>
    </div>

    <!--其他-->
    <div ng-view class="erp-main"></div>
    <script src="./static/md5/md5.min.js"></script>
    <script src="./static/js/public/base64.min.js"></script>
    <script src="./static/js/public/common.js"></script>
    <script src="./static/js/public/qrcode.min.js"></script>
    <!-- canvas转blob -->
    <!-- <script src="./static/js/public/canvas-to-blob.min.js"></script> -->

<!-- CONST 静态资源包 -->
<script type="text/javascript" src="static/js/manage/const.js"></script>

<!-- xiaokyoModules -->
<script type="text/javascript" src="static/newPages/moduleList.js"></script>
<script type="text/javascript" src="static/newPages/routerList.js"></script>
<!-- xiaokyoModules -->
<script type="text/javascript" src="static/js/manage/manage.js"></script>
<script type="text/javascript" src="static/js/manage/router/purchase.js"></script>
<script type="text/javascript" src="static/js/manage/merchandise/merchandise-common.js"></script>
<script type="text/javascript" src="static/js/manage/merchandise/merchandise-drop.js"></script>
<script type="text/javascript" src="static/js/manage/merchandise/merchandise-description.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/merchandise-pod.css">
<script src="static/components/pod/pod.js"></script>
<script src="static/components/pod2/pod.js"></script>
<script src="static/components/page/page.js"></script>
<script src="static/components/storageTab/index.js"></script>
<script src="static/components/handleStockoutOrder/index.js"></script>
<script src="static/components/checkbox/index.js"></script>
<script src="static/components/modal/index.js"></script>
<script src="static/components/button/index.js"></script>
<script src="static/components/input/index.js"></script>
<script src="static/components/purchasePerson/index.js"></script>
<script src="static/components/purchasesModal/index.js"></script>
<script src="static/components/uploadFiles/index.js"></script>
<script src="static/components/pod-note/pod-note.js"></script>
<script src="static/components/pod-mes/pod-mes.js"></script>
<script src="static/components/common-log/com-log.js"></script>
<script src="static/components/upload-img/upload-img.js"></script>
<script src="static/components/time-select/time-select.js"></script>
<script src="static/components/rollOver//index.js"></script>
<script type="text/javascript" src="static/js/manage/merchandise/fuwusp.js"></script>
<script type="text/javascript" src="static/js/manage/merchandise/merchandise-add.js"></script>
<script type="text/javascript" src="static/js/manage/merchandise/merchandise-module-list.js"></script>
<script type="text/javascript" src="static/js/manage/merchandise/merchandise-detail.js"></script>
<script type="text/javascript" src="static/js/manage/merchandise/merchandise-package.js"></script>
<script type="text/javascript" src="static/js/manage/merchandise/merchandise-supplier-record.js"></script>
<script type="text/javascript" src="static/js/manage/merchandise/merchandise-supplier.js"></script>
<script type="text/javascript" src="static/js/manage/merchandise/merchandise-supplier-detail.js"></script>
<!-- 活动配置列表 -->
<script type="text/javascript" src="static/js/manage/merchandise/activityConfig.js"></script>
<!-- 活动配置-新增、编辑 -->
<script type="text/javascript" src="static/js/manage/merchandise/activityEdit.js"></script>
<!-- 活动配置-商品管理 -->
<script type="text/javascript" src="static/js/manage/merchandise/activityGoodsManage.js"></script>
<script type="text/javascript" src="static/js/supplier-manage/supplier-manage.js"></script>
<!--<script type="text/javascript" src="static/js/supplier-manage/edit-supplier.js"></script>-->
<script type="text/javascript" src="erp_otweb/js/lyz.calendar.min.js"></script>
<script type="text/javascript" src="erp_otweb/js/wa-WuLiu.js"></script>
<script type="text/javascript" src="erp_otweb/js/ichart.latest.min.js"></script>
<script type="text/javascript" src="static/js/erp-purchase/erp-purchase.js"></script>
<script type="text/javascript" src="static/js/erp-purchase/purchase-order.js"></script>
<!-- 12-15 新采购 -->
<script type="text/javascript" src="static/js/erp-purchase/purchase.js"></script>
<script type="text/javascript" src="static/js/erp-purchase/cost.js"></script>
<script type="text/javascript" src="static/js/erp-purchase/mark.js"></script>
<script type="text/javascript" src="static/js/erp-purchase/sign.js"></script>
<script type="text/javascript" src="static/js/erp-purchase/close-list.js"></script>
<!-- 12-26 新采购 -->
<script type="text/javascript" src="static/js/erp-purchase/purchase_new.js"></script>
<script type="text/javascript" src="static/js/erp-purchase/weight-change-log.js"></script>
<script src="static/js/erp-purchase/error/refund.js"></script>
<script src="static/js/erp-purchase/error/refuse.js"></script>
<script src="static/js/erp-purchase/management.js"></script>
<!-- 采购下新增-盘点缺货记录 -->
<script src="static/js/erp-purchase/stockout-log.js"></script>
<!-- 预采购 -->
<link rel="stylesheet" href="static/newPages/advancePurchase/index.css">
<script type="text/javascript" src="static/newPages/advancePurchase/index.js"></script>
<!-- 预采购 -->

    <!-- xiaokyo common require js -->
    <script type="text/javascript" src="static/newPages/index.js"></script>
    <!-- xiaokyo common require js -->

    <script type="text/javascript" src="static/js/erp-purchase/cgd-list.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/erp-warehouse.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/waredetail.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/warelist.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/wareset.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/pici.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/xiajia-kucun.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/qycdsz.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/depot-in.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/depot-kucun.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/privateware.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/warestock.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/warelinkcate.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/not-shipped.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/in-delivery.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/qianshou.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/received.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/completed.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/addpackage.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/noscheduled.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/scheduledadd.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/scheduled-completed.js"></script>
    <script type="text/javascript" src="static/js/erp-warehouse/fenbiao.js"></script>
    <script type="text/javascript" src="static/js/erp-staff/erp-staff.js"></script>
    <script type="text/javascript" src="static/js/erp-staff/new-storejxtj.js"></script>
    <script type="text/javascript" src="static/js/erp-staff/jxgz-add.js"></script>
    <script type="text/javascript" src="static/js/erp-staff/daywoker.js"></script>
    <script type="text/javascript" src="static/js/erp-staff/time-wage.js"></script>
    <!-- <script type="text/javascript" src="static/js/erp-staff/jquery.cookie.js"></script> -->
    <!--<script type="text/javascript" src="static/js/erp-logistics/erp-logistics.js"></script>-->

    <script type="text/javascript" src="static/components/customer-connected/customer-connected.js"></script>
    <script type="text/javascript" src="static/components/customer-skulist/customer-skulist.js"></script>
    <script type="text/javascript" src="static/components/customer-private/customer-private.js"></script>
    <script type="text/javascript" src="static/components/customer-private-record/customer-connected.js"></script>
    <script type="text/javascript" src="static/js/erp-customer/erp-customer.js"></script>
    <!-- COD -->
    <script type="text/javascript" src="static/js/erp-reconciliation/erp-reconciliation-bill-collection.js"></script>
    <script type="text/javascript" src="static/js/erp-reconciliation/erp-reconciliation-billList-collection.js"></script>
    <script type="text/javascript" src="static/js/erp-reconciliation/erp-reconciliation-billAccount-collection.js"></script>
    <script type="text/javascript" src="static/js/erp-reconciliation/erp-reconciliation-detail.js"></script>
    <!-- cod 物流费用-->
    <script type="text/javascript" src="static/js/erp-reconciliation/logisticsCosts.js"></script>
    <!-- cod 物流对账单 -->
    <script type="text/javascript" src="static/js/erp-reconciliation/logisticsStatement.js"></script>
    <!-- cod 物流对账单明细 -->
    <script type="text/javascript" src="static/js/erp-reconciliation/logisticsStatementDetails.js"></script>

<!-- 采购/签收异常 -->
<script type="text/javascript" src="static/js/erp-abnormal/abnormal-receipt.js"></script>
<!-- 活动咨询管理 -->
<script type="text/javascript" src="static/js/erp-resident/erp-resident.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-post-new-information.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-details.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-financial-statistics.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-withdrawal-application.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-freight-review.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-recharge-management.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-customer-list.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-exchange-rate.js"></script>
<script type="text/javascript" src="static/js/erp-customer/ruzhu-cus.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-bank-list.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-package-list.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-package-control.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-package-buy.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-package-trial.js"></script>
<script type="text/javascript" src="static/js/erp-resident/erp-resident-store-management.js"></script>
<script type="text/javascript" src="static/js/erp-finance/erp-finance.js"></script>
<script type="text/javascript" src="static/js/erp_subscriber/erp_subscriber.js"></script>
<script type="text/javascript" src="static/js/fenxiao_tixian/tixian.js"></script>
<script type="text/javascript" src="static/js/mycj/joke.js"></script>
<script type="text/javascript" src="static/js/mycj/cj_hot_issues.js"></script>
<script type="text/javascript" src="static/js/erp-l/erp-l.js"></script>
<script type="text/javascript" src="static/js/erp-l/erp-l-problem-package.js"></script>
<script type="text/javascript" src="static/js/erp-l/erp-l-abnormal-face.js"></script>
<script type="text/javascript" src="static/js/erp-l/erp-l-points-mall.js"></script>
<script type="text/javascript" src="static/js/erp-service/erp-service.js"></script>
<script type="text/javascript" src="static/js/erp-service/dispute-resolution.js"></script>
<script type="text/javascript" src="static/js/erp-service/dispute-pending.js"></script>
<script type="text/javascript" src="static/js/erp-service/dispute-examine.js"></script>
<script type="text/javascript" src="static/js/erp-service/dispute-pending-custom.js"></script>
<!-- 商品咨询 -->
<script type="text/javascript" src="static/js/erp-service/erp-commodity-consult.js"></script>
<!-- 引入订单的js文件 -->
<!-- <script type="text/javascript" src="static/js/public/jqPaginator.js"></script> -->
<script type="text/javascript" src="static/js/public/dcalendar.picker.js"></script>
<script type="text/javascript" src="static/js/erp-orders/customer-store-order.js"></script>
<script src="static/js/erp-orders/erp-czi-ord.js"></script>
<script src="static/js/erp-orders/erp-zf-ord.js"></script>
<script src="static/js/erp-orders/zf-interceptList.js"></script>
<script src="static/js/erp-orders/disputeOrder.js"></script>
<script src="static/js/erp-orders/erp-cmu-ord.js"></script>
<script src="static/js/erp-orders/erp-cmu-ordall.js"></script>
<script src="static/js/erp-orders/erp-eall-ord.js"></script>
<script src="static/js/erp-orders/erp-ecl-ord.js"></script>
<script src="static/js/mycj/mycj.js"></script>
<script type="text/javascript" src="static/js/erp-orders/excel-orders.js"></script>
<script type="text/javascript" src="static/js/erp-sourcing/erp-sourcing.js"></script>
<script type="text/javascript" src="static/js/erp-sourcing/erp-sourcedetail.js"></script>
<script type="text/javascript" src="static/js/login/login.js"></script>
<!-- <script type="text/javascript" src="static/js/login/staff-personcenter.js"></script> -->
<!-- 通知 -->
<!--<script src="static/js/erp-orders/system-message.js"></script>-->
<!-- 母订单 -->
<script type="text/javascript" src="static/js/mu-ord/mu-fone.js"></script>
<script type="text/javascript" src="static/js/mu-ord/mu-one.js"></script>
<script type="text/javascript" src="static/js/mu-ord/mu-two.js"></script>
<script type="text/javascript" src="static/js/mu-ord/mu-three.js"></script>
<script type="text/javascript" src="static/js/mu-ord/mu-four.js"></script>
<script type="text/javascript" src="static/js/mu-ord/mu-chulizhong.js"></script>
<!-- 子订单 -->
<script type="text/javascript" src="static/js/zi-ord/zi-one.js"></script>
<script type="text/javascript" src="static/js/zi-ord/zi-two-new.js"></script>
<script type="text/javascript" src="static/js/zi-ord/zi-two.js"></script>
<script type="text/javascript" src="static/js/zi-ord/custom-print.js"></script>
<script type="text/javascript" src="static/js/zi-ord/pod-zitwo.js"></script>
<script type="text/javascript" src="static/js/zi-ord/zi-interceptList.js"></script>
<script type="text/javascript" src="static/js/zi-ord/zi-three.js"></script>
<script type="text/javascript" src="static/js/zi-ord/zi-four.js"></script>
<script type="text/javascript" src="static/js/zi-ord/zi-five.js"></script>
<script type="text/javascript" src="static/js/zi-ord/zi-all.js"></script>
<script type="text/javascript" src="static/js/zi-ord/zi-diaodu.js"></script>
<script type="text/javascript" src="static/components/log/log.js"></script>
<script type="text/javascript" src="static/js/zi-ord/zxd.js"></script>
<!--视频订单-->
<script type="text/javascript" src="static/js/erp-orders/VideoOrder.js"></script>
<script type="text/javascript" src="static/js/gxh-gys/pod-ord.js"></script>
<!-- 我的账号 -->
<!-- <script type="text/javascript" src="static/js/login/my-account.js"></script> -->
<script type="text/javascript" src="static/js/login/staff-personcenter2.js"></script>
<!--系统设置-->
<script type="text/javascript" src="static/js/systemSettings/systemSettings.js"></script>
<!--银行管理-->
<script type="text/javascript" src="static/js/erp-bank/erpBank.js"></script>
<!--商品分析-->
<script type="text/javascript" src="static/js/manage/CommodityAnalysis/CommodityAnalysis.js"></script>
<script type="text/javascript" src="static/js/manage/CommodityAnalysis/turnover.js"></script>
<script type="text/javascript" src="static/js/manage/CommodityAnalysis/activityStatistics.js"></script>
<script type="text/javascript" src="static/js/manage/CommodityAnalysis/activityStatistics-new.js"></script>
<!-- 商品操作日志 -->
<script type="text/javascript" src="static/js/manage/CommodityAnalysis/log.js"></script>
<script type="text/javascript" src="static/js/manage/CommodityAnalysis/list-publish.js"></script>
<!--业务员设置-->
<script type="text/javascript" src="static/js/SalesmanManagement/SalesmanManagement.js"></script>
<script type="text/javascript" src="static/components/analysis/analysis.js"></script>
<!-- 发送邮件组件 -->
<script type="text/javascript" src="static/components/send-mail/send-mail.js"></script>
<!-- 搜品拒绝组件 -->
<script type="text/javascript" src="static/components/source-error/source-error.js"></script>
<!--新搜品拒绝组件-->
<script type="text/javascript" src="static/components/new-source-error/source-error.js"></script>
<!-- 僵尸订单 -->
<script src="static/js/erp-orders/zombie-order.js"></script>
<!-- 滞留订单 -->
<script src="static/js/erp-orders/retention-order.js"></script>
<!-- 履行列表 -->
<script src="static/js/erp-orders/erp-zi-fulfil.js"></script>
<script src="static/js/erp-l/erp-l-order.js"></script>

<!-- 财务-收入-->
<script src="static/js/erp-finance/erp_financing_other_income.js"></script>
<script src="static/js/erp-finance/erp_financing_income_statistics.js"></script>
<script src="static/js/erp-finance/erp_shortage_refund.js"></script>
<script src="static/js/erp-finance/erp_in_procurement.js"></script>
<!-- 财务打款 线下支付 -->
<script src="static/js/erp-finance/payment/offline_purchase.js"></script>
<!-- 财务支出 -->
<script src="static/js/erp-finance/erp_financing_expenditure.js"></script>
<!-- 财务cod对账 -->
<script src="static/js/erp-reconciliation/erp-reconciliation-codremit.js"></script>
<!-- 财务-纠纷退款 -->
<script src="static/js/erp-finance/erp_financing_dispute_refund.js"></script>
<!-- 销售提成 -->
<script src="static/js/erp-finance/erp_financing_sales_commission.js"></script>
<script src="static/js/erp-finance/erp_financing_ord.js"></script>
<script src="static/js/erp-finance/erp_fanacing_ziord.js"></script>
<!-- 仓库 - 仓库管理 - 仓库错发率 -->
<script src="static/js/erp-warehouse/erp-warehouse-cuofa.js"></script>
<!-- 区域列表 -->
<script type="text/javascript" src="static/js/erp-warehouse/arealist.js"></script>
<script type="text/javascript" src="static/js/erp-warehouse/areacountrylist.js"></script>
<!-- app视频  -->
<script src="static/js/manage/appVideo/appVideoList.js"></script>
<!-- 晚班记录 -->
<script src="static/js/erp-service/erp-night-shift.js"></script>
<!-- 智能客服聊天记录 -->
<script src="static/js/erp-service/erp_cute_chatList.js"></script>
<!-- 智能客服faq -->
<script src="static/js/erp-service/erp_cute_FAQ.js"></script>
<!-- cod-faq -->
<script src="static/js/erp-service/cod-faq.js"></script>
<!-- 知识库导出 -->
<script src="static/js/erp-service/exportFAQ.js"></script>
<!-- 特殊节假日提醒 -->
<script src="static/js/holiday/tiplist.js"></script>
<script src="static/js/holiday/tipadd.js"></script>
<!-- 滞留商品 -->
<script src="static/js/superdeal/list.js"></script>
<script src="static/js/superdeal/analysis.js"></script>
<!-- global-service -->
<script src="./static/providers/api/api.js"></script>
<script src="./static/providers/api/api-storage.js"></script>
<script src="./static/providers/utils/utils.js"></script>
<script src="./static/providers/filter/filter.js"></script>
<!-- global-service -->

    <!-- 各种插件 -->
    <script src="./static/wui-date/js/wui-date.js"></script>
    <!-- 日期选择 -->
    <script src="./static/js/erp-orders/lib/download.js"></script>
    <!-- 文件下载 -->
    <script src="./static/js/erp-orders/lib/xlsx.core.min.js"></script>
    <!-- excel表格解析 -->
    <script src="./static/js/public/bscroll.min.js"></script>
    <script src="static/components/pod2/fabric.min.js"></script>
    <!-- 画布操作 -->
    <!-- 各种插件 -->

    <!-- 商品详情图表 -->
    <script src="static/components/product-detail-graph/product-detail-graph.js"></script>


    <!-- 数据分析 -->
    <script src="static/js/analysis/personal.js"></script>
    <script src="static/js/analysis/setEmail.js"></script>
    <script src="static/js/analysis/emailModel.js"></script>
    <script src="./static/components/pagination/pagination.js"></script>
    <!-- 预调度 -->
    <script src="static/js/preScheduling/isConfirmation.js"></script>
    <script src="static/js/preScheduling/confirmed.js"></script>
		<script src="static/js/preScheduling/addOrDetail.js"></script>
		<script src="static/js/zi-ord/out-of-stock.js"></script>
<!-- 搜品新做 -->
<script src="static/js/sourcing/sourcing.js"></script>
        <script src="static/js/public/zip.js"></script>
</body>

</html>
