<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品签收</title>
<style type="text/css">
  /*@charset "UTF-8";[ng:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng:form{display:block;}*/
  .tip-div{
    text-align: center;
    /*border: 1px solid red;*/
    /*margin:auto;*/
  }
  #tx{
    text-indent: 12px;
    width: 200px;
    /*position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;*/
  }
  .rk-wrap{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    /*display: none;*/
    z-index: 99;
  }
  .changebz-wrap,.chage-wrap{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    z-index: 99;
  }
  .index-wrap{
    z-index: 999;
  }
  .ydh-rk-wrap{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    z-index: 99;
  }
  .rk-con,.changWeight-con{
    width: 1000px;
    height: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    border: 1px solid #ececec;
    background-color: #fff;
    padding: 20px 10px;
    text-align: center;
  }
  .changWeight-con{
    width: 450px;
    height: 190px;
  }
  .qs-con{
    width: 450px;
    height: 190px;
  }
  .changWeight-con p{
    font-size: 18px;
  }
  .next-change{
    height: 120px;
  }
  .next-change p{
    font-size: 14px;
  }
  .next-change .btn-primary{
    margin-left: 50px;
  }
  .changWeight-con .cwtip-p{
    font-size: 12px;
  }
  .changWeight-con label{
    font-size: 12px;
    font-weight: normal;
  }
  .rk-main {
    overflow: hidden;
  }
  .rk-main .rk-left {
    float: left;
    width: 50%;
    height: 420px;
    overflow-y: auto;
  }
  .ydh-rk-left{
    padding-right: 20px;
  }
  .rk-main .rk-right {
    float: left;
    width: 50%;
    height: 420px;
    overflow-y: auto;
  }
  .rk-sp-img{
    max-width: 260px;
    max-height: 300px;
  }
  .rksp-detailcon ul{
    list-style: none;
    padding:0;
  }
  .rksp-detailcon li{
    padding: 10px 0;
    height: 40px;
    /*border: 1px solid blue;*/
  }
  .rk-num{
    text-indent: 12px;
  }
  .rksp-detailcon select{
    width: 60%;
    height: 30px;
    border-radius: 4px;
  }
  .rkspdetail-left{
    /*border:1px solid red;*/
    width: 28%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
  }
  .rkspdetail-right{
    /*border:1px solid red;*/
    width: 70%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
  .selck-div{
    margin-top: 20px;
  }
  .rk-btns{
    margin-top: 20px;
    text-align: center;
  }
  .rk-btns .qs-btn{
    margin-left: 50px;
  }
  #sure-rktk{
    margin-left: 20px;
  }
  /*树样式*/
  ul.domtree,ul.domtree ul {
      margin: 0;
      /*padding: 0 0 0 2em;*/
      padding: 0 0 0 2.5em;
  }

  ul.domtree li {
      list-style: none;
      position: relative;
      color: #B05609;
      line-height: 2em;
      font-size: 16px;
  }

  ul.domtree>li:first-child:before {
      border-style: none none solid none;
  }

  ul.domtree li:before {
      position: absolute;
      content: '';
      top: -0.01em;
      left: -0.7em;
      width: 0.5em;
      height: 1em;
      /* height: 0.615em; */
      border-style: none none solid solid;
      /* border-width: 1px; */
      border-width: 0.05em;
      border-color: #FFB85F;
  }

  ul.domtree li:not(:last-child):after {
      position: absolute;
      content: '';
      top: -0.1em;
      /* top: 0.7em; */
      left: -0.7em;
      bottom: 0;
      border-style: none none none solid;
      /* border-width: 1px; */
      border-width: 0.05em;
      border-color: #FFB85F;
  }
  .openup-icon, .packup-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background: #FCF4D9;
    color: #FFB85F;
  }
  .name-span {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
  }
  .name-span.active {
    background: #f7debd;
  }
  p.top-info {
    text-align: left;
    margin: 0;
  }
  .rk-wight{
    vertical-align: top;
  }
  .inp-erractive{
    border: 1px solid red;
    color: red;
  }
  .inp-sucactive{
    border: 1px solid green;
    color: green;
  }
  .selck-div .radio-inp{
    margin-right: 20px;
  }
  .ydh-img-box {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  .ydh-img{
    max-height: 60px;
    max-width: 60px;
  }
  .ydh-img-box .ydh-big-img {
    position: absolute;
    left: 60px;
    top: 0;
    display: none;
    z-index: 9;
  }
  .ydh-img-box:hover .ydh-big-img {
    display: block;
  }
  .ydh-tit{
    font-size: 18px;
    font-weight: 500;
  }
  .bulk-ydhrk{
    float: right;
    margin-right: 50px;
  }
  .ydh-rktit{
    font-size: 18px;
    font-weight: 500;
  }
  .ydhrk-detailcon{
    height: 390px;
    overflow-y: auto;
  }
  /*运单号入库重量的输入框*/
  .ydh-table th{
    text-align: center;
  }
  .ydh-table td{
    text-align: center;
  }
  .ydh-weightInp{
    width: 80px;
  }
  .qs-res-con textarea{
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 4px;
  }
</style>
</head>
<script type="text/javascript" src="static/js/public/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="static/angular-1.5.8/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script type="text/javascript" src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<body ng-app="barcodeApp" ng-controller="barcodeAppCtrl">
      <!-- <div class="bg-wrap"></div> -->
      <div class="tip-div">
        <p>
          <font size='10' color="lightseagreen">商品签收</font>
        </p>
        <input id="tx" type="text" placeholder="请扫描条形码" />
      </div>
      <!-- <div class="modal fade" id="exampleModal"  role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="sp" aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">sku详情</h4>
              </div>
            <div class="modal-body">
              <form>
                <div class="row">
      		        <div class="col-xs-6 col-md-3">
      		          <a href="#" class="thumbnail">
      		            <img src="#" id="vimg"/>
      		          </a>
      		        </div>
                  <button type="button" ng-click="rkBtnFun($event)" id="rk-btn" class="btn btn-primary">入库</button>
      		      </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">sku :</label>
                  <input type="text" id="vsku" readonly="readonly" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">日期 :</label>
                  <input type="text" id="vdt" readonly="readonly" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">总数量 :</label>
                  <input type="text" id="vco" readonly="readonly" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">单品直发数量 :</label>
                  <input type="text" id="vcone" readonly="readonly" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">多品入库数量 :</label>
                  <input type="text" id="vcmore" readonly="readonly" class="form-control" id="recipient-name">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> -->
      <!-- 运单号入库的弹框 -->
       <!-- class="modal fade" -->
      <div id="YdhModal"  role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document" style="width: 1000px;">
          <div class="modal-content" style="box-shadow: 0 0 10px #eee; border: 1px solid #ececec; background: #f8f8f8; width: 1000px;">
              <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="sp" aria-hidden="true">&times;</span></button> -->
                <!-- <h4 class="modal-title" id="exampleModalLabel">sku详情</h4> -->
                <span class="ydh-tit">sku详情</span>
                
                <!-- <button type="button" ng-click="ydhRkFun()" class="btn btn-primary bulk-ydhrk">批量入库</button> -->
                <button type="button" class="btn btn-primary bulk-ydhrk" ng-click="ydhRkQsFun()" style="margin-right: 0;">签收</button>
                <button type="button" class="btn btn-primary bulk-ydhrk" ng-click="bulkPrintOFun()">批量打印条形码</button>
              </div>
            <div class="modal-body">
              <table class="table table-bordered ydh-table">
                  <thead>
                    <tr>
                      <th>图片</th>
                      <th>SKU</th>
                      <th>客户订单号</th>
                      <th>采购订单号</th>
                      <th>预计到货数量</th>
                      <th>到货仓库</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in ydhList">
                      <td>
                        <a href="{{'manage.html#/merchandise/show-detail/' + item.PRODUCTID + '/0/3/0'}}" target="_blank" class="ydh-img-box">
                          <img class="ydh-img" ng-src="{{item.img}}">
                          <img class="ydh-big-img" ng-src="{{item.img}}">
                        </a>
                      </td>
                      <td>
                        <p style="position: relative; padding-right: 24px;">
                          <span>{{item.sku}}</span>
                          <a href="javascript:void(0)" style="width: 18px; height: 18px; position: absolute; bottom: 2px; right: 2px; line-height: 18px;" title="复制SKU" ng-click="copyWord(item.sku)"><img style="height: 18px;" src="./static/image/public-img/copy.png" alt=""></a>
                        </p>
                        <p>短码：{{item.shortSku}}</p>
                      </td>
                      <td>
                      <p ng-repeat="itemOrderId in item.orderSet" style="position: relative; padding-right: 24px;">
                        <span>{{itemOrderId}}</span>
                        <a href="javascript:void(0)" style="width: 18px; height: 18px; position: absolute; bottom: 2px; right: 2px; line-height: 18px;" title="复制订单号" ng-click="copyWord(itemOrderId)"><img style="height: 18px;" src="./static/image/public-img/copy.png" alt=""></a>
                      </p>
                      <p ng-repeat="itemOrderSaleman in item.empSet">{{itemOrderSaleman}}</p>
                      </td>
                      <td>{{item.procurementOrderId}}</td>
                      <td>
                        <!-- {{item.COUNT}} -->
                        <input type="number" ng-model="item.COUNT" style="width:80px;">
                      </td>
                      <td>{{item.STORAGENAME}}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    <!-- sku/条形码入库弹框 -->
    <div class="rk-wrap ng-hide" ng-show="skuorTxmFlag">
      <div class="rk-con">
        <div class="rk-main">

          <div class="rk-left">

            <div class="rksp-imgcon">
              <img class="rk-sp-img" src="">
            </div>
            <div class="rksp-detailcon">
              <div class="rkspdetail-left">
                <ul>
                  <li><span>sku:</span></li>
                  <li><span>入库数量:</span></li>
                  <li><span>商品重量:</span></li>
                </ul>
              </div>
              <div class="rkspdetail-right">
                <ul>
                  <li>
                    <span class="sku-text"></span>
                  </li>
                  <li>
                    <input type="number" class="rk-num"></input>
                  </li>
                  <li>
                    <input type="number" class="rk-weight"></input>
                    <button class="btn btn-primary" ng-click="editWeiFun()">提交</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="rk-right">
            <div class="selck-div">
              请选择仓库:
              <p ng-show="moreFlag">
                <label>义乌仓:</label>
                <input class="radio-inp" ng-click="selCkFun($event)" type="radio" name="ckradio" value="1" checked></input>
                <label>深圳仓:</label>
                <input class="radio-inp" ng-click="selCkFun($event)" type="radio" name="ckradio" value="2"></input>
                <label>美国仓:</label>
                <input class="radio-inp" ng-click="selCkFun($event)" type="radio" name="ckradio" value="3"></input>
              </p>
            </div>
            <div class="asj-tree-box">
              <folder-tree current-folder="folder" my-index="index1" point-one="pointOne(item,event,posi)" switch-list="switchList(posi,event,flag)"></folder-tree>
            </div>
          </div>
        </div>
        <!-- <p class="bt-idtext"></p>
        <p class="sp-idtext"></p>
        <p class="yd-idtext"></p> -->
        <div class="rk-btns">
          <button type="button" class="btn btn-default" ng-click="skuOrTxmCloseFun()" id="close-rktk">关闭</button>
          <button type="button" ng-click="sureRkFun()" class="btn btn-primary" id="sure-rktk">确定</button>
        </div>
      </div>
    </div>
    <!-- 运单号入库弹框 -->
    <div class="ydh-rk-wrap ng-hide stop-pro" ng-show="ydhrkFlag">
      <div class="rk-con">
        <p class="ydh-rktit">运单号入库</p>
        <div class="rk-main">
          <div class="rksp-detailcon ydhrk-detailcon">
              <table class="table table-bordered ydh-table">
                  <thead>
                    <tr>
                      <th>图片</th>
                      <th>SKU</th>
                      <th>日期</th>
                      <th>总数量</th>
                      <th>商品重量</th>
                      <th>仓库</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in ydhList">
                      <td>
                        <img class="ydh-img" ng-src="{{item.img}}">
                      </td>
                      <td>{{item.sku}}</td>
                      <td>{{bulkRkTime}}</td>
                      <td>{{item.count}}</td>
                      <td>
                         <!-- ng-class="{{item.isChangeWeight=='0'?'inp-erractive':'inp-sucactive'}}" -->
                        <!-- <input class="ydh-weightInp" ng-class="{'inp-erractive':item.isChangeWeight!='1','inp-sucactive':item.isChangeWeight=='1'}" type="number" ng-blur="isValidWFun(item,$index,$event)" value="{{item.oldWeight}}"></input> -->
                      </td>
                      <td>{{item.storageName}}</td>
                    </tr>
                  </tbody>
              </table>
          </div>
        </div>
        <div class="rk-btns">
          <button type="button" class="btn btn-default" ng-click="ydhCloseRk()">关闭</button>
          <button type="button" class="btn btn-primary" ng-click="ydhRkSureFun()">确定</button>
        </div>
      </div>
    </div>
    <!-- 修改包装重量 -->
    <div class="changebz-wrap index-wrap ng-hide stop-pro" ng-show="changeWFlag">
      <div class="changWeight-con">
        <p>修改包装重量</p>
        <p class="cwtip-p">
          商品重量不能大于或则等于包装重量,现在的包装重量是 {{tipWeight}},你可以修改包装重量
        </p>
        <div class="cWcon-group">
          <label>包装重量:</label>
          <input type="number" ng-model="bzWeight"></input>
        </div>
        <div class="rk-btns">
          <button type="button" ng-click="closeCWFun()" class="btn btn-default">关闭</button>
          <button type="button" ng-click="sureCWFun()" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
    <!-- 运单号修改包装重量 -->
    <div class="changebz-wrap index-wrap ng-hide stop-pro" ng-show="ydhchangeWFlag">
      <div class="changWeight-con">
        <p>修改包装重量</p>
        <p class="cwtip-p">
          商品重量不能大于或则等于包装重量,现在的包装重量是 {{ydhtipWeight}},你可以修改包装重量
        </p>
        <div class="cWcon-group">
          <label>包装重量:</label>
          <input type="number" ng-model="ydhbzWeight"></input>
        </div>
        <div class="rk-btns">
          <button type="button" ng-click="ydhcloseCWFun()" class="btn btn-default">关闭</button>
          <button type="button" ng-click="ydhsureCWFun()" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
    <!-- 已经修改过包装重量 -->
    <div class="chage-wrap ng-hide stop-pro" ng-show="isNextChangeFlag">
      <div class="changWeight-con next-change">
        <p>该商品已经被称过重量,确定要再次修改吗?</p>
        <div class="rk-btns">
          <button type="button" ng-click="nextQxFun()" class="btn btn-default">关闭</button>
          <button type="button" ng-click="nextSureFun()" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
    <!-- 已经修改过包装重量 -->
    <div class="chage-wrap ng-hide" ng-show="ydhisNextChangeFlag">
      <div class="changWeight-con next-change">
        <p>该商品已经被称过重量,确定要再次修改吗?</p>
        <div class="rk-btns">
          <button type="button" ng-click="ydhnextQxFun()" class="btn btn-default">关闭</button>
          <button type="button" ng-click="ydhnextSureFun()" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
    <!-- 是否签收 -->
    <div class="chage-wrap ng-hide" ng-show="isqianshouFlag">
      <div class="changWeight-con next-change">
        <p>确定签收吗?</p>
        <div class="rk-btns">
          <button type="button" ng-click="ydhNoQs()" class="btn btn-default">关闭</button>
          <button type="button" ng-click="ycqsFun()" class="btn btn-warning qs-btn">异常签收</button>
          <button type="button" ng-click="ydhSureQs()" class="btn btn-primary qs-btn">确定</button>
        </div>
      </div>
    </div>
    <!-- 批量打印条形码 -->
    <div class="chage-wrap ng-hide" ng-show="txmTkFlag">
      <div class="changWeight-con next-change">
        <a target="_blank" ng-href="{{'https://'+txmHref}}">{{'https://'+txmHref}}</a>
        <div class="rk-btns">
          <button type="button" ng-click="txmTkFlag=false" class="btn btn-default">关闭</button>
        </div>
      </div>
    </div>
    <!-- 异常签收 -->
    <div class="chage-wrap" ng-show="qsycResonFlag" ng-cloak>
      <div class="changWeight-con qs-con">
        <div class="qs-res-con">
          <textarea ng-model="qsycReson"></textarea>
        </div>
        <div class="rk-btns">
          <button type="button" ng-click="qsycResonFlag=false" class="btn btn-default">关闭</button>
          <button type="button" ng-click="qsycSureFun()" class="btn btn-primary qs-btn">确定</button>
        </div>
      </div>
    </div>
</body>
<script src="./static/js/public/base64.min.js"></script>
<script src="./static/js/public/common.js"></script>
<script src='./static/layer/layer.js'></script>
<script type="text/javascript">
(function (angular) {
    var app = angular.module('barcodeApp',['service']);
    app.controller('barcodeAppCtrl',['$scope',"erp",function ($scope,erp) {
      var nowDate = timestampToDate(new Date());
      $("#tx").focus();
      $(document).click(function () {
        $("#tx").focus();
      })

      $("#vsku").focus(function(){
         $("#tx").focus();
      });
      var responseObj;
      var storageId;
      var menuId;
      var ydhGlobelNum;
      //扫码展示商品信息
      var code;
      $scope.showSpFun = function () {
        var b=true;
        code=$("#tx").val();
        ydhGlobelNum = $("#tx").val();
        // var code="5222875592366";
        // $("#tx").val("");
        console.log("---"+code+"---");
        if(code==null||code==""){
          return;
          // layer.msg("请求失效  请刷新页面后重试");
        }else{
          //发送ajac请求 获取到当前码对应的 sku信息
          // layer.load(2);
          // responseObj = {};
          // erp.getFun("pojo/procurement/scanBarcode?code="+code,function(data){
          //   layer.closeAll('loading');
          //    console.log(data)
          //    console.log(data.data.result)
          //    var resObj = JSON.parse(data.data.result);
          //    // console.log(typeof(resObj.toString()))
          //    if (Object.prototype.toString.call(resObj) === '[object Array]') {//sku或则条形码
          //        // console.log('array')
          //        resObj=resObj[0];
          //        /* var da=new Date(obj.dateTime.time); */
          //        console.log(resObj);
          //        responseObj = resObj;
          //        $("#vimg").attr("src",resObj.img)
          //        $("#vdt").val(''+new Date(resObj.dateTime.time).getFullYear()+'-'+(new Date(resObj.dateTime.time).getMonth()+1)+'-'+new Date(resObj.dateTime.time).getDate());
          //        $("#vco").val(resObj.count);
          //        $("#vcone").val(resObj.ones);
          //        $("#vcmore").val(resObj.mores);
          //        $("#vsku").val(resObj.sku);
          //        /* $("#bt").trigger("click"); */
          //        $("#tx").focus();
          //        $("#exampleModal").attr("class","model show");
          //        // $('#YdhModal').attr("class","model hide");
          //    } else {
          //        console.log('Object')
          //        responseObj = resObj;
          //        $scope.ydhList = resObj.wayBills;
          //        console.log($scope.ydhList);
          //        $("#tx").focus();
          //        $('#YdhModal').attr("class","model show");
          //        $("#exampleModal").attr("class","model hide");
          //    }
              
          // });
          layer.load(2);
          // erp.postFun('caigou/procurement/qianShou',{"inputStr":code}, function (data) {
          //   layer.closeAll('loading');
          //   console.log()
          //   // $scope.ydhList = resObj.wayBills;
          //   var arrives = JSON.parse(data.data.result);
          //   console.log(arrives);
          //   var len = arrives.length;
          //   for (var i = 0; i < len; i++) {
          //     arrives[i].COUNT = arrives[i].COUNT-0;
          //   }
          //   $scope.ydhList = arrives;
          //   console.log($scope.ydhList)
          //   // $scope.totalNum = arrives.totle;
          // })  
          erp.postFun('pojo/procurement/getProcurementWayBillByStorage',{"dateFlag":'0',"leftDate":"2016-08-14","rightDate":nowDate,"status":"","inputStr":code,"pageNum":"1","pageSize":"9999"}, function (data) {
            layer.closeAll('loading');
            console.log()
            // $scope.ydhList = resObj.wayBills;
            var arrives = JSON.parse(data.data.result);
            console.log(arrives);
            $scope.ydhList = arrives.list;
            // $scope.totalNum = arrives.totle;
          })  
        }
      }
      //批量打印条形码
      $scope.bulkPrintOFun = function () {
        console.log($scope.ydhList)
        if (!$scope.ydhList) return;
        var printData = {};
        var printArr = [];
        // for(var i = 0;i<$scope.ydhList.length;i++){
        //     // var sku = $scope.ydhList[i].shortSku;
        //     var sku = $scope.ydhList[i].sku;
        //     var count = printData[sku];
        //     if (count==undefined) {
        //       count = $scope.ydhList[i].COUNT;
        //     }else{
        //       count = $scope.ydhList[i].COUNT + count;
        //     }
        //     printData[sku] = count;
        // }
        for(var i = 0;i<$scope.ydhList.length;i++){
            // var sku = $scope.ydhList[i].shortSku;
            var shortSKU = $scope.ydhList[i].shortSku || $scope.ydhList[i].sku;
            var sku = $scope.ydhList[i].sku;
            var count;
            if (printData[shortSKU]) {
              console.log(printData[shortSKU]);
              console.log(printData[shortSKU].sku);
              if (printData[shortSKU].sku) {
                count = printData[shortSKU].sum;
              } else {
                count = null;
              }
            } else {
              count = null;
            }
            if (!count) {
              count = $scope.ydhList[i].COUNT;
            }else{
              count = $scope.ydhList[i].COUNT + count;
            }
            if (count && count > 0) {
              printData[shortSKU] = {
                "sku": sku,
                "sum": count
              };
            }
            // printData[shortSKU] = JSON.stringify(printData[shortSKU]);
        }
        if (JSON.stringify(printData)=="{}") {
          layer.msg('打印数量不能为0');
          return;
        }
        console.log(printData)
        // return;
        layer.load(2)
        var pUpdata = {};
        // pUpdata.skuMap = JSON.stringify(printData);
        pUpdata.skuMap = printData;
        var printLink;
        console.log(JSON.stringify(pUpdata))
        erp.postFun('app/pdfOpt/getBarcode128Batch',JSON.stringify(pUpdata),function (data) {
          console.log(data)
          layer.closeAll('loading');
          if(data.data.code=='200'){
            // $scope.txmTkFlag = true;
            // $scope.txmHref = data.data.pdfFillUrl;
            // console.log($scope.txmHref)
            printLink = data.data.pdfFillUrl;
          }else{
            // layer.msg('打印错误')
            printLink = 'error';
          }
          
        },function (data) {
          console.log(data)
          layer.closeAll('loading');
          printLink = 'error';
        })
        var printTimer = setInterval(function () {
          console.log('100')
          if (printLink == 'error') {
            layer.msg('打印错误')
            clearInterval(printTimer);
            printLink = null;
            console.log('error');
          } else if (printLink) {
            window.open('https://' + printLink,'_blank','');
            clearInterval(printTimer);
            printLink = null;
            console.log('succsee');
          }
        }, 100);
      }

      $scope.copyWord = function (word) {
          var Url1;
          Url1 = document.createElement('input');
          Url1.setAttribute('readonly', 'readonly');
          Url1.setAttribute('value', word);
          document.body.appendChild(Url1);
          //console.log(Url1.value);
          Url1.select(); //选择对象
          document.execCommand("Copy");
          var tag = document.execCommand("Copy"); //执行浏览器复制命令    
          if (tag) {
              layer.msg('复制成功');
          }
          document.body.removeChild(Url1);
      }

      $('#YdhModal').click(function (e) {
        e.stopPropagation();
      })
      $('.ydh-rk-wrap').click(function (e) {
        e.stopPropagation();
      })
      $('.stop-pro').click(function (e) {
        e.stopPropagation();
      })
      $('.chage-wrap').click(function (e) {
        e.stopPropagation();
      })
      //运单号入库 修改重量的函数
      var targetVal;
      $scope.thisList;
      $scope.thisIndex;
      $scope.isValidWFun = function (item,index,ev) {
        targetVal = $(ev.target).val();
        console.log(targetVal)
        $scope.thisIndex = index;
        $scope.itemOldWei = item.oldWeight;
        $scope.thisList = $scope.ydhList[index];
        if (item.isChangeWeight!='1') {//如果没有修改过 提示修改
            if (targetVal>item.packWeight) {
              $scope.ydhchangeWFlag = true;
              $scope.tipWeight = item.packWeight;
              $scope.ydhbzWeight = item.packWeight;
            } else if(targetVal==item.oldWeight){
              return;
            } else {
              if (targetVal<=0) {
                layer.msg('请输入重量')
                return;
              }
              erp.postFun('pojo/procurement/changeWeight',{
                productId:item.productId,
                variantId:item.variantId,
                oldWeight:item.oldWeight,
                newWeight:targetVal
              },function (data) {
                console.log(data)
                if (data.data.statusCode==200) {
                  layer.msg('修改成功')
                  $scope.ydhList[index].isChangeWeight = '1';
                  $scope.ydhList[index].oldWeight = targetVal;
                  $scope.ydhisNextChangeFlag = false;
                } else {
                  layer.msg('修改失败')
                }
              },function (data) {
                console.log(data)
              })
            }
        } else {//如果修改过
          if(targetVal==item.oldWeight){
            return;
          }
          $scope.ydhisNextChangeFlag = true;
          // $scope.ydhList[$scope.thisIndex].oldWeight = targetVal-0;
          // console.log(item)
          // console.log($scope.ydhList)
        }
        
      }
      //运单号入库 再次修改商品重量
      $scope.ydhnextQxFun = function () {
        $scope.ydhisNextChangeFlag = false;
        $('.ydh-weightInp').eq($scope.thisIndex).val($scope.itemOldWei);
        // console.log($scope.itemOldWei)
        // $scope.ydhList[$scope.thisIndex].oldWeight = $scope.itemOldWei;
        // console.log($scope.ydhList[$scope.thisIndex])
        // console.log($scope.ydhList)
      }
      //确定再次修改重量
      $scope.ydhnextSureFun = function () {
        console.log($scope.thisList)
        if (targetVal<=0) {
          layer.msg('请输入重量')
          return;
        } else if(targetVal>=$scope.thisList.packWeight){//净重量大于包装重量
          $scope.ydhchangeWFlag = true;
          $scope.ydhtipWeight = $scope.thisList.packWeight;
          return;
        }
        $scope.isNextChangeFlag = false;
        erp.postFun('pojo/procurement/changeWeight',{
          productId:$scope.thisList.productId,
          variantId:$scope.thisList.variantId,
          oldWeight:$scope.thisList.oldWeight,
          newWeight:targetVal
        },function (data) {
          console.log(data)
          if (data.data.statusCode==200) {
            $scope.ydhisNextChangeFlag = false;
            layer.msg('修改成功')
            $scope.ydhList[$scope.thisIndex].isChangeWeight = '1';
            $scope.ydhList[$scope.thisIndex].oldWeight = targetVal;
          } else {
            layer.msg('修改失败')
            isChangeWeight = false;
            $('.rk-weight').addClass('inp-erractive')
          }
        },function (data) {
          console.log(data)
        })
      }
      //运单号入库按钮
      $scope.ydhRkFun = function () {
        // console.log('00098978')
        console.log($scope.ydhList)
        console.log(responseObj)
        $scope.bulkRkTime = timestampToTime(new Date())
        console.log(timestampToTime(new Date()))
        // layer.msg('开发中')
        $scope.ydhrkFlag = true;
      }
      //运单号入库的取消 确定
      $scope.ydhRkSureFun = function () {
        console.log($scope.ydhList)
        //{"list":[{variantId,productId,waybillId,count},....], storageId}
        var upObj = {};//存储上传的参数
        var upListArr = [];//存储list数组
        var arrOneObj = {};//存储数组中的一条
        var itemStoreId;
        for(var i = 0;i<$scope.ydhList.length;i++){
          if ($scope.ydhList[i].isChangeWeight != '1') {
            layer.msg('请修改商品的重量')
            return;
          }else{
            arrOneObj.variantId = $scope.ydhList[i].variantId;
            arrOneObj.productId = $scope.ydhList[i].productId;
            arrOneObj.wayBillId = $scope.ydhList[i].id;
            arrOneObj.count = $scope.ydhList[i].count;
            itemStoreId = $scope.ydhList[i].storageId;
          }
          upListArr.push(arrOneObj);
        }
        // upObj.list = JSON.stringify($scope.ydhList)
        layer.load(2)
        upObj.list = upListArr;
        upObj.storageId = itemStoreId;
        upObj.trackingNumber = code;
        console.log(upObj)
        console.log(JSON.stringify(upObj))
        // return;
        erp.postFun('pojo/procurement/inStorages',JSON.stringify(upObj),function (data) {
          console.log(data)
          layer.closeAll('loading')
          if (data.data.statusCode == '200') {
            layer.msg('批量入库成功')
            $scope.ydhrkFlag = false;
          } else {
            layer.msg('批量入库失败')
          }
        },function (data) {
          console.log(data)
          layer.closeAll('loading')
        })
      }
      $scope.ydhCloseRk = function () {
        $scope.ydhrkFlag = false;
      }
      $scope.ydhRkQsFun = function () {
        $scope.isqianshouFlag = true;
      }
      //询问是否签收
      $scope.ydhNoQs = function () {
        $scope.isqianshouFlag = false;
      }
      //签收
      $scope.ydhSureQs = function () {
        layer.load(2);
        erp.getFun('pojo/procurement/sign?wayBill='+ydhGlobelNum,function (data) {
          layer.closeAll('loading');
          if (data.data.statusCode=='200') {
            $scope.isqianshouFlag = false;
            layer.msg('签收成功')
            $scope.ydhList = [];
            $("#tx").val("");
            setTimeout(function (){
              $("#tx").blur().focus();
            },100);
          } else {
            layer.msg('签收失败')
          }
        },function (data) {
          layer.closeAll('loading');
          layer.msg('网络错误');
          console.log(data)
        })
      }
      //异常签收
      $scope.ycqsFun = function () {
        $scope.qsycResonFlag = true;
      }
      $scope.qsycSureFun = function () {
        if (!$scope.qsycReson) {
          layer.msg('请输入异常原因')
          return;
        }
        var ycqsData = {};
        ycqsData.wayBillId = code;
        ycqsData.exceptionResone = $scope.qsycReson;
        layer.load(2);
        erp.postFun('pojo/procurement/daoHuoYiChang',JSON.stringify(ycqsData),function (data) {
          layer.closeAll('loading');
          console.log(data)
          if (data.data.statusCode==200) {
            $scope.qsycResonFlag = false;
            $scope.isqianshouFlag = false;
            layer.msg('异常签收成功')
            $scope.ydhList = [];
            $("#tx").val("");
            setTimeout(function (){
              $("#tx").blur().focus();
            },100);
          } else {
            layer.msg('异常签收失败')
          }
        },function (data) {
          console.log(data)
        })
      }
      //运单号的修改包装重量
      $scope.ydhcloseCWFun = function () {
        $scope.ydhchangeWFlag = false;
      }
      $scope.ydhsureCWFun = function function_name() {
        if ($scope.ydhbzWeight<=0) {
          layer.msg('请输入重量')
          return;
        }
        erp.postFun('pojo/procurement/changePackWeight',{
          productId:$scope.thisList.productId,
          variantId:$scope.thisList.variantId,
          oldWeight:$scope.thisList.oldWeight,
          newWeight:$scope.ydhbzWeight
        },function (data) {
          console.log(data)
          if (data.data.statusCode==200) {
            layer.msg('修改成功')
            $scope.ydhList[$scope.thisIndex].packWeight = $scope.ydhbzWeight;
            $scope.ydhchangeWFlag = false;
          } else {
            layer.msg('修改失败')
          }
        },function (data) {
          console.log(data)
        })
      }

      $(document).keypress(function(e) { 
         if(e.which == 13) {  
             $scope.showSpFun();
         } 
       }); 
        $('.rk-wrap').click(function (e) {
          e.stopPropagation();
        })
        $('#weight-con').click(function (e) {
          e.stopPropagation();
        })
        var isChangeWeight = false;
        //点击入库按钮
        $scope.rkBtnFun = function (ev) {
          // $(ev.target).stopPropagation();
          console.log(responseObj)
          $scope.skuorTxmFlag = true;
          if (responseObj.storageId01) {//如果是sku需要选择仓库
              $scope.moreFlag = true;//显示入库的单选按钮
              $("#tx").blur();
              $(".rk-sp-img").attr("src",responseObj.img)
              $('.rk-num').val(responseObj.mores);//填入获取到的多品数量
              $('.rk-weight').val(responseObj.oldWeight);//填入商品重量
              $('.sku-text').text(responseObj.sku);//填入sku
              $('.rk-wrap').show();
              if (responseObj.isChangeWeight==0) {//没有修改过重量
                isChangeWeight = false;
                $('.rk-weight').removeClass('inp-sucactive')
                $('.rk-weight').addClass('inp-erractive')
              } else {
                isChangeWeight = true;
                $('.rk-weight').removeClass('inp-sucactive')
                $('.rk-weight').addClass('inp-sucactive')
              }
              storageId = responseObj.storageId;
              menuId = responseObj.firstCategoryId;
              //默认展示义乌仓
              renderBrunch();
          } else {
              $scope.moreFlag = false;
              $("#tx").blur();
              $(".rk-sp-img").attr("src",responseObj.img)
              $('.rk-num').val(responseObj.mores);//填入获取到的多品数量
              $('.rk-weight').val(responseObj.oldWeight);//填入商品重量
              $('.sku-text').text(responseObj.sku);//填入sku
              $('.rk-wrap').show();
              if (responseObj.isChangeWeight==0) {
                isChangeWeight = false;
                $('.rk-weight').removeClass('inp-sucactive')
                $('.rk-weight').addClass('inp-erractive')
                // alert('false')
              } else {
                isChangeWeight = true;
                $('.rk-weight').removeClass('inp-sucactive')
                $('.rk-weight').addClass('inp-sucactive')
                // alert('true')
              }
              storageId = responseObj.storageId;
              menuId = responseObj.firstCategoryId;
              console.log(responseObj)
              console.log(storageId)
              console.log(menuId)
              renderBrunch();
          }
        }
        //如果是sku入库 需要选择仓库
        $scope.selCkFun = function (ev) {
          console.log($(ev.target).val())
          var selRadioVal = $(ev.target).val();
          switch (selRadioVal) {
            case '1':
              storageId = responseObj.storageId;
              erp.postFun('app/storagedo/selectByCatIdNodeList', JSON.stringify({
                  storageId:storageId,
                  idList: menuId
              }), function (data) {
                  console.log(data);
                  // var resArr = data.data.list;
                  $scope.folderData = data.data.root;
                  $scope.folderData.open = true;
                  $scope.folderData.active = true;
                  $scope.folderData.codeType = '仓';
                  $scope.folder = $scope.folderData
                  $scope.brunchItem = $scope.folderData;
                  console.log($scope.brunchItem)
              },err);
              break;
            case '2':
              storageId = responseObj.storageId01;
              erp.postFun('app/storagedo/selectByCatIdNodeList', JSON.stringify({
                  storageId:storageId,
                  idList: menuId
              }), function (data) {
                  console.log(data);
                  // var resArr = data.data.list;
                  $scope.folderData = data.data.root;
                  $scope.folderData.open = true;
                  $scope.folderData.active = true;
                  $scope.folderData.codeType = '仓';
                  $scope.folder = $scope.folderData
                  $scope.brunchItem = $scope.folderData;
                  console.log($scope.brunchItem)
              },err);
              break;
            case '3':
              storageId = responseObj.storageId02;
              erp.postFun('app/storagedo/selectByCatIdNodeList', JSON.stringify({
                  storageId:storageId,
                  idList: menuId
              }), function (data) {
                  console.log(data);
                  // var resArr = data.data.list;
                  $scope.folderData = data.data.root;
                  $scope.folderData.open = true;
                  $scope.folderData.active = true;
                  $scope.folderData.codeType = '仓';
                  $scope.folder = $scope.folderData
                  $scope.brunchItem = $scope.folderData;
                  console.log($scope.brunchItem)
              },err);
              break;
          }

        }
        //修改重量
        $scope.editWeiFun = function () {
          console.log(responseObj)
          var newWeightVal = $('.rk-weight').val();
          if (responseObj.isChangeWeight==0) {
            if (newWeightVal<=0) {
              layer.msg('请输入重量')
              return;
            } else if(newWeightVal>=responseObj.packWeight){//净重量大于包装重量
              $scope.changeWFlag = true;
              $scope.bzWeight = responseObj.packWeight;
              $scope.tipWeight = responseObj.packWeight;
              return;
            }
            erp.postFun('pojo/procurement/changeWeight',{
              productId:responseObj.productId,
              variantId:responseObj.variantId,
              oldWeight:responseObj.oldWeight,
              newWeight:newWeightVal
            },function (data) {
              console.log(data)
              if (data.data.statusCode==200) {
                layer.msg('修改成功')
                isChangeWeight = true;
                $('.rk-weight').addClass('inp-sucactive')
              } else {
                layer.msg('修改失败')
                isChangeWeight = false;
                $('.rk-weight').addClass('inp-erractive')
              }
            },function (data) {
              console.log(data)
            })
          } else {
            $scope.isNextChangeFlag = true;
          }
          //取消再次修改
          $scope.nextQxFun = function () {
            $scope.isNextChangeFlag = false;
          }
          //确定再次修改
          $scope.nextSureFun = function () {
            var newWeightVal = $('.rk-weight').val();
            if (newWeightVal<=0) {
              layer.msg('请输入重量')
              return;
            } else if(newWeightVal>=responseObj.packWeight){//净重量大于包装重量
              $scope.changeWFlag = true;
              $scope.bzWeight = responseObj.packWeight;
              $scope.tipWeight = responseObj.packWeight;
              return;
            }
            $scope.isNextChangeFlag = false;
            erp.postFun('pojo/procurement/changeWeight',{
              productId:responseObj.productId,
              variantId:responseObj.variantId,
              oldWeight:responseObj.oldWeight,
              newWeight:newWeightVal
            },function (data) {
              console.log(data)
              if (data.data.statusCode==200) {
                layer.msg('修改成功')
                isChangeWeight = true;
                $('.rk-weight').addClass('inp-sucactive')
              } else {
                layer.msg('修改失败')
                isChangeWeight = false;
                $('.rk-weight').addClass('inp-erractive')
              }
            },function (data) {
              console.log(data)
            })
          }
        }
        //关闭sku/条形码入库弹框
        $scope.skuOrTxmCloseFun = function () {
          $scope.skuorTxmFlag = false;
        }
        
        $scope.sureRkFun = function () {
          // responseObj = JSON.parse(arr)
          console.log(responseObj)
          var dpCount = responseObj.count;//多品的总数量
          var spId = responseObj.productId;//商品id
          var btId = responseObj.variantId;//变体id
          var ydId = responseObj.wayBillId;//运单id
          // var storageId = responseObj.storageId;//仓库id
          var rkCount = $('.rk-num').val();//获取入库数量
          var upckId = $scope.brunchItem.id;//该层级的id
          var rkData = {};
          if (!isChangeWeight) {
            layer.msg('请修改商品的重量')
            return;
          } else {
            rkData.waybillId = ydId;
            rkData.storageId = storageId;
            rkData.areaId = upckId;
            rkData.count = rkCount;
            rkData.variantId = btId;
            rkData.productId = spId;
            console.log(rkCount) 
            if (!$scope.moreFlag) {
                if (rkCount<0) {
                   layer.msg('输入的数量不能小于零')
                   return;
                }else{
                  if (rkCount*1>dpCount*1) {
                    layer.msg('输入的数量不能大于总数量')
                    return;
                  }
                }
            } else {
                if (rkCount<0) {
                   layer.msg('输入的数量不能小于零')
                   return;
                }
            }   
            erp.load();
            // storageId = responseObj.storageId;//仓库id
            
            console.log(dpCount,spId,btId,ydId,rkCount,upckId)
            console.log(JSON.stringify(rkData))
            erp.postFun('pojo/procurement/inStorage',JSON.stringify(rkData),function (data) {
              console.log(data)
              $('.rk-wrap').hide();
              erp.closeLoad()
              if (data.data.statusCode==200) {
                $scope.skuorTxmFlag = false;
                layer.msg('入库成功')
              } else {
                layer.msg('入库失败')
              }
            },err)
          }
        }
        $scope.closeRkFun = function () {
          $('.rk-wrap').hide();
        }
        //修改包装重量
        $scope.closeCWFun = function () {
          $scope.changeWFlag = false;
        }
        $scope.sureCWFun = function function_name() {
          console.log($scope.bzWeight)
          console.log(responseObj)
          if ($scope.bzWeight<=0) {
            layer.msg('请输入重量')
            return;
          }
          erp.postFun('pojo/procurement/changePackWeight',{
            productId:responseObj.productId,
            variantId:responseObj.variantId,
            oldWeight:responseObj.oldWeight,
            newWeight:$scope.bzWeight
          },function (data) {
            console.log(data)
            if (data.data.statusCode==200) {
              layer.msg('修改成功')
              responseObj.packWeight = $scope.bzWeight;
              $scope.changeWFlag = false;
            } else {
              layer.msg('修改失败')
            }
          },function (data) {
            console.log(data)
          })
        }
        
        $scope.index1 = '00';
        //点击某个仓库
        $scope.pointOne = function (item,e,posi) {
            $scope.folder.active = false;
            // console.log($scope.folder)
            setAllChiToUnactive($scope.folder.childrens,'childrens');//把节点置为非选中
            $scope.pointArr = getTheArr(posi,e,$scope);
            // console.log($scope.pointArr)
            // $scope.pointArr.active = true;
            $scope.pointArr.active = true;
            // console.log($scope.folder)
            $scope.brunchItem = item;
            // 选中的仓库分支
            console.log('选中的仓库分支',$scope.brunchItem);
        }
        $scope.switchList = function (posi,e,flag) {
            $scope.temArr = getTheArr(posi,e,$scope);
            $scope.temArr.open = flag;
        }
        // 获取当前节点的信息
        function renderBrunch () {
          console.log(menuId)
            erp.postFun('app/storagedo/selectByCatIdNodeList', JSON.stringify({
                storageId:storageId,
                idList: menuId
            }), function (data) {
                console.log(data);
                // var resArr = data.data.list;
                $scope.folderData = data.data.root;
                $scope.folderData.open = true;
                $scope.folderData.active = true;
                $scope.folderData.codeType = '仓';
                $scope.folder = $scope.folderData
                $scope.brunchItem = $scope.folderData;
                console.log($scope.brunchItem)
            },err);
        }
        // renderBrunch();

    }]);
    
    app.directive("folderTree", function() {  
        return {  
            restrict: "E",  
            scope: {  
              //传入当前项的值
                currentFolder: '=',
                //循环索引的值
                myIndex: '=',
                // folderList: '=',
                //点击某个的方法
                pointOne:'&',
                // openupList: '&',
                // packupList: '&'
                //展开伸缩的方法
                switchList: '&'
            }, 
            // scope: true,
            templateUrl: 'static/template/tree.html',
        };  
    });
    function err (error) {
      erp.closeLoad();
        console.log(error);
        // layer.closeAll('loading');
    }
    //获取当前节点
    function getTheArr (posi,e,$scope,cateflag) {
        var rootArr, resArr, childFlag;
        if (cateflag) {
            rootArr = $scope.cateList; 
            childFlag = 'children';
        } else {
            rootArr = $scope.folder; 
            childFlag = 'childrens';
        }
        var temDom = e.target.parentElement;
        var firIndex = angular.element(temDom).find('.index-span').html();
        if (firIndex == '00') {
            // $scope.folder.active = true;
            console.log(firIndex);
            console.log(rootArr)
            return rootArr;
        }else {
          console.log(firIndex,6666)
        }
        var posiArr = [angular.element(temDom).find('.index-span').html() * 1];
        for (var i = 0; i < (posi); i++) {
            temDom = turnToParentIndex(temDom);
            posiArr.unshift(temDom.find('.index-span').html() * 1);
        }
        // console.log(posiArr);
        var temArr = rootArr;
        for (var i = 0; i < posiArr.length; i++) {
            temArr = turnToChildren(temArr,posiArr[i],childFlag)
        }
        return temArr;
        // console.log(temArr);
        // temArr.active = true;
    }
    function turnToChildren(arr,index,tag) {
        return arr[tag][index];
    }
    function turnToParentIndex(dom) {
        return angular.element(dom).parent().parent().parent().siblings('.top-info');
    }
    //把所有节点置为非选中
    function setAllChiToUnactive (arr,tag) {
        for (var i = 0; i < arr.length; i++) {
            arr[i].active = false;
            if (arr[i][tag] && arr[i][tag].length > 0) {
                setAllChiToUnactive(arr[i][tag],tag);
            }
        }
    }
    function sequencePlusOne (arr) {
        for (var i = 0; i < arr.length; i++) {
            arr[i].sequence = arr[i].sequence * 1 + 1;
            if (arr[i].childrens && arr[i].childrens.length > 0) {
                sequencePlusOne(arr[i].childrens);
            }
        }
    }
    //格式化时间
    function timestampToTime(date) {
        var Y,M,D,h,m,s
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate() + ' ';
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y+M+D+h+m+s;
    }
    //格式化日期
    function timestampToDate(date) {
        var Y,M,D,h,m,s
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate() + ' ';
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y+M+D;
    }
})(angular)   

</script>
</html>