<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>区域关联</title>
</head>

<body>
  <!-- content -->
  <div class="ea-content asj-ware-box">
    <!-- right con -->
    <div class="right-bar-wrap ea-right-content li_ea-right-content">
      <!-- right nav -->
      <div class="asj-h10"></div>
      <!-- right search -->
      <div class="right-bar">
        <div class="ea-right-search">
          <div class="add-merch" style="display: flex;">
            <a href="javascript:void(0);" class="add-merch-btn" ng-click="addWareFun()">新增</a>
          </div>
        </div>

        <!-- right list -->
        <div class="table-con-box">
          <table class="ea-list-table ea-erp-cs" id="ea-list-table">
            <thead>
              <tr>
                <th>区域名称</th>
                <th>国家简码</th>
                <th>是否默认</th>
                <th>{{'100043' | translate}}</th>
              </tr>
            </thead>
            <tbody ng-repeat="(index1,item) in areaList">
              <tr class="la_tr la_tr01">
                <td>{{item.areaCn}}</td>
                <td>{{item.countryCode}}</td>
                <td>{{item.isDefault == 0 ? '否' : item.isDefault == 1 ? '是' : '--'}}</td>
                <td class="relative active">
                  <div>
                    <a role="button" class="asj-btn-s" ng-if="isadmin" ng-click="editOneWare(item)" href="javascript: void(0);">{{'100120' | translate}}</a>
                    <a role="button" class="asj-btn-s" ng-if="isadmin" ng-click="deleteOneWare(item)">{{'100227' | translate}}</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 分页 -->
        <div class="pages-fun page-box">
          <div class="total-num">
            共&nbsp;&nbsp;{{ totalNum }}&nbsp;&nbsp;条
          </div>
          <div class="total-num">
            <select class="form-control ng-pristine ng-valid ng-not-empty ng-touched" ng-model="pageSize" ng-change="pagechange(pageSize)" style="width: 65px;height: 31px;">
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="page-index">
            <div class="pagegroup1"></div>
          </div>
          <div class="to-idx">
            到第<input type="number" ng-model="pageNum" style="width: 40px;">页
            <button ng-click="toPage1()" class="jump-btn">确定</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 新增 -->
  <div class="asj-common-tanwrap" ng-show="addWareFlag">
    <div class="asj-common-tan tan-add-ware" style="padding-right: 40px;padding-top: 20px;">
      <span class="asj-common-close" ng-click="cancelDetailWare()"><i>+</i></span>
      <div class="tan-title">{{opeWareType}}</div>
      <div>
        <div class="input-item clearfix">
          <label class="">区域名称:</label>
          <div class="right-con">
            <select name="" id="" ng-model="areaId">
              <option value="" ng-hide="areaId">Please select</option>
              <option ng-repeat="code in areasId" value="{{code.id}}">{{code.areaCn}}</option>
            </select>
          </div>
        </div>
        <div class="input-item clearfix">
          <label class="">国家简码:</label>
          <div class="right-con">
            <select name="" id="" ng-model="countryCode">
              <option value="" ng-hide="countryCode">Please select</option>
              <option ng-repeat="code in countryCodes" value="{{code.id}}">{{code.id}}</option>
            </select>
          </div>
        </div>
        <div class="input-item clearfix">
          <label class="">是否默认:</label>
          <div class="right-con">
            <select name="" id="" ng-model="isDefault">
              <option value="" ng-hide="isDefault">Please select</option>
              <option value="0">否</option>
              <option value="1">是</option>
            </select>
          </div>
        </div>
        <div class="tan-btns">
          <a class="tan-btn0" ng-click="cancelDetailWare()">取消</a>
          <a class="tan-btn1" ng-click="sureAdd()">提交</a>
        </div>
      </div>


    </div>
  </div>


  <!-- 编辑 -->
  <div class="asj-common-tanwrap" ng-show="editWareFlag">
    <div class="asj-common-tan tan-add-ware" style="padding-right: 40px;padding-top: 20px;">
      <span class="asj-common-close" ng-click="cancelDetailWare()"><i>+</i></span>
      <div class="tan-title">{{opeWareType}}</div>
      <div>
        <!-- <div class="input-item clearfix">
          <label class="">区域名称:</label>
          <div class="right-con right-con1">
            <div type="text" placeholder="" ng-model="areaId" ng-click="checkArea()" class="areaContent">{{areaId}}</div>
            <ul class="areaList">
              <li ng-repeat="code in areasId" ng-click="areaChange(code)" ng-model="areaId">{{code.areaCn}}</li>
            </ul>
          </div>
        </div> -->

        <div class="input-item clearfix">
          <label class="">区域名称:</label>
          <div class="right-con">
            <select name="" id="" ng-model="areaId">
              <option ng-repeat="code in areasId" value="{{code.id}}">{{code.areaCn}}</option>
            </select>
          </div>
        </div>

        <div class="input-item clearfix">
          <label class="">国家简码:</label>
          <div class="right-con">
            <select name="" id="" ng-model="countryCode">
              <option ng-repeat="code in countryCodes" value="{{code.id}}">{{code.id}}</option>
            </select>
          </div>
        </div>

        <div class="input-item clearfix">
          <label class="">是否默认:</label>
          <div class="right-con">
            <select name="" id="" ng-model="isDefault">
              <option value="0">否</option>
              <option value="1">是</option>
            </select>
          </div>
        </div>

        <div class="tan-btns">
          <a class="tan-btn0" ng-click="cancelDetailWare()">取消</a>
          <a class="tan-btn1" ng-click="sureEdit()">提交</a>
        </div>
      </div>
    </div>
  </div>


  <!-- 删除 -->
  <div class="asj-common-tanwrap" ng-show="deleteWareFlag">
    <div class="asj-common-tan tan-delete-ware">
      <div class="tan-title">确认删除区域{{deleteWareName}}？</div>
      <div class="tan-btns"><a class="tan-btn0" ng-click="deleteWareFlag=false">{{'100051' | translate}}</a><a class="tan-btn1" ng-click="goDeleteWare()">{{'100050' | translate}}</a></div>
    </div>
  </div>
</body>

</html>
<style>
  .right-con1 {
    position: relative;
  }

  .areaContent {
    border: 1px #e5e5e5 solid;
    line-height: 40px;
    padding-left: 4px;
  }

  .areaList {
    position: absolute;
    top: 40px;
    border: 1px solid #ccc;
    z-index: 12;
    background: #fff;
    display: none;
    cursor: pointer;
    border: 1px #e5e5e5 solid;
    /* border-top: none; */

  }

  .areaList li {
    padding-left: 4px;
    width: 333px;
    font-size: 14px;
  }

  /* .right-con1:hover .areaList{
  display: block;
  cursor: pointer;
  border: 1px #e5e5e5 solid;
  border-top: none;
} */
</style>