<style>
  .red-color {
    color: #e55264;
  }

  .d3 {
    cursor: pointer;
    margin: 2px;
    float: left;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    opacity: .3;
  }

  .up {
    border-color: transparent transparent #000 transparent;
  }

  .down {
    border-color: #000 transparent transparent transparent;
  }

  .soft-active {
    opacity: 1;
  }
</style>
<div class="custom-orders-wrap">
  <div class="c-ord-mid">
    <!-- 右边的内容部分 -->
    <div class="ord-right-con">
      <div class="content">
        <!-- 订单的导航按钮 -->
        <div class="c-ord-conall">
          <div class="c-ord-con">
            <!-- 订单动能 时间等的部分 -->
            <div class="c-ord-fun fiexd-box">
              <!-- 我们操作的订单 -->
              <div class="c-us-stuv">
                <div class="store-div">
                  <ng-template ng-repeat="item in wareList track by $index">
                    <button ng-click="storeFun(item)" class="two-ck-btn"
                      ng-class="{'two-ck-activebtn':item.active}">{{item.name}}</button>
                    <span ng-show="storeNumFlag && $index==0">{{'('+yiWuCount+')'}}</span>
                    <span ng-show="storeNumFlag && $index==1">{{'('+shenZhenCount+')'}}</span>
                    <span ng-show="storeNumFlag && $index==2">{{'('+meiGuoCount+')'}}</span>
                    <span ng-show="storeNumFlag && $index==3">{{'('+meiDongCount+')'}}</span>
                    <span ng-show="storeNumFlag && $index==4">{{'('+taiGuoCount+')'}}</span>
                  </ng-template>
                </div>
              </div>

              <!-- 订单搜索部分 -->
              <div class="c-seach-fun">
                <div class="c-seach-div moresea-ordnum-div">
                  <input type="text" placeholder="请输入商品SKU或变体SKU" ng-model="searchSku" ng-keyup="enterSerch($event)">
                </div>
                <button ng-click="getList()" class="more-sea-btn">查询</button>
                <button ng-click="reset()" class="more-sea-btn">清除</button>
              </div>
            </div>
            <!-- 变动展示的内容部分 查看子订单-->
            <div class="toogle-ord-stu" id="c-zi-ord">
              <!-- 订单列表部分 -->
              <div class="c-ord-list">
                <table class="orders-table checkbox-table">
                  <thead class="c-ord-thead">
                    <tr>
                      <th style="width: 100px;">图片</th>
                      <th style="width: 80px">缺货SKU</th>
                      <th style="width: 70px">采购员</th>
                      <th style="width: 70px;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                          <span>子订单数量</span>
                          <div style="display: flex;flex-direction: column;margin-left: 10px;"
                            ng-click="orderSoftHandle()">
                            <span class="d3 up" ng-class="{'soft-active': orderSoft === 1}"></span>
                            <span class="d3 down" ng-class="{'soft-active': orderSoft === 2}"></span>
                          </div>
                        </div>
                      </th>
                      <th style="width: 105px">
                        <div style="display: flex;align-items: center;justify-content: center;">
                          <span>客户数量</span>
                          <div style="display: flex;flex-direction: column;margin-left: 10px;"
                            ng-click="customSoftHandle()">
                            <span class="d3 up" ng-class="{'soft-active': customSoft === 1}"></span>
                            <span class="d3 down" ng-class="{'soft-active': customSoft === 2}"></span>
                          </div>
                        </div>
                      </th>
                      <th style="width: 70px;">当前可用库数量</th>
                      <th style="width: 100px;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                          <span>缺货数量</span>
                          <div style="display: flex;flex-direction: column;margin-left: 10px;"
                            ng-click="outStockNumSoftHandle()">
                            <span class="d3 up" ng-class="{'soft-active': outStockNumSoft === 1}"></span>
                            <span class="d3 down" ng-class="{'soft-active': outStockNumSoft === 2}"></span>
                          </div>
                        </div>
                      </th>
                      <th style="width: 80px">进入缺货时间</th>
                      <th style="width: 65px"></th>
                    </tr>
                  </thead>
                  <tbody class="c-ord-tbody" ng-repeat="zddlist in erporderList"
                    ng-class="{'active':zddlist.clickcontrl||zddlist.ishover}" ng-mouseover="zddlist.ishover = true"
                    ng-mouseout="zddlist.ishover = false">
                    <tr class="erporder-detail">
                      <td class="ordlist-fir-td stop-prop mac-w60px">
                        <img class="log-img" src="zddlist.img">
                      </td>
                      <td class="id-td moshow-sp-td">
                        <p ng-cloak>{{zddlist.sku}}</p>
                      </td>
                      <td class="ordlist-imgtd moshow-sp-td">
                        <p ng-cloak>{{ zddlist.caigouyuan}}</p>
                      </td>
                      <td class="moshow-sp-td mac-w60px">
                        <p ng-cloak>{{zddlist.ziorder}}</p>
                      </td>
                      <td class="store-name-td moshow-sp-td">
                        <p ng-cloak>{{zddlist.kehu}}</p>
                      </td>

                      <td class="moshow-sp-td">
                        <p ng-cloak>{{zddlist.keyong}}</p>
                      </td>
                      <td class="moshow-sp-td">
                        <p ng-cloak>{{zddlist.quehuo}}</p>
                      </td>
                      <td class="moshow-sp-td mac-w60px">
                        <p ng-cloak>{{zddlist.time}}</p>
                      </td>
                      <td class="moshow-sp-td mac-w60px">
                        <span ng-cloak ng-show="!zddlist.showChildList" ng-click="zddlist.showChildList = true"
                          class="d3 down soft-active"></span>
                        <span ng-cloak ng-show="zddlist.showChildList" ng-click="zddlist.showChildList = false"
                          class="d3 up soft-active"></span>
                      </td>
                    </tr>
                    <tr ng-show="zddlist.showChildList" ng-repeat="child in zddlist.childList"
                      style="background-color: #eee;">
                      <td class="ordlist-fir-td stop-prop mac-w60px">
                        <img class="log-img" src="zddlist.img">
                      </td>
                      <td class="id-td moshow-sp-td">
                        <p ng-cloak>{{child.sku}}</p>
                      </td>
                      <td class="ordlist-imgtd moshow-sp-td">
                        <p ng-cloak>{{child.caigouyuan}}</p>
                      </td>
                      <td class="moshow-sp-td mac-w60px">
                        <a ng-cloak href="#/out-of-stock/orders?sku={{child.sku}}"
                          style="color: cornflowerblue;">{{child.ziorder}}</a>
                      </td>
                      <td class="store-name-td moshow-sp-td">
                        <a ng-cloak href="#/out-of-stock/customs?sku={{child.sku}}"
                          style="color: cornflowerblue;">{{child.kehu}}</a>
                      </td>

                      <td class="moshow-sp-td">
                        <p ng-cloak>{{child.keyong}}</p>
                      </td>
                      <td class="moshow-sp-td">
                        <p ng-cloak>{{child.quehuo}}</p>
                      </td>
                      <td class="moshow-sp-td mac-w60px">
                        <p ng-cloak>{{child.time}}</p>
                      </td>
                      <td class="moshow-sp-td mac-w60px">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


            <div ng-show="erpordTnum<1" style="text-align: center;">暂无数据</div>
            <!-- 分页 -->
            <!-- <page></page> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>