<div class="gxh-gys-wrap pod-abnormal-list-wrap">
	<div class="gxh-gys-con">
		<div class="gxh-gys-top">
			<div class="gxh-sealabel">
				<input class="w20h40inp" type="text"></input><button class="w90h40btn"></button>
			</div>
		</div>
		<div class="gxh-gys-mid">
			<div class="table-box">
				<!-- <table class="table table-bordered"> -->
				<table class="gxh-table">
					<thead>
						<tr>
							<th>子订单号</th>
							<th>POD商品详情</th>
							<th>生成时间</th>
							<th>关联供应商</th>
							<th>设置数量</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>CJ4564566</td>
							<td>
								<img src="" alt="">
								<span>Computer Backpack Waterproof…</span>
							</td>
							<td>2018-12-7</td>
							<td>
								<select>
									<option>供应商1</option>
									<option>供应商2</option>
								</select>
							</td>
							<td>
								<input type="" name="">
							</td>
							<td class="ope-td">
								<button>确定</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-box">
          <div class="select-page-num">
              <select class="form-control" ng-model="pageSize" ng-change="getPageSize()">
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="50">50</option>
              </select>
              <span>每页</span>
          </div>
          <div class="total-num">
              共&nbsp;&nbsp;{{ totalNum }}&nbsp;&nbsp;条
          </div>
          <div class="page-index">
              <div id="pagination1" class="pagination2"></div>
          </div>
          <div class="to-go">
              <span>跳转：</span>
              <input type="text" class="form-control" placeholder="" ng-model="specifiedPage">
              <a class="btn btn-default" href="javascript: void(0);" role="button" ng-click="getSpecifiedPage()">go</a>
          </div>
      </div>
		</div>
	</div>
</div>
<!-- pod订单附件 -->
<div class="erp-common-tan-v2-wrap" ng-show="showConlist">
	<div class="erp-common-tan-v2 pod-supplier-tan" style="width: 924px; height: 444px;">
		<a class="tan-v2-close" href="javascript:void(0);" ng-click="showConlist=false;"><img src="static/image/public-img/close-img.png"></a>
		<div class="tan-v2-top">
			<h6>供应关联列表</h6>
		</div>
		<div class="tan-v2-con">
			<div class="table-box">
				<!-- <table class="table table-bordered"> -->
				<table class="gxh-table">
					<thead>
						<tr>
							<th>关联SKU</th>
							<th>商品描述</th>
							<th>关联时间</th>
							<th>截止有效期</th>
							<th>自动同步订单</th>
							<th>优先级</th>
							<th>采购价(元)</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>CJ4564566</td>
							<td>
								<img src="" alt="">
								<span>Computer Backpack Waterproof…</span>
							</td>
							<td>2018-12-7</td>
							<td>2018-12-7</td>
							<td>
								<select>
									<option>是</option>
									<option>否</option>
								</select>
							</td>
							<td>
								<select>
									<option>高</option>
									<option>中</option>
									<option>低</option>
								</select>
							</td>
							<td>
								<input type="" name="">
							</td>
							<td class="ope-td">
								<a href="javascript:void(0);" ng-click="showConlist=true;">取消供应关联</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- <div class="tan-v2-bot">
			<a href="javascript:void(0);" class="btn1">Submit</a>
		</div> -->
	</div>
</div>