<div class="gxh-gys-wrap">
	<div class="gxh-gys-con">
		<div class="gxh-gys-top">
			<div class="gxh-sealabel">
				<input class="w20h40inp" type="text" ng-model="search" ng-keydown="enterSearch($event)"></input><button class="w90h40btn" ng-click="searchFun()"></button>
			</div>
			<div class="gxh-nav">
				<a ng-class="{'nav-a-act': status=='-1'}" href="javascript:void(0);" ng-click="chanStatus('-1')">所有订单</a>
				<!-- <a href="">打单中</a> -->
				<!-- <a href="">等待接单(4)</a> -->
				<a ng-class="{'nav-a-act': status=='4'}" href="javascript:void(0);" ng-click="chanStatus('4')">处理中</a>
				<a ng-class="{'nav-a-act': status=='5'}" href="javascript:void(0);" ng-click="chanStatus('5')">已打单</a>
				<!-- <a ng-class="{'nav-a-act': status=='3'}" href="javascript:void(0);" ng-click="chanStatus('3')">已发货(1)</a> -->
				<!-- <a href="">待分配(1)</a> -->
				<a ng-class="{'nav-a-act': status=='2'}" href="javascript:void(0);" ng-click="chanStatus('2')">已完成</a>
				<button>导出</button>
			</div>
		</div>
		<div class="gxh-gys-mid">
			<div class="table-box">
				<!-- <table class="table table-bordered"> -->
				<table class="gxh-table">
					<thead>
						<tr>
							<th>
								<div class="check-box">
                    <input type="checkbox">
                    <label for=""></label>
                </div>
							</th>
							<th>客户名/母订单</th>
							<th>子订单</th>
							<th class="th-time">时间</th>
							<th class="th-detail">POD商品详情</th>
							<th>分配供应商</th>
							<th>内录单号</th>
							<th>状态</th>
							<th>附件</th>
							<th>业务员</th>
						</tr>
					</thead>
					<tbody>
						<!-- <tr>
							<td rowspan="2">
								<div class="check-box">
                    <input type="checkbox" ng-model="item.checked" ng-click="checkMerch(item, $index)">
                    <label for=""></label>
                </div>
							</td>
							<td rowspan="2">
								<span>Xiaowanzi</span>
								<br>
								<span>CJ9898023</span>
							</td>
							<td>9898024</td>
							<td>2018-12-18</td>
							<td>
								<img src="" alt="">
								<span class="name">Computer Backpack Anti-theft Waterproof USB</span>
								<span class="num">x1</span>
							</td>
							<td>UPS</td>
							<td>34354554</td>
							<td>待接单</td>
							<td><a href="javascript:void(0)">1</a></td>
							<td>小丸子</td>
						</tr>
						<tr>
							<td>9898024</td>
							<td>2018-12-18</td>
							<td>
								<img src="" alt="">
								<span class="name">Computer Backpack Anti-theft Waterproof USB</span>
								<span class="num">x1</span>
							</td>
							<td>UPS</td>
							<td>34354554</td>
							<td>待接单</td>
							<td><a href="javascript:void(0)">1</a></td>
							<td>小丸子</td>
						</tr> -->
						<tr ng-repeat="item in list track by $index">
							<td>
								<div class="check-box">
                    <input type="checkbox">
                    <label for=""></label>
                </div>
							</td>
							<td>
								<span>{{item.gongSiMing}}</span>
								<br>
								<span>{{item.cjorderId}}</span>
							</td>
							<td>{{item.id}}</td>
							<td>{{item.createDate}}</td>
							<td>
								<div class="detail-item">
									<span class="asj-listimg-span"><img ng-src="{{item.cjImage}}" alt="" class="small-img" src=""><img src="{{item.cjImage}}" alt="" class="hidden-bigimg"></span>
									<!-- <img src="{{item.cjImage}}" alt=""> -->
									<span class="name">{{item.cj_product_name}}</span>
									<span class="num">x{{item.quantity}}</span>
								</div>
							</td>
							<td>{{item.gongSiMing}}</td>
							<td>{{item.neiludamhap}}</td>
							<td>
								<span ng-if="item.status=='0'">未处理</span>
								<span ng-if="item.status=='1'">已接单</span>
								<span ng-if="item.status=='2'">已完成</span>
								<span ng-if="item.status=='3'">拒绝接单</span>
							</td>
							 <!-- ng-click="showFujian()" -->
							<td><a href="{{item.excelFilePath}}" target="_blank">{{item.excelFilePath}}</a></td>
							<td>{{item.salesmanName}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-box" ng-show="list.length>0">
          <div class="select-page-num">
              <select class="form-control" ng-model="pageSize" ng-change="chanPageSize()">
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="50">50</option>
              </select>
              <span>每页</span>
          </div>
          <div class="total-num">
              共&nbsp;&nbsp;{{ totalNum }}&nbsp;&nbsp;条
          </div>
          <div class="page-index">
              <div id="pagination1" class="pagination2"></div>
          </div>
          <div class="to-go">
              <span>跳转：</span>
              <input type="text" class="form-control" placeholder="" ng-model="topagenum">
              <a class="btn btn-default" href="javascript: void(0);" role="button" ng-click="chanPageNum()">go</a>
          </div>
      </div>
		</div>
	</div>
</div>
<!-- pod订单附件 -->
<div class="erp-common-tan-v2-wrap" ng-show="showFujianFlag">
	<div class="erp-common-tan-v2 pod-fj-tan">
		<a class="tan-v2-close" href="javascript:void(0);" ng-click="showFujianFlag=false;"><img src="static/image/public-img/close-img.png"></a>
		<div class="tan-v2-top">
			<h6>附件清单</h6>
		</div>
		<div class="tan-v2-con">
			<p class="ord-num">子订单号:4345345</p>
			<div class="load-item">
				<img src="" alt="">
				<span class="name">荔枝纹包纹理.png</span>
				<button>下载</button>
			</div>
			<div class="load-item">
				<img src="" alt="">
				<span class="name">荔枝纹包纹理.png</span>
				<button>下载</button>
			</div>
		</div>
		<!-- <div class="tan-v2-bot">
			<a href="javascript:void(0);" class="btn1">Submit</a>
		</div> -->
	</div>
</div>
