.setmail-wrap {
  padding: 0 15px 15px 230px;
  margin-top: 80px;
}
.setmail-wrap .tab{
  background-color: #fff;
  line-height:72px;
  height:62px;
  padding:0 15px;
  position: fixed;
  top:0;
  width:100%;
  z-index: 100;
}
.setmail-wrap .tab a{
  display: inline-block;
  margin:0 10px;
  position: relative;
}
.setmail-wrap .tab a.active:after{
  content: "";
  width:100%;
  height:2px;
  background: rgba(255,162,0,1);
  position: absolute;
  bottom:10px;
  left:0;
}
.setmail-wrap .tab a.active{
  color: rgba(255,162,0,1);
}
.setmail-wrap .setmail-content {
  font-size: 14px;
  width: 100%;
  background: #fff;
  height: 100%;
  padding: 15px 15px 30px;
}
.setmail-wrap .btnGroup{
  width: 48px;
  height: 24px;
  background: #4e90f7;
  border-radius: 15px;
  position: relative;
  font-weight: bold;
  padding: 0 2px;
}
.setmail-wrap .btnGroup.closeact {
  background: #E4E4E4;
  padding: 0 4px;
}
.setmail-wrap .btnGroup span{
  display: block;
  text-align: left;
  color: #fff;
  padding: 0 3px;
  font-size: 12px;
  line-height: 24px;
}
.setmail-wrap .btnGroup.closeact span {
  text-align: right;
  color: #999;
}
.setmail-wrap .btnGroup .circle{
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
  transition: right .3s;
}
.setmail-wrap .btnGroup.closeact .circle {
  right: 26px;
}
.setmail-modal-config{
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #dddee1;
  width: 400px;
  height: 60px;
}
.item-group label {
  width: 120px;
}
.setmail-wrap .width80 {
  width: 80px;
}
.width400 {
  width: 400px;
}
.erp-common-tan-v2-wrap .marbtomm-25{
  margin-bottom: 22px;
}
.erp-common-tan-v2-wrap .positRelat{
  position: relative;
}
.erp-common-tan-v2-wrap .formverifytips{
  border-color: #f5222d;
}
.erp-common-tan-v2-wrap .formverifymessage{
  color: #f5222d;
  position: absolute;
  left: 0;
  bottom: -18px;
  font-size: 13px;
}

.erp-common-tan-v2-wrap .marbtomm-0{
  margin-bottom: 0;
}