<input placeholder="{{ vm.placeholder }}" type="{{vm.type || 'text'}}" class="ant-input {{ vm.class }}" ng-model="vm.value"
  ng-change="change()" style="{{vm.styles}}" ng-keyup="keyup($event)" />

<style>
  .ant-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .ant-input:hover {
    border-color: #F8A636;
    border-right-width: 1px !important;
  }

  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
  }

  .ant-input:focus,
  .ant-input-focused {
    border-color: #F8A636;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
  }
</style>