<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>已取消订单金额-财务收入管理-ERP系统</title>
		<!-- <link rel="stylesheet" type="text/css" href="erp_otweb/css/erp-public_style.css" /> -->
		<!-- <link rel="stylesheet" href="erp_otweb/css/li_erp.css"> -->
	</head>
	<body>

		
		<!-- content -->
		<div class="ea-content">
			<!-- <div class="ea-content-box"> -->
				
				<!-- <div class="ea-content-con"> -->
					<!-- left nav -->
					<div class="left-bar">
	            <ul>
					<li class="active"><a href="#/erppurchase/needbuy">{{'100549' | translate}}</a></li>
					<li><a href="#/supplier-manage">{{'100550' | translate}}</a></li>
	            </ul>
	        </div>

					<!-- right con -->
					<div class="right-bar-wrap ea-right-content li_ea-right-content">
						<!-- right nav -->
						<div class="asj-h10"></div>
	          <!-- <div class="top-taps clearfix">
	            	<ul>
	                  <li><a href="#/erppurchase/needbuy">出单采购</a></li>
	                  <li><a href="#/erppurchase/cgdlist">采购单列表</a></li>
	                  <li><a href="#/erppurchase/purchaseinventory">采购库存</a></li>
	                  <li class="active"><a href="#/erppurchase/arrivalabnormal">到货异常（2）</a></li>
	              </ul>
			    	</div> -->
		                <!--<div class="top-taps clearfix">-->
		                	<!--<ul>-->
								<!--<li><a href="#/erppurchase/needbuy">{{'100551' | translate}}</a></li>-->
								<!--&lt;!&ndash; <li><a href="#/erppurchase/purchaseinventory">采购库存</a></li> &ndash;&gt;-->
								<!--<li><a href="#/erppurchase/cgdlist">{{'100552' | translate}}</a></li>-->
								<!--<li><a href="#/erppurchase/addpurchase">{{'100553' | translate}}</a></li>-->
								<!--<li class="active"><a href="#/erppurchase/arrivalabnormal">{{'100554' | translate}}（2）</a></li>-->
								<!--<li><a href="#/erppurchase/financial">{{'100555' | translate}}</a></li>-->
							<!--</ul>-->
		    		    <!--</div>-->
						<!-- right search -->
						<!-- <div class="right-bar">
							<div class="ea-right-search clearfix">
								<div class="datatime-screen la_div"><a href="#" class="active">今日</a><a href="#">最近一周</a><a href="#">一个月</a><a href="#">三个月</a><input type="text" id="txtBeginDate" placeholder="选取开始日期" /><input type="text" id="txtEndDate" placeholder="选取结束日期" /><input type="button" value="点击筛选">
								</div>
								<div class="input-group search-box">
			                  <input type="text" class="form-control top-search-inp" placeholder="" ng-model="userinfo">
			                  <a role="button" class="btn btn-default top-search-btn" type="button" ng-click="usersearch()">搜索</a>
	              			</div>
						</div> -->
						<!-- right list -->
						<div class="table-con-box">
						<table class="ea-list-table ea-erp-cs" id="ea-list-table">
							<tr>
								<!-- <th><span><input style="margin:0 10px;" type="checkbox"></span></th> -->
								<th><span>{{'100487' | translate}}</span></th>
								<th><span>{{'100382' | translate}}</span></th>
								<th><span>{{'100106' | translate}}</span></th>
								<th><span>{{'100558' | translate}}</span></th>
								<th><span>{{'100589' | translate}}</span></th>
								<th><span>{{'100590' | translate}}</span></th>
								<th><span>{{'100591' | translate}}</span></th>
								<th><span>{{'100585' | translate}}</span></th>
								<th><span>{{'100033' | translate}}</span></th>
								<th><span>{{'100562' | translate}}</span></th>
								<th><span>{{'100592' | translate}}</span>
									</th>
								<th><span>{{'100043' | translate}}</span></th>
							</tr>
							<tr class="la_tr la_tr01">
								<!-- <td><span> <input name="need_inv" type="checkbox" value="1"></span></td> -->
								<td><span>09-12 12:30</span></td>
								<td><span class="lashop_img">
									<img src="../images/li01.png" alt="" >
								</span></td>
								<td><span>asss222-black-s</span></td>
								<td><span><p>aaa Chen</p><p><i class="ea-gard-star ea-gard4"></i></p></span></td>
								<td><span>500</span></td>
								<td><span>500</span></td>
								<td><span>300</span></td>
								<td><span>$2</span></td>
								<td><span>$400</span></td>
								<td><span>5</span></td>
								<td><span>10个破损</span></td>
								<td class="relative">
									<span>
									<poplink class="active">
										{{'100593' | translate}}
								 </poplink>
								  <section id="show-img">
										<h3>{{'100595' | translate}}</h3>
										<ul class="state-modify-list">
											<li><span class="list-tit">{{'100202' | translate}}</span><span class="list-con"><select class="input-full">
												<option>{{'100595' | translate}}</option>
												<option>{{'100596' | translate}}</option>
											</select></span></li>
											<li><span class="list-tit">{{'100293' | translate}}</span><span class="list-con"><input type="text" value="" class="input-helf"></span></li>
										</ul>
									<closetext class="btn-cancel">{{'100051' | translate}}</closetext><closetextt class="btn-determine">{{'100050' | translate}}</closetextt>
									</section>
								</span></td>
							</tr>
						</table>
                        <!--以下是分页-->
							<!-- 分页 -->
                 <!-- ng-show="hasMerch" -->
                <div class="page-box">
                    <div class="select-page-num">
                        <select class="form-control" ng-model="pageSize" ng-change="getPageSize()">
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                        <span>每页</span>
                    </div>
                    <div class="total-num">
                        共&nbsp;&nbsp;{{ totalNum }}&nbsp;&nbsp;条
                    </div>
                    <div class="page-index">
                        <div id="pagination1" class="pagination2">
                        	<a href="#">&lt;&lt;</a>
							            <a href="#">&lt;</a>
							            <a href="#">1</a>
							            <a href="#">2</a>
							            <a class="current" href="#">3</a>
							            <a href="#">4</a>
							            <a href="#">5</a>
							            <a href="#">6</a>
							            <a href="#">···</a>
							            <a href="#">&gt;</a>
							            <a href="#">&gt;&gt;</a>
                        </div>
                    </div>
                    <div class="to-go">
                        <span>跳转：</span>
                        <input type="text" class="form-control" placeholder="" ng-model="specifiedPage">
                        <a class="btn btn-default" href="javascript: void(0);" role="button" ng-click="getSpecifiedPage()">go</a>
                    </div>
                </div>
						
						
						</div>
						</div>
					</div>
					
				<!-- </div> -->
			<!-- </div> -->
		</div>
		
		
		<!-- 选取两段时间之间插件 -->
		<!--<script type="text/javascript" src="../js/jquery.min.js" ></script>-->
		<!--<script type="text/javascript" src="../js/lyz.calendar.min.js"></script>-->
		<script>

    $(function () {

        $("#txtBeginDate").calendar({
            controlId: "divDate",                                 // 弹出的日期控件ID，默认: $(this).attr("id") + "Calendar"
            speed: 200,                                           // 三种预定速度之一的字符串("slow", "normal", or "fast")或表示动画时长的毫秒数值(如：1000),默认：200
            complement: true,                                     // 是否显示日期或年空白处的前后月的补充,默认：true
            readonly: true,                                       // 目标对象是否设为只读，默认：true
            upperLimit: new Date(),                               // 日期上限，默认：NaN(不限制)
            lowerLimit: new Date("2011/01/01"),                   // 日期下限，默认：NaN(不限制)
            callback: function () {                               // 点击选择日期后的回调函数
            //alert("您选择的日期是：" + $("#txtBeginDate").val());
            }
        });
        $("#txtEndDate").calendar();
    });
</script>


<!-- 弹框js -->
<script>
	
	function clickshow(btn,box,close,close1){
	var eaListTable=document.getElementById('ea-list-table');
	var showImgBtn=eaListTable.getElementsByTagName(btn);
	var showImg=eaListTable.getElementsByTagName(box);
	var closeShowImg=eaListTable.getElementsByTagName(close);
	var closeShowImgt=eaListTable.getElementsByTagName(close1);
	for(var i=0; i<showImgBtn.length; i++){
		showImgBtn[i].index=i;
		showImgBtn[i].onclick=function(){
				showImg[this.index].style.display='block';
		}
		}
	for(var i=0; i<closeShowImg.length; i++){
		closeShowImg[i].index=i;
		closeShowImg[i].onclick=function(){
			showImg[this.index].style.display='none';
		}
	}
	for(var i=0; i<closeShowImgt.length; i++){
		closeShowImgt[i].index=i;
		closeShowImgt[i].onclick=function(){
			showImg[this.index].style.display='none';
		}
	}
	}
	clickshow('poplink','section','closetext','closetextt');
</script>

		
	</body>
</html>
