<style type="text/css">
	.c-seach-inp {
		height: 30px;
		float: left;
		width: 200px;
		text-indent: 12px;
		border-radius: 0;
		border-left: none;
	}

	.c-seach-btn {
		padding: 0 10px;
		border: 1px solid #ececec;
		border-left: none;
		display: inline-block;
		height: 30px;
		line-height: 28px;
		float: left;
	}

	.c-fun-right .two-ck-btn {
		height: 30px;
		margin-left: 20px;
	}

	.c-fun-right .act-btn {
		background-color: #08aceb;
		color: #fff;
	}


	.add-sku-table {
		width: 100%;
		border: 1px solid #ececec;
		text-align: center;
	}

	.add-sku-table tr {
		border-bottom: 1px solid #ececec;
	}

	.add-sku-table th {
		border-right: 1px solid #ececec;
		height: 40px;
		text-align: center;
	}

	.add-sku-table td {
		border-right: 1px solid #ececec;
		height: 40px;
		font-size: 12px;
	}

	.w60h60 {
		width: 60px;
		height: 60px;
	}

	.w100 {
		width: 100px;
		height: 30px;
		text-align: center;
	}

	.add-tabcon {
		height: 400px;
		overflow-y: auto;
	}

	.addsku-btn {
		padding: 0 15px;
		height: 30px;
		line-height: 28px;
		border: 1px solid #b4b4b4;
		border-radius: 4px;
		background: #d2d2d2;
		color: #000000;
		text-align: center;
		font-size: 12px;
		float: right;
		margin-top: -5px;
	}

	.zzh-li {
		font-size: 12px;
		text-align: center;
		padding: 5px 0;
	}

	.w200 {
		width: 200px;
		height: 30px;
		margin-right: 30px;
	}

	.zzh-li img {
		cursor: pointer;
	}

	.zzh-li img:last-child {
		padding: 11px 2px;
	}

	.suc-back {
		background-color: #04a452;
	}

	.label-span {
		display: inline-block;
		width: 100px;
		text-align: right;
		margin-right: 20px;
	}

	.rk-btn {
		background: #08aceb;
		height: 30px;
		line-height: 30px;
		border-radius: 4px;
		color: #fff;
		padding: 0 15px;
		float: right;
		display: inline-block;
		margin-left: 15px;
	}

	.time-click {
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		cursor: pointer;
	}

	.time-click:hover {
		color: #5dbdf2;
	}

	.time-act {
		color: #5dbdf2;
	}

	.thead-box {
		display: flex;
		justify-content: center;
		align-items: center;
		/* min-width: 952px; */
		z-index: 99999;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		margin-top: 20px;
	}

	.th-group {
		background: #F4F8FB;
		text-align: center;
		padding: 10px 0;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		/*border-right: 1px solid red;*/
	}

	.th-group span {
		font-size: 14px;
	}

	.tit-box {
		/*position: fixed;*/
		left: 290px;
		right: 58px;
		z-index: 999;
		background-color: #fff;
		/* min-width: 952px; */
	}

	.c-ord-conall {
		/* min-width: 1010px; */
	}
    .c-ord-tbody tr .ordlist-fir-td p{
        margin-left: 0;
    }

	.c-ord-conall .pur-chuli-act {
		background-color: #5dbdf2;
		color: #fff;
	}

	.wl-mes-ul li {
		display: flex;
		justify-content: space-around;
	}

	.wid20 {
		width: 20%;
	}
	.wid30 {
		width: 30%;
	}
	.wid76 {
		width: 76%;
	}

	.blank-span {
		position: relative;
	}

	.sp-smallimg {
		width: 60px;
		height: 60px;
		cursor: pointer;
	}

	.hide-bigimg {
		width: 200px;
		height: 200px;
		position: absolute;
		left: 60px;
		top: -60px;
		background-color: #fff;
		z-index: 9;
		cursor: pointer;
		max-width: none;
		max-height: none;
	}
	.top-150px{
		top: -150px;
	}
	.radio-td .check-box{
		margin-left: 10px;
	}
	.radio-td .check-box input {
		padding: 0;
		width: 17px;
	}
	.add-sku-table .radio-td .check-box label {
		background-image: url(../static/image/public-img/radiobutton1.png);
	}
	.add-sku-table .radio-td .check-box .act {
		background-image: url(../static/image/public-img/radiobutton2.png);
	}
	.dis-flex-wrap{
		display: flex;
		justify-content: space-between;
	}
	.edit-add-btn{
		color: #ff8d31;
		height: 30px;
		width: 76px;
		border-radius: 4px;
		font-size: 14px;
		background-color: #fff;
		border: 1px solid #ff8d31;
	}
	.edit-act{
		background-color: #ff8d31;
		color: #fff;
	}
	.invoice-ul li{
		font-size: 12px;
	}
	.pingzhengImgs img{
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.tk-big-img{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		max-width: 1000px;
	}
	.dispute-upload {
        display: flex;
        margin: 5px auto 0;
        /* margin-top: 5px; */
        overflow-y: auto;
		padding-top: 12px;
    }
    
    .dispute-upload .upload_wrap {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .dispute-upload .upload_wrap li {
        margin-right: 10px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 10px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
    
    .dispute-upload .upload_wrap .li-img {
        width: 104px;
        height: 104px;
		position: relative;
    }
	.dispute-upload .upload_wrap .before-img {
        width: 100px;
        height: 100px;
    }
    
    .dispute-upload .upload_wrap .close-img {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 1000;
        cursor: pointer;
		width: 20px;
    }
	.upload-img {
        width: 104px;
        height: 104px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.02);
        position: relative;
		border: 1px solid rgba(0, 0, 0, 0.15);
    }
    
    .upload_file {
        position: absolute;
        top: 0;
        left: 0;
        width: 104px;
        height: 104px;
        opacity: 0;
        cursor: pointer;
    }
    
    .upload_img_wrap img {
        width: 37px;
        height: 33px;
    }
	.selsea-key{
		float: left;
		height: 30px;
		margin-left: 10px;
		border: 1px solid #ececec;
	}
	.c-ord-tbody tr td .link-sty{
		color: #08ACE9;
		text-decoration: underline;
		cursor: pointer;
	}
	@media screen and (max-width: 1300px){
		.isaddyfh-wrap .tijiao-ordcon{
			left: 260px;
			transform: translateY(-50%);
		}
	}
</style>
<div class="custom-orders-wrap">
	<div class="c-ord-mid">
		<!-- 右边的内容部分 -->
		<div class="ord-right-con">
			<div class="content">
				<div class="c-ord-conall">
					<div class="c-ord-con" style="padding-top: 10px;">
						<div class="c-ord-fun tit-box" id="purch-box">
							<!-- <div class="c-us-stuv">
								<div class="c-fun-right">
									<input class="Wdate data-inp"
										style="text-indent: 12px;position:relative;top: 0px;float: left;width: 110px;"
										id="c-data-time" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
										placeholder="起始日期">
									<input id="cdatatime2" placeholder="结束日期" class="Wdate data-inp"
										style="text-indent: 12px;position:relative;top: 0px;float: left;width: 110px;"
										type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
									<select ng-model="searchKey" style="float: left;height: 30px;margin-left: 10px" id="selectSearch">
										<option value="sku">SKU</option>
										<option value="userName">分标人</option>
									</select>
									<input id="searchInfo" placeholder="" ng-model="searchVal" class="c-seach-inp">
									<a ng-click="searchFun()" class="c-seach-btn"
										href="javascript:void(0)">{{'100025' | translate}}</a>
									
								</div>
							</div> -->
							<div class="thead-box">
								<div class="th-group" style="width: 30%;position: relative;">
									<span>供货公司</span>
								</div>
								<div class="th-group" style="width: 20%;">
									<span>采购人</span>
								</div>
								<div class="th-group" style="width: 20%;">
									<span>开始时间</span>
								</div>
								<div class="th-group" style="width: 20%;">
									<span>结束时间</span>
								</div>
								<div class="th-group" style="width: 10%;">
									<span>采购次数</span>
								</div>
							</div>
						</div>

						<div class="toogle-ord-stu" id="c-zi-ord">
							<!-- 订单列表部分 -->
							<div class="c-ord-list">
								<table class="orders-table">
									<tbody class="c-ord-tbody">
										<tr class="erporder-detail" ng-repeat="zddlist in erporderList"
										ng-init="pIndex=$index">
											<td class="ordlist-fir-td stop-prop" style="width: 30%;">
												<!-- <img class="cor-check-box stop-prop"
													src="static/image/order-img/multiple1.png"> -->
												<p class="stop-prop cg-id" ng-cloak>{{zddlist.gongHuoGongSi}}</p>
											</td>
											<td style="width: 20%;"><p>{{zddlist.caiGouRen}}</p></td>
											<td style="width: 20%;">
												<p ng-cloak>
													{{ zddlist.startDate.time | date:"yyyy-MM-dd HH:ss"}}
												</p>
											</td>
											<td style="width: 20%;">
												<p ng-cloak>
													{{ zddlist.endDate.time | date:"yyyy-MM-dd HH:ss"}}
												</p>
											</td>
											<td class="ordlist-imgtd moshow-sp-td" style="width: 10%;">
												<p class="link-sty" ng-click="detailFun(zddlist)" ng-cloak>
													{{ zddlist.amount}}
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>


						<div ng-show="erpordTnum<1" style="text-align: center;">暂无数据</div>
						<!-- 分页 -->
						<div class="pages-fun" ng-show="erpordTnum>0">
							<select id="page-sel" class="c-select-page-num" ng-change="pageChange()"
								ng-model="pageSize">
								<!-- <option value="1">1</option>
								<option value="2">2</option> -->
								<option value="30">30</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
							<span class="every-page gong">共</span>
							<span class="c-all-num-line">{{erpordTnum}}</span>
							<span class="every-page">条</span>
							<span id="demo3-text"></span>
							<div id="c-pages-fun"></div>
							<span class="every-page">跳转:</span>
							<input id="inp-num" class="c-inp-num-go" ng-model="pageNum"></input>
							<span style="cursor: pointer;" ng-click="gopageFun()" class="jump-btn">go</span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>