<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>纠纷退款列表</title>
  <link rel="stylesheet" type="text/css" href="erp_otweb/css/erp_financing_income.css" />
</head>

<body>
  <div class="ea-content">
    <div class="right-bar-wrap ea-right-content">
      <!-- 顶部tab -->
      <div id="top-tab" class="top-tab">
        <!-- 搜索区域 & 表头 -->
        <div class="top-tab-bottom bg-white padding-lr-20px mt-0">
          <!-- 搜索区域 -->
          <div class="top-tab-search d-flex align-items-center">
            <div class="search-group d-flex align-items-center" style="margin-right: 35px;">
              <span>客户名称：</span>
              <input type="text" ng-model="paymentName">
            </div>
            <div class="search-group d-flex align-items-center" style="margin-right: 35px;">
              <span>订单号：</span>
              <input type="text" ng-model="cjOrderId">
            </div>
            <div class="search-group d-flex align-items-center" style="margin-right: 35px;">
              <span>退款渠道：</span>
              <select style="width: 110px" name="" id="" ng-model="paymentType">
                <option value="">全部</option>
                <option value="CJ钱包">CJ钱包</option>
                <option value="Paypal">Paypal</option>
                <option value="Payssion">Payssion</option>
                <option value="Payoneer">Payoneer</option>
                <option value="Stripe">Stripe</option>
              </select>
            </div>
            <div class="search-group align-items-center" style="margin-right: 35px;">
              <wui-date format="yyyy-mm-dd" ng-class="{'disable-opacity': disable.select}" placeholder="开始时间" btns="{'ok':'确定','now':'今天'}" ng-model="startDate"></wui-date>
              <wui-date format="yyyy-mm-dd" ng-class="{'disable-opacity': disable.select}" placeholder="结束时间" btns="{'ok':'确定','now':'今天'}" ng-model="endDate"></wui-date>
            </div>
            <div class="search-group d-flex align-items-center">
              <button class="asj-btn-s asj-btn-s1 search-btn" style="margin-right: 20px; width: 70px;" ng-click="filterSearch()">查询</button>
              <button class="asj-btn-s asj-btn-s2 search-btn" style="margin-right: 20px; width: 70px;" ng-click="reset()">重置</button>
            </div>
          </div>

          <!-- 表头 -->
          <div class="tb-thead d-flex">
            <div style="width: 20%" class="tb-thead-th d-flex-center">日期</div>
            <div style="width: 20%" class="tb-thead-th d-flex-center">订单号</div>
            <div style="width: 20%" class="tb-thead-th d-flex-center">客户名称</div>
            <div style="width: 20%" class="tb-thead-th d-flex-center">订单金额</div>
            <div style="width: 20%" class="tb-thead-th d-flex-center">退款金额</div>
            <div style="width: 20%" class="tb-thead-th d-flex-center">业务员</div>
            <div style="width: 20%" class="tb-thead-th d-flex-center">处理人</div>
            <div style="width: 20%" class="tb-thead-th d-flex-center">退款渠道</div>
            <div style="width: 20%" class="tb-thead-th d-flex-center">备注</div>
          </div>

        </div>
      </div>

      <!-- 内容区 -->
      <div id="content-wrap" class="content-wrap bg-white padding-lr-20px" style="min-height: 600px; margin-top: 144px;">
        <!-- 表格 -->
        <div class="tb-tbody">
          <div class="tb-tbody-tr" ng-repeat="item in disputeRefundList">
            <div style="width: 20%" class="tb-tbody-td border-r-td"><span>{{item.createDate | date : 'yyyy-MM-dd HH:mm:ss' || '--'}}</span></div>
            <div style="width: 20%" class="tb-tbody-td border-r-td"><span>{{item.cjOrderId || '--'}}</span></div>
            <div style="width: 20%" class="tb-tbody-td"><span>{{item.paymentName || '--'}}</span></div>
            <div style="width: 20%" class="tb-tbody-td"><span>{{item.actualAmountPaid || '--'}}</span></div>
            <div style="width: 20%" class="tb-tbody-td"><span>{{item.copeMoney || '--'}}</span></div>
            <div style="width: 20%" class="tb-tbody-td"><span>{{item.salesName || '--'}}</span></div>
            <div style="width: 20%" class="tb-tbody-td"><span>{{item.handler || '--'}}</span></div>
            <div style="width: 20%" class="tb-tbody-td"><span>{{item.paymentType || '--'}}</span></div>
            <div style="width: 20%" class="tb-tbody-td"><span>{{item.message || '--'}}</span></div>
          </div>
        </div>
        <!-- 分页 -->
        <!-- 没有数据 -->
        <div class="d-flex-center" style="padding: 10px" ng-show="!disputeRefundList">
          <span>暂无数据</span>
        </div>
        <page></page>
      </div>
    </div>
  </div>
</body>

</html>