<button type="button" class="ant-btn"
  ng-class="{'ant-btn-primary': vm.type == 'primary','ant-btn-dashed': vm.type == 'dashed'}" style="{{vm.styles}}"
  ng-click="kClick()"><span ng-transclude></span></button>

<style>
  .ant-btn {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0, 0, 0, .65);
    background-color: #fff;
    border-color: #d9d9d9;
  }

  .ant-btn-primary {
    color: #fff;
    background-color: #F8A636;
    border-color: #F8A636;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
  }

  .ant-btn:hover,
  .ant-btn:focus,
  .ant-btn:active,
  .ant-btn.active {
    text-decoration: none;
    background: #fff;
  }

  .ant-btn:hover,
  .ant-btn:focus {
    color: #ffb920;
    background-color: #fff;
    border-color: #ffb920;
  }

  .ant-btn-dashed {
    color: rgba(0, 0, 0, .65);
    background-color: #fff;
    border-color: #d9d9d9;
    border-style: dashed;
  }

  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    color: #fff;
    background-color: #ffb920;
    border-color: #ffb920;
  }
</style>