<div class="advancePurchase wrapper">
  <div class="backBtn"><a href="javascript:history.back();" class="btn">&lt;返回</a></div>

  <div class="filter flex fwp fdr">
    <div class="input-item flex aic jcc">
      <span>SKU：</span>
      <div class="con">
        <input type="text" placeholder="输入SKU" ng-model="sendParams.sku" />
      </div>
    </div>
    <div class="input-item flex aic jcc">
      <span>仓库：</span>
      <div class="con">
        <select ng-model="sendParams.storage">
          <option value="">全部</option>
          <option ng-repeat="(key,value) in warehouseobj" value="{{key}}">{{value}}</option>
        </select>
      </div>
    </div>
    <div class="input-item flex aic jcc">
      <span>退货：</span>
      <div class="con">
        <select ng-model="sendParams.returned">
          <option value="">全部</option>
          <option value="0">可退货</option>
          <option value="1">不可退货</option>
        </select>
      </div>
    </div>
    <div class="input-item flex aic jcc">
      <span>采购价格：</span>
      <div class="con">
        <input type="text" placeholder="输入采购价格" ng-model="sendParams.procurementPrice" ng-keyup="keyUpByMoney($event)" />
      </div>
    </div>
    <div class="input-item flex aic jcc">
      <span>预采购数量：</span>
      <div class="con">
        <input type="text" placeholder="请输入采购数量" ng-model="sendParams.procurementCount" ng-keyup="onKeyUpEventByNumber('procurementCount')" />
      </div>
    </div>
    <div class="input-item flex aic jcc">
      <span>采购周期：</span>
      <div class="con flex aic">
        <input type="text" placeholder="输入天数" class="day" ng-model="sendParams.procurementPeriodLow" ng-keyup="onKeyUpEventByNumber('procurementPeriodLow')" />
        -
        <input type="text" placeholder="输入天数" class="day" ng-model="sendParams.procurementPeriodHigh" ng-keyup="onKeyUpEventByNumber('procurementPeriodHigh')" />
      </div>
    </div>
    <div class="input-item flex aic jcc">
      <span>到货周期：</span>
      <div class="con flex aic">
        <input type="text" placeholder="输入天数" class="day" ng-model="sendParams.arrivalPeriodLow" ng-keyup="onKeyUpEventByNumber('arrivalPeriodLow')" />
        -
        <input type="text" placeholder="输入天数" class="day" ng-model="sendParams.arrivalPeriodHigh" ng-keyup="onKeyUpEventByNumber('arrivalPeriodHigh')" />
      </div>
    </div>
    <div class="flex aic jce" style="margin-bottom:20px;flex:1;">
      <a href="javascript:void(0)" class="btn primary" ng-click="openPurchaseApplyBubble()">申请预采购</a>
    </div>
  </div>

  <table class="k-table" width="100%">
    <thead>
      <th>图片</th>
      <th>SKU</th>
      <th>采购周期(天)</th>
      <th>到货周期(天)</th>
      <th>周期使用数量</th>
      <th>预采购数量</th>
      <th>采购价格($)</th>
      <th>是否可以退货</th>
      <th>所属仓库</th>
      <th>推荐采购准确率</th>
    </thead>
    <tbody>
      <tr ng-repeat="i in list track by i.id">
        <td>
          <div class="td">
            <div class="preView">
              <img src="{{i.image}}" />
            </div>
          </div>
        </td>
        <td><div class="td">{{i.sku}}</div></td>
        <td><div class="td">{{i.procurementPeriod}}</div></td>
        <td><div class="td">{{i.arrivalPeriod}}</div></td>
        <td><div class="td">{{i.orderNum}}</div></td>
        <td><div class="td">{{i.procurementCount}} ({{i.comefrom==1?'手动':'系统'}})</div></td>
        <td><div class="td">{{i.procurementPrice}}</div></td>
        <td><div class="td">{{i.returned=='0'?'可退货':'不可退货'}}</div></td>
        <td><div class="td">{{warehouseobj[i.storage] || '无'}}</div></td>
        <td><div class="td">{{rateCalc(i.rate)}}%</div></td>
      </tr>
    </tbody>
  </table>

  <page></page>

  <!-- 申请预采购SKU -->
  <div class="erp-common-tan-v2-wrap" ng-show="purchaseApplyFlag">
    <div class="erp-common-tan-v2" style="width: 500px; height: auto;">
      <!-- 关闭按钮 -->
      <a class="tan-v2-close" href="javascript:void(0);" ng-click="purchaseApplyFlag=false;"><img src="static/image/public-img/close-img.png"></a>
      <!-- title -->
      <div class="tan-v2-top">
        <h6>申请预采购SKU</h6>
      </div>
      <!-- 内容 -->
      <div class="tan-v2-con">
        <div class="flex fdr aic" style="margin-bottom:10px;">
          <input type="text" style="margin-right:10px;" ng-model="searchSku" />
          <a href="javascript:void(0)" class="btn primary" ng-click="querySkuList()">搜索</a>
        </div>
        <table class="k-table" width="100%">
          <thead>
            <th>图片</th>
            <th>SKU</th>
            <th>仓库</th>
            <th>预采购数量</th>
          </thead>
          <tbody>
            <tr ng-if="!!searchSkuObj">
              <td>
                <div class="td">
                  <div class="preView">
                    <img src="{{searchSkuObj.image}}" />
                  </div>
                </div>
              </td>
              <td><div class="td">{{searchSkuObj.sku}}</div></td>
              <td>
                <div class="td">
                  <select ng-model="searchSkuObj.storage">
                    <option value="">请选择</option>
                    <option ng-repeat="(key,value) in warehouseobj track by $index" value="{{key}}" ng-if="key=='0' || key=='1'">{{value}}</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="td">
                  <input type="number" ng-model="searchSkuObj.procurementCount" style="width:100%"/>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 底部 -->
      <div class="tan-v2-bot">
        <!-- 取消按钮（灰色） -->
        <a href="javascript:void(0);" ng-click="purchaseApplyFlag=false;" class="qu-xiao-btn">取消</a>
        <!-- 确认按钮（彩色） -->
			<a href="javascript:void(0);" ng-click="savePurchaseSubmit()" class="que-ding-btn">提交</a>
      </div>
    </div>
  </div>

</div>

<style>
  /* module */
  input.day{width:100px;}

</style>