/*客户-列表页*/
.wa-SpColor{color:#047aa7;text-decoration: underline;cursor: pointer}

/*客户-审核页*/
.wa-contBox{width:1120px;margin:15px auto 0 auto;padding-top:65px;}
.wa-contBox ul li{float:left;font-size:16px;}
/*.liSp{height:90px;}*/
.wa-contBoxAll{width:1629px;margin:0 auto;background-color:#fff;}
.wa-contBox ul li:nth-child(1){width:139px;color:#fff;background-color:#c2c2c2;text-align: right;padding:15px 18px 15px 0;}
.wa-contBox ul li:nth-child(2){width:949px;padding-left:24px;border:1px solid #f1f1f1;border-bottom:0;box-sizing: border-box;line-height:50px;height:51px;}
.spbz-btn{
	margin-top: 3px;
	width: 76px;
	height: 30px;
	text-align: center;
	background-color: #87CEFA;
	border-radius: 4px;
	color: #fff;
}
.zdbz-wrap{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.3);
}
.zdbz-con{
	width: 650px;
	height: 580px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	padding: 20px 20px 0;
	background-color: #fff;
	border-radius: 4px;
}
.zdbz-sea{
	text-align: center;
	margin-bottom: 10px;
}
.zdbz-sea .sea-inp{
	width: 200px;
	height: 30px;
	text-indent: 12px;
}
.zdbz-sea .sea-btn{
	width: 50px;
	height: 30px;
	font-size: 12px;
	background-color: #999;
}
.zdbz-listab{
	height: 360px;
	overflow-y: auto;
}
.zdbz-listab .zdbz-tab{
	width: 100%;
	border: 1px solid #ececec;
}
.zdbz-listab .zdbz-th{
	background-color: #f4f8fd;
	height: 30px;
	border-right: 1px solid #ececec;
	text-align: center;
}
.zdbz-listab .zdbz-tr{
	border-top: 1px solid #ececec;
}
.zdbz-listab .zdbz-tr td{
	border-right: 1px solid #ececec;
}
.zdbz-listab .zdbz-tr p{
	text-align: center;
	font-size: 12px;
}
.sel-bz{
	margin-top: 10px;
}
.bot-btns{
	text-align: center;
}
.bot-btns .bot-qx{
	background-color: #666;
	color: #fff;
	width: 60px;
	height: 30px;
	margin-right: 50px;
}
.bot-btns .bot-sure{
	background-color: #f88f29;
	color: #fff;
	width: 60px;
	height: 30px;
}
.upload-imglist{
	height: 70px;
}
.upload-imglist{
	margin: 10px 0;
}
.upload-imglist .upload-form{
    display: inline-block;
    border: 1px solid #87CEFA;
    border-radius: 4px;
    position: relative;
    color: #87CEFA;
    vertical-align: top;
    margin-top: 20px;
}
.upload-imglist .up-hdexcel{
    height: 30px;
    border-radius: 4px;
    background-color: #fff;
    width: 100px;
    text-align: center;
}
.upload-imglist .img-listul{
	display: inline-block;
	width: 500px;
	height: 76px;
	vertical-align: top;
	overflow-x: auto;
}
.upload-imglist .img-listul li{
	float: left;
	margin-right: 15px;
	margin-top: 12px;
	position: relative;
}
.upload-imglist .img-listul li .item-img{
	height: 60px;
}
.upload-imglist .img-listul li .close-img{
	position: absolute;
	right: -11px;
	top: -11px;
	cursor: pointer;
}

.fpkh-content{
	background-color: #fff;
	padding: 20px;
}
.fpkh-inp{
	width: 200px;
	height: 30px;
	margin-right: 30px;
	font-size: 12px;
	text-indent: 12px;
}
.fil-div-group{
	display: inline-block;
	position: relative;
}
.fpkh-resul{
	position: absolute;
	top: 30px;
	left: 60px;
	background-color: #fff;
	min-width: 200px;
	border: 1px solid #EEEEEE;
}
.fpkh-resul li{
	padding: 10px 5px;
	text-align: left;
	border-bottom: 1px solid #EEEEEE;
	overflow: hidden;
}
.fpkh-resul li .cor-check-box{
	cursor: pointer;
}
.fpkh-cusname{
	font-size: 12px;
	padding-left: 20px;
}
.fpkh-ul2 .fpkh-cusname{
	float: left;
	width: 200px;
	margin-top: -1px;
}
.fpkh-ul2 li .cor-check-box{
	float: left;
}
.fpkh-resul li span{
	display: inline-block;
}
.radio-btn{
	width: 16px;
	cursor: pointer;
}
.fpkh-btns{
	margin-top: 100px;
	background-color: #fff;
}
.sure-fpkh-btn{
	padding: 0 20px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ff8d31;
	color: #ff8d31;
	height: 30px;
}
.sure-fpkh-btn:hover{
	background-color: #ff8d31;
	color: #fff;
}
.day-time-span{
	font-size: 12px;
	margin-left: 20px;
	cursor: pointer;
	position: relative;
	top: 5px;
}
.day-time-act{
	color: #08aceb;
}
.zdbz-selstore{
	height: 30px;
	font-size: 12px;
	width: 200px;
	margin-left: 20px;
}