.yzy-cute-content .right-bar-wrap{
	padding: 0 20px 0 230px;
}
.yzy-cute-content .top-tab-search{
  padding: 20px 0;
}
.yzy-cute-content .search-select{
	height: 34px;
	border-radius: 4px;
}
.search-input{
	height: 34px;
	width: 200px;
	border-radius: 4px;
}
.search-btn{
	border-radius: 4px;
	height: 34px;
	line-height: 34px;
	padding: 0 15px;
}
.search-input-btn{
	border-radius: 4px;
	position: relative;
	left: -1px;
}
.model-textarea{
	border: 1px solid #e1e1e1;
	width: 100%;
	resize: none;
	border-radius: 4px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 13px;
	/* height: 100px; */
}
.model-select{
	width: 100%;
	border-radius: 4px;
	height: 34px;
	margin: 10px 0 15px 0;
	font-size: 13px;
	padding: 3px;
}
.content-wrap{
	padding-bottom: 1px;
}
.w-e-text-container{
	height: 200px !important;
}
.zsk-sort-th{
	display: flex;
	align-items: center;
	justify-content: center;
}
.zsk-sort-th .zsk-sort-icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../../static/image/public-img/defaultSort.svg') no-repeat;
	cursor: pointer;
}
.zsk-sort-th .zsk-sort-icon.sort-desc{
	background: url('../../static/image/public-img/jiangxu.svg') no-repeat;
}
.zsk-sort-th .zsk-sort-icon.sort-asc{
	background: url('../../static/image/public-img/shengxu.svg') no-repeat;
}
.yzy-cute-modal .tan-v2-con {
	max-height: 700px;
	overflow-y: auto;
}
.yzy-cute-modal .relevance-drop-wrap{
	width: 100%;
	box-shadow: 0px 1px 4px 1px rgba(213, 212, 212, 0.48);
	top: 55px;
	max-height: 200px;
	overflow-y: auto;
}
.yzy-cute-modal .relevance-drop-wrap li{
	padding: 8px 15px;
	font-size: 12px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	border-radius: 4px;
	overflow: hidden;
	white-space: nowrap;
}
.yzy-cute-modal .relevance-drop-wrap li:hover{
	background: rgba(255,119,0, 0.6);
	color: #fff;
}
.yzy-cute-modal .relevance-item{
	margin-bottom: 12px;
}
.yzy-cute-modal .relevance-item span{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1;
	font-size: 12px;
}
.yzy-cute-modal .relevance-item b{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url('../../static/image/public-img/close-img.png') no-repeat;
	background-size: 12px;
}
.yzy-cute-modal .check-box-item{
	margin-top: 12px;
	margin-bottom: 12px;
	margin-right: 16px;
}
.yzy-cute-modal .check-box-item b{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url('../../static/image/public-img/multiple1.png') no-repeat;
	background-size: 14px;
	margin-right: 6px;
}
.yzy-cute-modal .check-box-item b.checked {
	background: url('../../static/image/public-img/multiple2.png') no-repeat;
	background-size: 14px;
}
