
<link rel="stylesheet" type="text/css" href="static/css/supplier-manage.css">

<div class="main-box custom-orders-wrap">
    <!-- 订单的导航按钮 -->
    <div class="left-bar">
         <!-- class="et-nav-ul" -->
        <ul>
            <li><a class="e-customer-ord">{{'100549' | translate}}</a></li>
            <li class="active"><a class="e-customer-ord"  style="color: #000;background-color: #fff">{{'100550' | translate}}</a></li>

        </ul>
    </div>
    <div class="right-bar-wrap c-ord-conall">
        <!--供应商详情页-->
        <!--ng-show="details"-->
        <div class="right-bar c-ord-con s-ord-con" >
            <div class="c-ord-list s-ord-list">
                <div class="s-ord-list-c"><p class="s-supplier-left">{{'100469' | translate}}</p><p class="s-supplier-right">广州收拾收拾服饰公司</p></div>
                <button style="width: 135px" ng-click="pushblack()">{{'100616' | translate}}</button>
            </div>

            <div class="s-ord-table">
                <table>
                    <tbody>
                    <tr>
                        <td class="s-supplier-left">{{'100469' | translate}}</td>
                        <td class="s-supplier-right">{{useritem.name}}</td>
                    </tr>
                    <tr>
                        <td class="s-supplier-left">{{'100611' | translate}}</td>
                        <td class="s-supplier-right">{{useritem.href}}</td>
                    </tr>
                    <tr>
                        <td class="s-supplier-left">{{'100470' | translate}}</td>
                        <td class="s-supplier-right">{{useritem.supplierType}}</td>
                    </tr>
                    <tr>
                        <td class="c-supplier-left">{{'100471' | translate}}</td>
                        <td class="s-supplier-right">{{useritem.mainSaleCategory}}</td>
                    </tr>
                    <tr>
                        <td class="s-supplier-left">{{'100472' | translate}}</td>
                        <td class="s-supplier-right">{{useritem.linkman}}</td>
                    </tr>
                    <tr>
                        <td class="s-supplier-left"> QQ</td>
                        <td class="s-supplier-right">{{useritem.qq}}</td>
                    </tr>
                    <tr>
                        <td class="s-supplier-left">{{'100473' | translate}}</td>
                        <td class="s-supplier-right">{{useritem.wechat}}</td>
                    </tr>
                    <tr>
                        <td class="s-supplier-left">{{'100474' | translate}}</td>
                        <td class="s-supplier-right">{{useritem.wangwang}}</td>
                    </tr>
                    <tr>
                        <td class="s-supplier-left">{{'100475' | translate}}</td>
                        <td class="s-supplier-right">{{useritem.tel}}</td>
                    </tr>
                    <tr>
                        <td class="s-supplier-left">{{'100482' | translate}}</td>
                        <td class="s-supplier-right">{{useritem.origin}}</td>
                    </tr>
                    <tr>
                        <td class="s-supplier-left">{{'100617' | translate}}</td>
                        <td class="s-supplier-right">{{useritem.skuCount}}</td>
                    </tr>
                    <tr>
                        <td class="s-supplier-left">{{'100610' | translate}}</td>
                        <td class="s-supplier-right">aaaaaaa</td>
                    </tr>
                    <tr>
                        <td class="s-supplier-left">{{'100478' | translate}}</td>
                        <td class="s-supplier-right"><div id="star2" data-score="{{useritem.lev}}"></div></td>
                        <td><button class="bluebtn" ng-click="window=true">{{'100546' | translate}}</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div  >
                <div class="middle-list-title">{{'100618' | translate}}</div>
                <!--<table >-->
                <!--<thead>-->
                <!--<tr>-->
                <!--<th>图片</th>-->
                <!--<th>商品SKU</th>-->
                <!--<th>商品名</th>-->
                <!--<th>单价</th>-->
                <!--<th>默认供应商</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--tr>td*5-->
                <!--</tbody>-->
                <!--</table>-->
                <div class="middle-list middle-list-border-top middle-list-border">
                    <div>{{'100382' | translate}}</div>
                    <div>{{'100106' | translate}}</div>
                    <div>{{'100107' | translate}}</div>
                    <div>{{'100585' | translate}}</div>
                    <div>{{'100619' | translate}}</div>
                </div>
                <div class="middle-list middle-list-border">
                    <div><img src="" alt=""></div>
                    <div  class="s-supplier-left">CTZLHSSL0001-Black</div>
                    <div>Fashion Style Skull Bracelet
                        Bangle Jewelry</div>
                    <div class="s-supplier-left">$3</div>
                    <div class="s-supplier-left">{{'100619' | translate}}</div>
                </div>
                <div class="middle-list-border">{{'100620' | translate}}</div>
                <div class="middle-list middle-list-list1 middle-list-border middle-list-border-top">
                    <div>2017-2-22</div>
                    <div>{{'100004' | translate}}</div>
                    <div>200</div>
                    <div>$3</div>
                    <div>$600</div>
                </div>
                <div class="middle-list middle-list-list1 middle-list-border">
                    <div>2017-2-22</div>
                    <div>{{'100004' | translate}}</div>
                    <div>200</div>
                    <div>$3</div>
                    <div>$600</div>
                </div>
                <div class="middle-list middle-list-list1 middle-list-border">
                    <div>2017-2-22</div>
                    <div>{{'100004' | translate}}</div>
                    <div>200</div>
                    <div>$3</div>
                    <div>$600</div>
                </div>
                <div class="middle-list middle-list-border">
                    <div><img src="" alt=""></div>
                    <div class="s-supplier-left">CTZLHSSL0001-Black</div>
                    <div>Fashion Style Skull Bracelet
                        Bangle Jewelry</div>
                    <div class="s-supplier-left">$3</div>
                    <div class="s-supplier-left">{{'100619' | translate}}</div>
                </div>
            </div>
            <div>
                <div class="middle-list-title">{{'100621' | translate}}</div>
                <div class="middle-list middle-list-list2 middle-list-border-top middle-list-border">
                    <div class="s-supplier-left">{{'100254' | translate}}</div>
                    <div class="s-supplier-left">{{'100485' | translate}}</div>
                    <div class="s-supplier-left">{{'100486' | translate}}</div>
                    <div class="s-supplier-left">{{'100487' | translate}}</div>
                </div>
                <div class="middle-list middle-list-list2 middle-list-border">
                    <div>1</div>
                    <div>等级修改</div>
                    <div>王艳</div>
                    <div>2017-10-11 10:10</div>
                </div>
            </div>

        </div>


    </div>
</div>

</div>
</div>

</div>

</div>
<!--弹窗-->
<div class="blackwin" ng-show="window">
    <div class="blackwincontent">
        <p>{{'100615' | translate}}</p>
        <div><span>{{'100470' | translate}}</span><input type="text" ng-model="editleixing" value="{{editleixing}}"></div>
        <div><span>{{'100471' | translate}}</span><input type="text" ng-model="editleimu" value="{{editleimu}}"></div>
        <div><span>{{'100472' | translate}}</span><input type="text"  ng-model="editlinkman" value="{{editlinkman}}"></div>
        <div><span>{{'100475' | translate}}</span><input type="text"  ng-model="edittel" value="{{edittel}}"></div>
        <div><span>QQ</span><input type="text"  ng-model="editqq" value="{{editqq}}"></div>
        <div><span>{{'100473' | translate}}</span><input type="text"  ng-model="editwechat" value="{{editwechat}}"></div>
        <div><span>{{'100474' | translate}}</span><input type="text"  ng-model="editwangwang" value="{{editwangwang}}"></div>
        <div><span>{{'100482' | translate}}</span><input type="text"  ng-model="editorigin" value="{{editorigin}}"></div>
        <div class="xingxing"><span>{{'100478' | translate}}</span><div id="star3"  ng-model="editlev" value="{{editlev}}"></div></div>
        <div class="blackwinbtn">
            <button ng-click="window=false">{{'100051' | translate}}</button>
            <button ng-click="queryuser()" style="background: #0d8efb;border: 1px solid #0d8efb; color: #fff;">{{'100050' | translate}}</button></div>
    </div>
</div>
