.xauto {
  margin: 0 auto;
}
.border {
  border: 1px solid red;
}
.border1 {
  border: 1px solid blue;
}
.border2 {
  border: 1px solid black;
}
.erp-purchase-wrap {
  background-color: #e5e5e5;
  width: 100%;
  padding: 20px 15px;
}
.erp-purchase-nav {
  width: 1121px;
  margin: 0 auto;
}
.erp-purchase-nav .ep-nav-ul {
  overflow: hidden;
}
.erp-purchase-nav .ep-nav-ul li {
  float: left;
}
.erp-purchase-nav .ep-nav-ul li a {
  width: 200px;
  height: 40px;
  font-size: 14px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  text-align: center;
  border-radius: 4px 4px 0 0;
}
.erp-purchase-nav .ep-nav-ul li .ep-nav-supplier {
  color: #646464;
  background-color: #d5d5d5;
}
.erp-purchase-nav .ep-nav-ul li .ep-nav-a {
  color: #000;
  background-color: #fff;
}
.erp-purchase-nav .ep-nav-ul .ep-nav-li1 {
  margin: 0 20px 0 80px;
}
.e-p-conall {
  width: 100%;
  background-color: #fff;
}
.e-p-con {
  width: 1121px;
  margin: 0 auto;
}
.e-p-fun {
  border: 1px solid red;
}
.ep-c-way {
  padding: 26px 0 34px 0;
  border-bottom: 1px solid #f1f1f1;
}
.ep-c-way a {
  color: #030303;
  width: 120px;
  display: inline-block;
  line-height: 28px;
  text-align: center;
  border: 1px solid blue;
}
.ep-c-way .ep-way-act {
  color: #08aceb;
  border: 1px solid #08aceb;
  width: 120px;
  height: 30px;
  display: inline-block;
  line-height: 28px;
  text-align: center;
}
.ep-time-stu {
  margin: 15px 0 24px;
}
.ep-time-stu a {
  font-size: 14px;
  color: #030303;
}
.ep-time-stu .ep-fun-time {
  margin-left: 18px;
}
.ep-time-stu .ep-sel-time {
  width: 200px;
  height: 30px;
  border: 1px solid #e5e5e5;
  margin: 0 18px;
}
.ep-time-stu .ep-fun-stu {
  margin-left: 30px;
}
.pd-seach {
  padding: 0 0 19px 20px;
}
.pd-seach p {
  display: inline-block;
  width: 450px;
  height: 40px;
  border: 1px solid #e5e5e5;
}
.pd-seach p a {
  display: inline-block;
  width: 70px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border-left: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  color: #888888;
  float: right;
}
.pd-ord-list {
  width: 1121px;
}
.pd-ord-list table {
  border: 1px solid #ececec;
}
.pd-ord-thead {
  background-color: #f4f8fd;
}
.pd-ord-thead tr {
  width: 1121px;
  height: 47px;
}
.pd-ord-thead tr th {
  text-align: center;
  font-size: 14px;
  color: #333;
}
.pd-ord-thead tr th p {
  font-size: 14px;
  color: #333;
}
.pd-ord-thead tr .ordlist-fir-th {
  position: relative;
}
.pd-ord-thead tr .ordlist-fir-th img {
  position: absolute;
  left: 15px;
  top: 17px;
}
.pd-ord-thead tr .ordlist-fir-th span {
  margin-left: 45px;
}
.inline-block {
  display: inline-block;
  border-radius: 4px;
  height: 30px;
}
.pd-ord-tbody tr {
  border-top: 1px solid #ececec;
}
.pd-ord-tbody tr td {
  font-size: 12px;
  text-align: center;
  color: #000;
  position: relative;
  height: 60px;
}
.pd-ord-tbody tr td p {
  color: #000;
  font-size: 12px;
}
.pd-ord-tbody tr td .border-span {
  height: 40px;
  width: 1px;
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #ececec;
}
.pd-ord-tbody tr .ordlist-fir-td {
  position: relative;
}
.pd-ord-tbody tr .ordlist-fir-td img {
  position: absolute;
  left: 14px;
  top: 24px;
}
.pd-ord-tbody tr .ordlist-fir-td .pd-ord-time {
  margin-left: 30px;
}
.pd-ord-tbody tr .pd-img-td img {
  width: 46px;
  height: 46px;
}
.pd-ord-tbody tr .ordlist-imgtd .ordlist-goods-img {
  width: 46px;
  height: 46px;
}
.pd-ord-tbody tr .pd-star-num-p {
  width: 140px;
  display: inline-block;
  text-align: left;
}
.pd-ord-tbody tr .pd-change-stu,
.pd-ord-tbody tr .pd-cx-buy {
  display: inline-block;
  width: 99px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border-left: 1px solid #e7e7e7;
  background-color: #fff;
  color: #08aceb;
  border: 1px solid #08aceb;
  border-radius: 4px;
}
.pd-ord-tbody tr .pd-purchase-succ {
  display: inline-block;
  width: 56px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #08aceb;
  border-radius: 4px;
  color: #fff;
}
.pd-ord-tbody tr .pd-purchase-err {
  display: inline-block;
  height: 30px;
  width: 56px;
  text-align: center;
  line-height: 28px;
  border-radius: 4px;
  color: #08aceb;
  border: 1px solid #08aceb;
}
